{% block sw_cms_el_config_dialog %}
<div class="sw-cms-el-config-dialog">


        <sw-text-field v-model="element.config.headline.value" label="Headline">

        </sw-text-field>

        <sw-text-field v-model="element.config.subLine.value" label="Sub text">

        </sw-text-field>



        <sw-text-editor v-model="element.config.description.value" label="Description" >
        </sw-text-editor>

        <div class="sw-cms-el-config-image__link">
            <sw-field v-model="element.config.buttonTitle.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA title">
            </sw-field>
            <sw-field v-model="element.config.url.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA Link">
            </sw-field>
        </div>

    </div>
{% endblock %}

