{% block sw_cms_el_dual_teaser %}
  <div class="sw-cms-preview-dual-teaser">
    <img :src="'/spstheme/img/custom-elements/dual-teaser.png' | asset" alt="example" width="100%">
  </div>
{% endblock %}