{% block sw_cms_element_benefits_config %}
    <div class="sw-cms-el-config-image">
        {% block sw_cms_element_benefits_config_media_upload %}
            <h2>LEFT SECTION:</h2>
            <sw-cms-mapping-field :label="$tc('sw-cms.elements.image.label')" valueTypes="entity" entity="media" v-model="element.config.media">
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag"
                                 :source="previewSource"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal"
                                 @media-upload-remove-image="onImageRemove">
                </sw-media-upload-v2>

                <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                    <img :src="demoValue.url" v-if="demoValue.url">
                    <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                    </sw-alert>
                </div>
            </sw-cms-mapping-field>

            <sw-upload-listener
                    :uploadTag="uploadTag"
                    autoUpload
                    @media-upload-finish="onImageUpload">
            </sw-upload-listener>
        {% endblock %}

        <sw-text-field v-model="element.config.headline1.value" label="Headline">
        </sw-text-field>
        <sw-text-field v-model="element.config.subLine1.value" label="subLine">
        </sw-text-field>
        <sw-text-editor v-model="element.config.description1.value" label="Description"
                :allowInlineDataMapping="true">
        </sw-text-editor>

        <br><hr><br>
        <h2>RIGHT SECTION:</h2>
        <sw-text-field v-model="element.config.headline2.value" label="Headline">
        </sw-text-field>
        <sw-text-field v-model="element.config.subLine2.value" label="subLine">
        </sw-text-field>
        <sw-text-editor v-model="element.config.description2.value" label="Description"
                :allowInlineDataMapping="true">
        </sw-text-editor>
        <br>
        <h3>Bullet points / advantages</h3>
        <sw-text-field v-model="element.config.advantage1.value" label="">
        </sw-text-field>
        <sw-text-field v-model="element.config.advantage2.value" label="">
        </sw-text-field>
        <sw-text-field v-model="element.config.advantage3.value" label="">
        </sw-text-field>
        <sw-text-field v-model="element.config.advantage4.value" label="">
        </sw-text-field>
        <sw-text-field v-model="element.config.advantage5.value" label="">
        </sw-text-field>

        <br>
        <sw-field v-model="element.config.btnTitle.value"
              class="sw-cms-el-config-image__link-input"
              type="text"
              label="CTA Label">
        </sw-field>
        <sw-field v-model="element.config.btnUrl.value"
              class="sw-cms-el-config-image__link-input"
              type="text"
              label="CTA Link"
              :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterUrl')">
        </sw-field>

        {% block sw_cms_element_benefits_config_media_modal %}
            <sw-media-modal-v2
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal">
            </sw-media-modal-v2>
        {% endblock %}

    </div>
{% endblock %}
