{% block sw_cms_element_third_grid_preview %}
<div class="sw-cms-el-preview-third-grid">
    <img :src="'/spstheme/img/custom-elements/third-grid.png' | asset" alt="thirdGrid" width="100%">
</div>
{% endblock %}
