{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% block component_filter_range_toggle_icon %}
    <span class="icon icon-filter-panel-item-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12">
            <path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M20.467 1.012v0l-9.626 9.626v0L1.215 1.012v0"/>
        </svg>
    </span>
{% endblock %}
