{% block sw_cms_block_third_grid %}
<div class="sw-cms-block-third-grid">
    <slot name="thirdgrid">
        {% block sw_cms_block_third_grid_slot_third_grid %}{% endblock %}
    </slot>
</div>
{% endblock %}
