{% block sw_cms_el_config_text %}
<div class="sw-cms-el-config-quick-facts">


        <sw-text-field v-model="element.config.headline.value" label="Headline">

        </sw-text-field>

        <sw-text-editor v-model="element.config.content.value" label="Description"
                :allowInlineDataMapping="true">
        </sw-text-editor>

        <div class="sw-cms-el-config-image__link">
            <sw-field v-model="element.config.buttonTitle.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA title">
            </sw-field>
            <sw-field v-model="element.config.url.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA Link"
                      :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterUrl')">
            </sw-field>
            <sw-field class="sw-cms-el-config-image__link-tab"
                      v-model="element.config.newTab.value"
                      type="switch"
                      :label="$tc('sw-cms.elements.image.config.label.linkNewTab')">
            </sw-field>
        </div>

    </div>
{% endblock %}

