{% block sw_cms_element_text_bullets_config %}
    <div class="sw-cms-el-config-text-bullets">
        <div class="main-content">
            <h2>Global content</h2>
            <sw-text-field label="Headline"
                           v-model="element.config.header.value">
            </sw-text-field>


            <sw-text-editor label="Text block"
                            v-model="element.config.description.value" >
            </sw-text-editor>

            <sw-text-field label="Bullets headline"
                           v-model="element.config.title.value">
            </sw-text-field>
        </div>

        <br><br>
        <h2> Bullets </h2>
        <div v-for="(item, index) in element.config.bullets.value" :class="[`bullet-box  is-index--${index}`]">



            <div class="item-bullet">
                <sw-text-field label="Bullet text"
                               v-model="element.config.bullets.value[index].content.value">
                </sw-text-field>

            </div>




            <button class="service-remove-entry">
                <sw-icon name="default-action-trash"
                         class="sw-remove-icon"
                         @click="removeElement(index)">
                </sw-icon>
            </button>

            <br>
        </div>
        <hr>
        <button class="service-add-entry">

            <sw-icon name="default-basic-plus-circle"
                     class="sw-first-run-wizard-mailer-selection__selection-icon"
                     @click="addElement()">
                Add new item
            </sw-icon>
        </button>
    </div>
{% endblock %}
