{% block sw_cms_element_dialog %}
<div class="sw-cms-el-dialog">
    <div class="dialog-block">
        <img :src="'/spstheme/img/custom-elements/dialog.png' | asset">
    </div>
</div>
{% endblock %}
