{% block sw_cms_el_preview_subcategory_teaser %}
  <div class="sw-cms-preview-subcategory-teaser">
    <img :src="'/spstheme/img/custom-elements/sub-teasers.png' | asset" alt="example" width="100%">
  </div>
{% endblock %}