@import "~scss/variables";

.sw-cms-el-banner-text {
    display: grid;
    max-width: 100%;
    width: 100%;
    position: relative;
  .image{
      top: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.is--cover {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.is--stretch {
        img {
            width: 100%;
        }
    }
}
.banner-text-inner{
  padding: 60px 0 30px;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  color: white;
  overflow: hidden;
  .container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;

  }
  .button-block{
    margin-top: 43px;
    display: flex;

  }
  .button-inner{
    text-align: right;
    margin-top: 5px;
  }
  .text-topic{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
  .text-headline{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    max-width: 330px;
  }
  .text-subline{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    max-width: 240px;
  }
  .block-inner{
    min-width: 260px;
  }
  .button-additional-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 200px;
  }
  .banner-text-link{
    color: white;
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    &:before{
      content: "";
      display: block;
      position: absolute;
      height: 64px;
      width: 2px;
      background: #fff;
      left: -10px;
      transform-origin: center;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  @media screen and (min-width: 800px){
    .container{
      justify-content: space-between;
      min-height: 538px;
      position: relative;
      &.left-top {
        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background: #CD0F43FF;
          transform: translateX(-100%) rotate(-45deg);
          transform-origin: right;
          left: 40px;
          top: 30px;
        }
        &:after{
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background: #CD0F43FF;
          transform: translateX(100%) rotate(-45deg);
          transform-origin: left;
          left: -140px;
          bottom: -100px;
        }
      }
      &.left-bottom{
         &:before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background: #CD0F43FF;
          transform: translateX(-100%) rotate(-45deg);
          transform-origin: right;
          left: 120px;
          top: unset;
          bottom: 30px;
        }
        &:after{
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background: #CD0F43FF;
          transform: translateX(100%) rotate(-45deg);
          transform-origin: left;
          left: -90px;
          bottom: auto;
          top: 200px;
        }
      }
    }
    padding: 90px 0 140px;
    .text-topic{
      font-size: 14px;
    }
    .text-headline{
      font-size: 48px;
      line-height: 56px;
      max-width: 750px;
    }
    .text-subline{
      font-size: 14px;
      line-height: 24px;
      max-width: 432px;
    }
    .button-additional-text{
      font-size: 26px;
      line-height: 34px;
      max-width: 245px;
    }
    .button-block.right{
      justify-content: end;
      .button-additional-text{
        text-align: right;
      }
    }
    .block-inner{
      min-width: 360px;
    }
    .banner-text-link{
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
    }
  }
  @media screen and (min-width: 1200px){
    padding: 70px 0 180px;
    .text-headline{
      font-size: 80px;
      line-height: 90px;
      max-width: 1210px;
    }
    .text-subline{
      font-size: 20px;
      line-height: 32px;
      max-width: 550px;
    }
    .button-additional-text{
      font-size: 30px;
      line-height: 40px;
      max-width: 310px;
    }
    .block-inner{
      min-width: 460px;
    }
    .banner-text-link{
      font-size: 20px;
      &:before{
        height: 144px;
      }
    }
    .container{
      min-height: 710px;
      &.left-top {
        &:before {
          left: -10px;
        }
        &:after {
          display: none;
        }
      }
      &.left-bottom{
        &:before {
          left: 0;
          top: unset;
          bottom: 0;
        }
        &:after {
          left: 120px;
          bottom: 200px;
          top: unset;
        }
      }
    }
  }
}