{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu %}
    <nav class="nav main-navigation-menu"
        itemscope="itemscope"
        itemtype="http://schema.org/SiteNavigationElement">
        {% set homeLabel = context.salesChannel.translated.homeName|default("general.homeLink"|trans) %}

        {% block layout_main_navigation_menu_items %}
            <div class="nav-inner">
                {{ parent() }}
                <div class="search-box--inner">
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                    <div class="search-toggle">
                        <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                type="button"
                                aria-label="{{ "header.searchButton"|trans|striptags }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18">
                                <path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-miterlimit="20" stroke-width="2" d="M17 17l-4.799-4.863"/>
                                <path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M1 7.5a6.5 6.5 0 1 1 13 0 6.5 6.5 0 0 1-13 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        {% endblock %}
    </nav>
{% endblock %}

{% block layout_main_navigation_menu_item %}

        {% if treeItem.children|length > 0 %}
            <div class="nav-link main-navigation-link dropdown"  title="{{ name }}">

                <a href="{{ category_url(treeItem.category) }}" class="btn dropdown-navigation {% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}" type="button" id="button-{{ category.id }}" >
                    <span itemprop="name">{{ name }}</span>
                </a>

                <div class="dropdown-menu nav-dropdown" aria-labelledby="button-{{ category.id }}">
                    {% for children in treeItem.children %}
                        <a href="{{ category_url(children.category) }}" class="subcategory-link btn {% if children.children|length > 0 %}has-childes{% endif %}">
                            {{ children.category.translated.name }}
                        </a>

                        {% if children.children|length > 0 %}
                            <div class="sub-childes">
                            {% for subChildren in children.children %}
                                <a href="{{ category_url(subChildren.category) }}" class="subcategory-link level-1 btn">
                                    {{ subChildren.category.translated.name }}
                                </a>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% else %}
            {{ parent() }}
        {% endif %}


{% endblock %}

 {% block layout_main_navigation_menu_flyout_wrapper %}{% endblock %}