.sw-cms-preview-dual-teaser {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  .btn {
    display: inline-block;
    padding: 0 10px;
    margin-top: 10px;
    background: #d1d9e0;
    color: #52667a;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    border-radius: 3px;
  }

  .slide {
    width: 100%;
  }

  .content-container {
    height: 100%;
    min-height: 160px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f2f5;

    .small-headline {
      padding-bottom: 5px;
    }

    .text {
      padding-bottom: 5px;
    }
  }

  .controls,
  .nav {
    position: absolute;
    display: flex;
  }

  .controls {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;

    .btn {
      width: 18px;
      height: 18px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .sw-icon {
        width: 8px;
        height: 8px;
      }
    }
  }

  .nav {
    bottom: 10px;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

    > div {
      width: 8px;
      height: 8px;
      opacity: 0.5;
      margin: 0 2px;
      border-radius: 999px;
      background-color: #758ca3;

      &:first-child {
        opacity: 1;
      }
    }
  }
}