.sw-cms-el-config-service {
    .item-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        margin: 30px 0 10px;
    }
    .sw-cms-mapping-field .sw-cms-mapping-field__info{
        height: 40px;
    }
    .sw-cms-mapping-field .sw-cms-mapping-field__label{
        font-size: 29px;
        line-height: 40px;
    }
    .service-remove-entry{
        border: none;
        background: transparent;
        margin-bottom: 20px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 0;
        path{
            color: red;
        }
    }
    .service-add-entry{
        margin-top: 20px;
        border: none;
        background: transparent;
        cursor: pointer;
        .sw-icon{
            height: 35px;
            width: 35px;
        }
        path{
            color: #1a9efe;
        }
    }
    .service-box  {
        margin-bottom: 20px;
        position: relative;
    }
    .sc-usps-add-entry {
        width: 100%;
        border: none;
        background: none;
        cursor: pointer;
        svg { color: yellowgreen; }
    }
    .sc-usps-remove-entry {
        border: none;
        background: none;
        cursor: pointer;
        svg { color: #ff6e6e; }
    }
    .sw-media-upload-v2 {
        margin-bottom: 22px;

        .sw-media-upload-v2__header {
            display: none;
        }
    }

    .sw-cms-el-config-image__mapping-preview {
        display: grid;
        width: 100%;
        height: 200px;
        justify-items: center;
        align-items: start;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            overflow: hidden;
        }

        .sw-cms-el-config-image__preview-info {
            width: 100%;
        }
    }
}
