{% block sw_cms_element_service_config %}
    <div class="sw-cms-el-config-service">
        <div class="main-content">
            <h2>Global content</h2>
            <sw-text-field label="Headline"
                           v-model="element.config.header.value">
            </sw-text-field>

            <sw-text-field label="Sub-headline text"
                           v-model="element.config.supText.value">
            </sw-text-field>

            <sw-text-editor label="Text block"
                            v-model="element.config.textBlock.value" >
            </sw-text-editor>
        </div>
        <hr>
        <br><br>
        <h2> Service items </h2>
        <div v-for="(item, index) in element.config.sliders.value" :class="[`service-box  is-index--${index}`]">

            <sw-cms-mapping-field :label="`Service item ${index+1}`" valueTypes="entity" entity="media" v-model="element.config.sliders.value[index].media">
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag(index)"
                                 :source="previewSource(index)"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal(index)"
                                 @media-upload-remove-image="onImageRemove(index)">
                </sw-media-upload-v2>

                <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                    <img :src="demoValue.url" v-if="demoValue.url">
                    <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                    </sw-alert>
                </div>
            </sw-cms-mapping-field>

            <sw-upload-listener
                    :uploadTag="uploadTag(index)"
                    autoUpload
                    @media-upload-finish="(targetId) => {onImageUpload(index, targetId)}">
            </sw-upload-listener>

            <div class="item-text">
                <sw-text-field label="Service description"
                               v-model="element.config.sliders.value[index].headline.value">
                </sw-text-field>

                <sw-text-field label="Service url"
                               v-model="element.config.sliders.value[index].url.value">
                </sw-text-field>
            </div>


            <sw-media-modal-v2
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove(index)"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal(index)">
            </sw-media-modal-v2>

            <button class="service-remove-entry">
                <sw-icon name="default-action-trash"
                         class="sw-remove-icon"
                         @click="removeElement(index)">
                </sw-icon>
            </button>
            <hr>
            <br>
        </div>

        <button class="service-add-entry">

            <sw-icon name="default-basic-plus-circle"
                     class="sw-first-run-wizard-mailer-selection__selection-icon"
                     @click="addElement()">
                Add new item
            </sw-icon>
        </button>
    </div>
{% endblock %}
