{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_navigation %}
    <div class="nav-main d-none d-xl-block">
        {{ parent() }}
    </div>
    <div class="global-badge">
        <a href="{{ "spsTheme.badgeRequest.badgeLink"|trans|sw_sanitize }}" class="badge-link d-inline-block">
            <div class="badge-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="32" viewBox="0 0 34 32">
                    <g>
                        <path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="1.5" d="M32.654.732v0H1.344v24.195h10.911v0L17 30.62v0l4.744-5.693v0h10.911v0z"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="1.5" d="M18.41 13.167v0l3.143 2.367a2.844 2.844 0 0 1 1.139 2.277v1.423H11.306v0-1.423c0-.897.421-1.74 1.139-2.277l3.142-2.367v0"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="1.5" d="M16.999 13.541v0a2.846 2.846 0 0 1-2.846-2.846V9.272a2.846 2.846 0 0 1 2.846-2.847v0a2.846 2.846 0 0 1 2.846 2.847v1.423A2.846 2.846 0 0 1 17 13.54z"/>
                    </g>
                </svg>
            </div>
            <div class="badge-text">
                 {{ "spsTheme.badgeRequest.badgeLabel"|trans|sw_sanitize }}
            </div>
        </a>
    </div>
{% endblock %}

