{% sw_extends '@Storefront/storefront/layout/breadcrumb.html.twig' %}

{% block layout_breadcrumb_list %}
    <ol class="breadcrumb"
        itemscope
        itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb-item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem">

                <a href="{{ path('frontend.home.page') }}"
                   class="breadcrumb-link home-link"
                   title="{{ name }}"
                   itemprop="item">
                    <link itemprop="url"
                          href="{{ path('frontend.home.page') }}"/>
                    <span class="breadcrumb-title" itemprop="name">
                        {{ context.salesChannel.translated.homeName|default("general.homeLink"|trans)|sw_sanitize }}
                    </span>
                </a>

            <meta itemprop="position" content="{{ loop.index }}"/>
        </li>
        <div class="breadcrumb-placeholder">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="none" stroke="#d3d3d3" stroke-miterlimit="20" d="M15 1L1 15"/>
            </svg>
        </div>
        {% for breadcrumbCategory in breadcrumbCategories %}
            {% set key = breadcrumbCategory.id %}
            {% set name = breadcrumbCategory.translated.name %}

            {% block layout_breadcrumb_list_item %}
                <li class="breadcrumb-item"
                    {% if key is same as(categoryId) %}aria-current="page"{% endif %}
                    itemprop="itemListElement"
                    itemscope
                    itemtype="https://schema.org/ListItem">
                    {% if breadcrumbCategory.type == 'folder' %}
                        <div itemprop="name">{{ name }}</div>
                    {% else %}
                        <a href="{{ category_url(breadcrumbCategory) }}"
                           class="breadcrumb-link {% if key is same as(categoryId) %} is-active{% endif %}"
                           title="{{ name }}"
                           {% if category_linknewtab(breadcrumbCategory) %}target="_blank"{% endif %}
                           itemprop="item">
                            <link itemprop="url"
                                  href="{{ category_url(breadcrumbCategory) }}"/>
                            <span class="breadcrumb-title" itemprop="name">{{ name }}</span>
                        </a>
                    {% endif %}
                    <meta itemprop="position" content="{{ loop.index }}"/>
                </li>
            {% endblock %}

            {% block layout_breadcrumb_placeholder %}
                {% if key != breadcrumbKeys|last %}
                    <div class="breadcrumb-placeholder">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path fill="none" stroke="#d3d3d3" stroke-miterlimit="20" d="M15 1L1 15"/>
                        </svg>
                    </div>
                {% endif %}
            {% endblock %}
        {% endfor %}
    </ol>
{% endblock %}