/*
Global variables
==================================================
*/

// Font

@font-face {
    font-family: 'Noway italic';
    src: url('/bundles/spstheme/webfonts/Noway-Italic.woff2') format('woff2'),
        url('/bundles/spstheme/webfonts/Noway-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Noway';
    src: url('/bundles/spstheme/webfonts/Noway.woff2') format('woff2'),
        url('/bundles/spstheme/webfonts/Noway.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/bundles/spstheme/webfonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('/bundles/spstheme/webfonts/LucidaGrande.ttf') format('truetype');
    font-style: normal;
}



$italic: 'Noway italic';
$roboto: 'Roboto Condensed', sans-serif;
$lucida: 'Lucida Grande', sans-serif;

/*
 Color variables
=========
*/

$white : #ffffff;

$shadow : #e7e7e7; /* using in box-shadow effects */

$darkGray : #88a5af;

$gray : #eaeaea ;

$lightGray : #f7f7f7;

$primaryDark : #a0002c;
