{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    {% set footerLogo1 = theme_config('sps-footer-logo-1') %}
    {% set footerLogo2 = theme_config('sps-footer-logo-2') %}
    {% set footerLogo3 = theme_config('sps-footer-logo-3') %}
    {% set footerLogo4 = theme_config('sps-footer-logo-4') %}
    {% set footerLogo5 = theme_config('sps-footer-logo-5') %}
    {% set footerLogo6 = theme_config('sps-footer-logo-6') %}
    {% set footerLogo7 = theme_config('sps-footer-logo-7') %}
    {% set footerLogo8 = theme_config('sps-footer-logo-8') %}


    {% set footerLogos = [
         footerLogo1 ,
         footerLogo2 ,
         footerLogo3 ,
         footerLogo4 ,
         footerLogo5 ,
         footerLogo6 ,
         footerLogo7 ,
         footerLogo8
        ]
    %}

    <div class="footer-top">
        <div class="container">
            <div class="icons-headline">
                {{ "spsTheme.footer.footerTopHeadline"|trans|sw_sanitize }}
            </div>
            <div class="icons-subheadline">
                {{ "spsTheme.footer.footerTopSubheadline"|trans|sw_sanitize }}
            </div>
            <div class="logos-container">
                {% for key, value in footerLogos %}
                    {% if value %}
                        <div class="footer-logo">
                         <img src="{{ value |sw_encode_url }}"
                             alt="{{ key }}"
                             class="img-fluid "/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="footer-nav-inner">
        <div class="container">
            {% block layout_footer_navigation %}
                 <div class="footer-logo">
                    <a class="footer-logo-main-link"
                       href="{{ path('frontend.home.page') }}"
                       title="{{ "header.logoLink"|trans|striptags }}">
                        <picture class="footer-logo-picture">
                            {% if theme_config('sw-logo-tablet') and theme_config('sw-logo-tablet') != theme_config('sw-logo-desktop') %}
                                <source srcset="{{ theme_config('sw-logo-tablet') |sw_encode_url }}"
                                        media="(min-width: {{ theme_config('breakpoint.md') }}px) and (max-width: {{ theme_config('breakpoint.lg') - 1 }}px)">
                            {% endif %}

                            {% if theme_config('sw-logo-mobile') and theme_config('sw-logo-mobile') != theme_config('sw-logo-desktop') %}
                                <source srcset="{{ theme_config('sw-logo-mobile') |sw_encode_url }}"
                                        media="(max-width: {{ theme_config('breakpoint.md') - 1 }}px)">
                            {% endif %}

                            {% if theme_config('sw-logo-desktop') %}
                                <img src="{{ theme_config('sw-logo-desktop') |sw_encode_url }}"
                                     alt="{{ "header.logoLink"|trans|striptags }}"
                                     class="img-fluid header-logo-main-img"/>
                            {% endif %}
                        </picture>
                    </a>
                </div>
                {{ parent() }}
            {% endblock %}
        </div>
    </div>

    {% block layout_footer_bottom %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block layout_footer_service_menu %}{% endblock %}
{% block layout_footer_vat %}{% endblock %}

{% block layout_footer_copyright %}
    <div class="footer-logos container">
        <div class="logo-container">
            <div class="logos-headline">
                {{ "spsTheme.footer.footerShipping"|trans|sw_sanitize }}
            </div>
            <div class="logo-inner">
                {% for shippingMethod in page.salesChannelShippingMethods %}
                    {% if shippingMethod.media %}
                        <div class="footer-logo is-shipping">
                            {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                media: shippingMethod.media,
                                sizes: {
                                    'default': '100px'
                                },
                                attributes: {
                                    'class': 'img-fluid footer-logo-image',
                                    'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                    'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                }
                            } %}
                        </div>
                    {% else %}
                        <div class="footer-logo is-shipping">
                            {{ shippingMethod.translated.name }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="logo-container">
            <div class="logos-headline">
                {{ "spsTheme.footer.footerPayment"|trans|sw_sanitize }}
            </div>
            <div class="logo-inner">
                {% for paymentMethod in page.salesChannelPaymentMethods %}
                    {% if paymentMethod.media %}
                        <div class="footer-logo is-payment">
                            {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                media: paymentMethod.media,
                                sizes: {
                                    'default': '100px'
                                },
                                attributes: {
                                    'class': 'img-fluid footer-logo-image',
                                    'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                    'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                }
                            } %}
                        </div>
                    {% else %}
                        <div class="footer-logo is-payment">
                            {{ paymentMethod.translated.name }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% set footerQuality1 = theme_config('sps-quality-symbol-1') %}
        {% set footerQuality2 = theme_config('sps-quality-symbol-2') %}
        {% set footerQuality3 = theme_config('sps-quality-symbol-3') %}
        {% set qualityLogos = {
             footerQuality1 ,
             footerQuality2 ,
             footerQuality3
            }
        %}
        <div class="logo-container">
            <div class="logos-headline">
                {{ "spsTheme.footer.footerQuality"|trans|sw_sanitize }}
            </div>
            <div class="logo-inner">
                {% for key, value in qualityLogos %}
                    {% if value %}
                        <div class="footer-logo is-quality">
                         <img src="{{ value |sw_encode_url }}"
                             alt="{{ key }}"
                             class="img-fluid footer-logo-image"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% set footerYoutube = theme_config('sps-footer-youtube') %}
        {% set footerTwitter = theme_config('sps-footer-twitter') %}
        {% set footerFacebook = theme_config('sps-footer-facebook') %}
        {% set footerLinkedin = theme_config('sps-footer-linkedin') %}

        {% set socialLinks = {
            'youtube' : footerYoutube ,
            'twitter' : footerTwitter ,
            'facebook' : footerFacebook ,
            'linkedin' : footerLinkedin
        }
        %}
        <div class="logo-container">
            <div class="logos-headline">
                {{ "spsTheme.footer.footerSocial"|trans|sw_sanitize }}
            </div>
            <div class="social-buttons">
                {% for key, value in socialLinks %}
                    {% if value %}
                        <a itemprop="url" class="follow-{{ key }}-link social-link footer-logo" href="{{ value }}" target="_blank">
                            {% set url = '/bundles/spstheme/img/social/' ~ key ~'.png' %}
                            <img src="{{ asset(url) }}" lass="img-fluid footer-logo-image">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        {{ "spsTheme.footer.footerCopyright"|trans|sw_sanitize }}
    </div>
{% endblock %}


{% block layout_footer_navigation_hotline %}
{% endblock %}
{#    <div class="col-md-3 footer-column ">#}

{#        <div class="footer-column-headline footer-headline " >#}
{#                {{ "spsTheme.header.serviceMenuLabel"|trans|sw_sanitize }}#}
{#        </div>#}


{#        <div class="footer-column-content">#}
{#            {% for category in page.header.serviceMenu %}#}
{#                {% set externalLink = category.translated.externalLink %}#}
{#                <a class="footer-link subcategory-link "#}
{#                   href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}"#}
{#                   title="{{ category.translated.name }}">#}
{#                    {{ category.translated.name }}#}
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21">#}
{#                       <g transform="rotate(-90 8 10.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" stroke-width=".6" d="M11.402 8.7v0l-3.601 3.6v0L4.199 8.7v0"/>#}
{#                        </g>#}
{#                    </svg>#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{% block layout_footer_navigation_columns %}
    {% for  root in page.footer.navigation.tree %}
        <div class="col-md-3 footer-column">
            <div class="footer-column-headline footer-headline ">
                {{ root.category.translated.name }}
            </div>

            <div  class="footer-column-content  ">
                {% for treeItem in root.children %}
                    {% set category = treeItem.category %}
                    {% set name = category.translated.name %}
                    {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                    {% set externalLink = category.translated.externalLink %}
                    {% if category.type == 'folder' %}
                        <div class=" no-link ">{{ name }}</div>
                    {% else %}
                        <a class="footer-link subcategory-link"
                           href="{{ category_url(category) }}"
                           {% if category_linknewtab(category) %}target="_blank"{% endif %}
                           title="{{ name }}">
                            {{ name }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21">
                               <g transform="rotate(-90 8 10.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" stroke-width=".6" d="M11.402 8.7v0l-3.601 3.6v0L4.199 8.7v0"/>
                                </g>
                            </svg>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if loop.index == 4 %}
                <div class="service-block d-none d-md-block">
                    <div class="hotline-title footer-headline">{{ "spsTheme.navigation.hotlineTitle"|trans|sw_sanitize }}</div>
                    <div class="hotline-text">{{ "spsTheme.navigation.hotlineText"|trans|sw_sanitize }}</div>
                    <div class="hotline-number">{{ "spsTheme.navigation.hotlinePhone"|trans|sw_sanitize }}</div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="col service-block d-block d-md-none">
        <div class="hotline-title footer-headline">{{ "spsTheme.navigation.hotlineTitle"|trans|sw_sanitize }}</div>
        <div class="hotline-text">{{ "spsTheme.navigation.hotlineText"|trans|sw_sanitize }}</div>
        <div class="hotline-number">{{ "spsTheme.navigation.hotlinePhone"|trans|sw_sanitize }}</div>
    </div>
{% endblock %}