{% block sw_cms_block_quick_facts %}
<div class="sw-cms-block-text">
    <slot name="quickfacts">
        {% block sw_cms_block_text_slot_quick_facts_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
