@import "~scss/variables";

.sw-cms-el-quick-facts {
    height: 100%;
    position: relative;
    width: 100%;
    word-break: break-word;
    text-align: center;
    background-color: #cd0f43;
    color: #fff;
    .quick-facts-block{
      background-color: #cd0f43;
      color: white;
      padding: 35px 30px;
      .facts-label{
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        //margin-bottom: 10px;
      }
      .fact-content{
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
      }
      .button-box{
        text-align: right;
        margin-top: 20px;
      }
      .quick-facts-link{
        color: white;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        font-weight: 500;
        font-size: 12px;
        padding-left: 50px;
        &:before{
          left: 20px;
          width: 32px;
          top: 5px;
          position: absolute;
          content: "";
          height: 2px;
          background: #ffffff;
          transform-origin: center;
          transform: rotate( -45deg);
        }
      }
      @media (min-width : 767px){
        padding: 50px;
        .facts-label{
          font-size: 14px;
        }
        .fact-content{
          font-size: 32px;
          line-height: 52px;
        }
        .quick-facts-link{
          font-size: 20px;
          &:before{
            top: 10px;
            width: 50px;
            left: 0px;
          }
        }
      }
      @media (min-width : 1200px){
        padding: 40px;
        .button-box{
          margin-top: 25px;
        }

      }
    }
}
