{% block sw_cms_element_sps_slider_config %}
    <div class="sw-cms-el-config-sps-slider">

        <h2> Images </h2>
        <div v-for="(item, index) in element.config.sliders.value" :class="[`sps-image  is-index--${index}`]">

            <sw-cms-mapping-field  valueTypes="entity" entity="media" v-model="element.config.sliders.value[index].media">
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag(index)"
                                 :source="previewSource(index)"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal(index)"
                                 @media-upload-remove-image="onImageRemove(index)">
                </sw-media-upload-v2>

                <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                    <img :src="demoValue.url" v-if="demoValue.url">
                    <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                    </sw-alert>
                </div>

            </sw-cms-mapping-field>

            <sw-upload-listener
                    :uploadTag="uploadTag(index)"
                    autoUpload
                    @media-upload-finish="(targetId) => {onImageUpload(index, targetId)}">
            </sw-upload-listener>

            <sw-text-field label="Short description"
                           v-model="element.config.sliders.value[index].title.value">
            </sw-text-field>


            <sw-media-modal-v2
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove(index)"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal(index)">
            </sw-media-modal-v2>

            <button class="service-remove-entry">
                <sw-icon name="default-action-trash"
                         class="sw-remove-icon"
                         @click="removeElement(index)">
                </sw-icon>
            </button>
            <hr>
            <br>
        </div>

        <button class="service-add-entry">

            <sw-icon name="default-basic-plus-circle"
                     class="sw-first-run-wizard-mailer-selection__selection-icon"
                     @click="addElement()">
                Add new item
            </sw-icon>
        </button>
    </div>
{% endblock %}
