.sw-cms-el-config-sps-slider {

    .sw-cms-mapping-field .sw-cms-mapping-field__info{
        display: none;
    }

    .sps-image{
        position: relative;
    }

    .service-remove-entry{
        border: none;
        background: transparent;
        margin-bottom: 20px;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 0;
        path{
            color: red;
        }
    }
    .service-add-entry{
        margin-top: 20px;
        border: none;
        background: transparent;
        cursor: pointer;
        .sw-icon{
            height: 35px;
            width: 35px;
        }
        path{
            color: #1a9efe;
        }
    }


    .sw-media-upload-v2 {
        margin-bottom: 22px;
        .sw-media-upload-v2__header {
            display: none;
        }
    }
    .sw-field{
        margin-bottom: 45px;
    }

}
