{% block sw_cms_block_content_slider_preview %}
    <div class="sw-cms-preview-content-slider">
        <img :src="'/spstheme/img/custom-elements/contentSlider.png' | asset">
    </div>
{% endblock %}
