{% block sw_cms_element_banner_text_config %}
    <div class="sw-cms-el-config-image">
        {% block sw_cms_element_banner_text_config_media_upload %}
            <sw-cms-mapping-field :label="$tc('sw-cms.elements.image.label')" valueTypes="entity" entity="media" v-model="element.config.media">
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag"
                                 :source="previewSource"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal"
                                 @media-upload-remove-image="onImageRemove">
                </sw-media-upload-v2>

                <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                    <img :src="demoValue.url" v-if="demoValue.url">
                    <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                    </sw-alert>
                </div>
            </sw-cms-mapping-field>

            <sw-upload-listener
                    :uploadTag="uploadTag"
                    autoUpload
                    @media-upload-finish="onImageUpload">
            </sw-upload-listener>
        {% endblock %}

        <sw-text-field v-model="element.config.headline.value" label="Headline">
        </sw-text-field>

        <sw-text-field v-model="element.config.topic.value" label="Topic">
        </sw-text-field>

        <sw-text-field v-model="element.config.subline.value" label="SubLine">
        </sw-text-field>

        <sw-select-field
                v-model="element.config.skewDesign.value"
                label="Skew design">
            <option value="left-top">
                Left & Top
            </option>
            <option value="left-bottom">
                Left & Bottom
            </option>

        </sw-select-field>

        <div class="sw-cms-el-config-image__link">
            <sw-field v-model="element.config.buttonText.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA teaser">
            </sw-field>
            <sw-field v-model="element.config.buttonTitle.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA title">
            </sw-field>
            <sw-field v-model="element.config.url.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA Link"
                      :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterUrl')">
            </sw-field>
            <sw-field class="sw-cms-el-config-image__link-tab"
                      v-model="element.config.newTab.value"
                      type="switch"
                      :label="$tc('sw-cms.elements.image.config.label.linkNewTab')">
            </sw-field>
        </div>

        <sw-select-field
                v-model="element.config.btnAlignment.value"
                label="Button alignment">
            <option value="left">
                Left
            </option>
            <option value="right">
                Right
            </option>

        </sw-select-field>

        {% block sw_cms_element_banner_text_config_media_modal %}
            <sw-media-modal-v2
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal">
            </sw-media-modal-v2>
        {% endblock %}

    </div>
{% endblock %}
