{% block component_product_box_action_inner %}
    {% set id = product.id %}
    <div class="product-action">
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
           class="btn btn-block btn-light"
           title="{{ "listing.boxProductDetails"|trans|striptags }}">
            {{ "spsTheme.productBox.pdpLabel"|trans|sw_sanitize }}
        </a>
        <a href="{{ "spsTheme.productBox.contactLink"|trans|sw_sanitize }}" class="product-contact-btn">
            <span class="btn-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22"><g><g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M23 .5v0H1v17h7.667v0l3.333 4v0l3.333-4v0H23v0z"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M12.992 9.237v0L15.2 10.9c.504.378.8.97.8 1.6v1H8v0-1c0-.63.296-1.222.8-1.6l2.208-1.663v0"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M12 9.5v0a2 2 0 0 1-2-2v-1a2 2 0 0 1 2-2v0a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2z"/></g></g></g></svg>
            </span>
            <span class="btn-title">
                {{ "spsTheme.productBox.contactLabel"|trans|sw_sanitize }}
            </span>
        </a>
    </div>

    {% block component_product_box_action_meta %}
        <input type="hidden"
               name="product-name"
               value="{{ product.translated.name }}">

        <input type="hidden"
               name="product-id"
               value="{{ id }}">
    {% endblock %}
{% endblock %}
