{% block component_product_box %}
    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set variation = product.variation %}



        <div class="card product-box box-{{ layout }}">

            {% set medias = searchProductsMedia(context.context) %}
            {% set covers = [] %}
            {% for media in medias.elements %}
                {% if media.id == product.coverId %}
                    {% set covers = covers|merge([media.media]) %}
                {% endif %}
            {% endfor %}
            {% for media in medias.elements %}
                {% if media.id == product.coverId %}
                    {{ continue }}
                {% elseif media.productId == id %}
                    {% set covers = covers|merge([media.media]) %}
                {% endif %}
            {% endfor %}

            {% block component_product_box_content %}
                <div class="card-body">
                    {% block component_product_box_name %}
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                           class="product-name"
                           title="{{ name }}">
                            {{ name }}
                        </a>
                    {% endblock %}
                    {% block component_product_box_badges %}
                        {% sw_include '@Storefront/storefront/component/product/card/badges.html.twig' %}
                    {% endblock %}

                    {% block component_product_box_rich_snippets %}
                        {% sw_include '@Storefront/storefront/component/product/card/meta.html.twig' %}
                    {% endblock %}

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">


                        {% set magnifierOverGallery = true %}

                        {% set mediaItems = covers %}

                        {% if fallbackImageTitle is not defined %}
                            {% set fallbackImageTitle = '' %}
                        {% endif %}

                        {% set imageCount = mediaItems|length %}

                        {# too many underneath thumbs or slider dots make them hard to see #}
                        {% set maxItemsToShowMobileNav = 2 %}

                        {% set magnifierOptions = [] %}

                        {% if magnifierOverGallery %}
                            {% set magnifierOptions = magnifierOptions|merge({
                                'magnifierOverGallery': true,
                                'cursorType': 'crosshair'
                            }) %}
                        {% endif %}



                        <div class="gallery">


                            {% set gallerySliderOptions = {
                                slider: {
                                    navPosition: 'bottom',
                                    speed: 500,
                                    gutter:  0,
                                    controls: true,
                                    autoHeight: false,
                                    startIndex: startIndexThumbnails ? startIndexThumbnails : null
                                },
                                thumbnailSlider: {
                                    items: 2,
                                    slideBy: 1,
                                    controls: true,
                                    startIndex: startIndexThumbnails ? startIndexThumbnails : null,
                                    responsive: {
                                        xs: {
                                            enabled: true,
                                            controls: true
                                        },
                                        sm: {
                                            enabled: true,
                                            controls: true
                                        }
                                    }
                                }
                            } %}


                            <div class="row gallery-slider-row{% if imageCount == 1 %} is-single-image{% else %} is-loading{% endif %} js-gallery-zoom-modal-container"
                                {% if magnifierOptions|length > 0 %}
                                    data-magnifier-options='{{ magnifierOptions|json_encode|raw }}'
                                {% endif %}
                                {% if imageCount > 1 %}
                                    data-gallery-slider="true"
                                    data-gallery-slider-options='{{ gallerySliderOptions|json_encode }}'
                                {% endif %}>


                                <div class="gallery-slider-col col-12 order-1" >
                                    <div class="base-slider gallery-slider ">
                                        {% if imageCount > 1 %}
                                            <div class="gallery-slider-container" data-gallery-slider-container="true">
                                                {% for image in mediaItems %}
                                                    <div class="gallery-slider-item-container">
                                                        <div class="gallery-slider-item is-standard js-magnifier-container">
                                                            <img src="{{ image.url }}" class="img-fluid" alt="{{ image.alt }}">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="gallery-slider-controls"
                                                 data-gallery-slider-controls="true">
                                                <button class="base-slider-controls-prev gallery-slider-controls-prev"
                                                        aria-label="{{ 'general.previous'|trans|striptags }}">
                                                    {% sw_icon 'arrow-head-left' %}
                                                </button>

                                                <button class="base-slider-controls-next gallery-slider-controls-next"
                                                        aria-label="{{ 'general.next'|trans|striptags }}">
                                                    {% sw_icon 'arrow-head-right' %}
                                                </button>
                                            </div>

                                        {% else %}
                                            <div class="gallery-slider-single-image is-standard js-magnifier-container">
                                                {% if imageCount > 0 %}
                                                    {% set attributes = {
                                                        'class': 'img-fluid gallery-slider-image magnifier-image js-magnifier-image',
                                                        'alt': (mediaItems|first.translated.alt ?: fallbackImageTitle),
                                                        'title': (mediaItems|first.translated.title ?: fallbackImageTitle),
                                                        'data-full-image': mediaItems|first.url
                                                    } %}

                                                    {% sw_thumbnails 'gallery-slider-image-thumbnails' with {
                                                        media: mediaItems|first,
                                                    } %}
                                                {% else %}
                                                    {% sw_icon 'placeholder' style {
                                                        'size': 'fluid'
                                                    } %}
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>


                                {% if imageCount > 1 %}
                                    <div class="gallery-slider-thumbnails-col col-12 order-2 is-underneath">
                                        <div class="gallery-slider-thumbnails-container is-underneath">
                                            <div class="gallery-slider-thumbnails is-underneath"
                                                 data-gallery-slider-thumbnails="true">
                                                {% for image in mediaItems %}
                                                    <div class="gallery-slider-thumbnails-item">
                                                        <div class="gallery-slider-thumbnails-item-inner">
                                                            {% set attributes = {
                                                                'class': 'gallery-slider-thumbnails-image',
                                                                'alt': (image.translated.alt ?: fallbackImageTitle),
                                                                'title': (image.translated.title ?: fallbackImageTitle)
                                                            } %}

                                                            {% sw_thumbnails 'gallery-slider-thumbnails-image-thumbnails' with {
                                                                media: image,
                                                                sizes: {
                                                                    'default': '200px'
                                                                }
                                                            } %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div data-thumbnail-slider-controls="true" class="gallery-slider-thumbnails-controls">
                                                <button class="base-slider-controls-prev gallery-slider-thumbnails-controls-prev">
                                                    {% sw_icon 'arrow-head-left' %}
                                                </button>

                                                <button class="base-slider-controls-next gallery-slider-thumbnails-controls-next">
                                                    {% sw_icon 'arrow-head-right' %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>



                        </div>
                    {% endblock %}
                    {% block component_product_box_variant_characteristics %}{% endblock %}
                    {% block component_product_box_info %}
                        <div class="product-info">
                            <div class="main-info">
                                <div class="product-description">
                                    {{ product.translated.customFields.prodCustomDesc_description|raw }}
                                </div>

                                <div class="product-custom-actions">
                                    {% block component_product_box_rating %}
                                    {% if config('core.listing.showReview') %}
                                        <div class="product-rating">
                                            {% if product.ratingAverage %}
                                                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                                                    points: product.ratingAverage,
                                                    style: 'text-primary'
                                                } %}
                                                <span class="rating-label">
                                                    {{ "spsTheme.productBox.ratingLabel"|trans|sw_sanitize }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% endblock %}
                                    {% if config('core.cart.wishlistEnabled') %}
                                        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                            appearance: 'circle',
                                            productId: id
                                        } %}
                                    {% endif %}
                                    <div class="product-data">
                                        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}#product-detail-tabs"
                                           class="product-data"
                                           title="{{ name }}-data">
                                            <span class="data-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23"><g><g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M1 22.5v0-22 0h18v22z"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M13 5.5h2"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M13 9.5h2"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M5 13.5h10"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M5 17.5h10"/></g><g><path fill="none" stroke="#5b6e74" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M5 9.5v0-4 0h4v4z"/></g></g></g></svg>
                                            </span>
                                            <span class="data-label">
                                                {{ "spsTheme.productBox.dataLabel"|trans|sw_sanitize }}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="product-bottom">
                                {% block component_product_box_price %}
                                    {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                                {% endblock %}

                                {% block component_product_box_action %}
                                    {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
