{% block sc_custom_product %}
    {% if product %}

        {% set name = product.translated.name %}
        {% set id = product.id %}

        {% set variation = product.variation %}

        {% set cover = [] %}
        {% for media in medias.elements %}
            {% if media.id == product.coverId %}
                {% set cover = media.media %}
            {% endif %}
        {% endfor %}




        <div class="card product-box box-standard custom-product">
            <div class="card-body">

                {% sw_include '@Storefront/storefront/component/product/card/meta.html.twig' %}

                <div class="product-image-wrapper">
                    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                       title="{{ name }}"
                       class="product-image-link is-standard">
                        {% if cover.url %}
                            {% set attributes = {
                                'class': 'product-image is-standard',
                                'alt': (cover.translated.alt ?: name),
                                'title': (cover.translated.title ?: name)
                            } %}


                            {% sw_thumbnails 'product-image-thumbnails' with {
                                media: cover,
                                sizes: {
                                    'xs': '501px',
                                    'sm': '315px',
                                    'md': '427px',
                                    'lg': '333px',
                                    'xl': '284px'
                                }
                            } %}
                        {% else %}
                            <div class="product-image-placeholder">
                                {% sw_icon 'placeholder' style {
                                    'size': 'fluid'
                                } %}
                            </div>
                        {% endif %}
                    </a>


                </div>

                <div class="product-info">

                    <div class="prod-name">
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                           class="product-name"
                           title="{{ name }}">
                            {{ name }}
                        </a>

                        <div class="custom-variants">
                            <span class="custom-variants-text">

                                {% for variation in 0..10 %}
                                    {% if product.translated.customFields["prodCustomDesc_characteristic_" ~ variation] %}
                                        <span class="custom-variants-option">{{ product.translated.customFields["prodCustomDesc_characteristic_" ~ variation] }}</span>
                                       <span class="variation-separator">
                                           {{ "," }}
                                       </span>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>

                    </div>

{#                    <div class="product-description">#}
{#                        {{ product.translated.description|striptags|raw }}#}
{#                    </div>#}

                    {% set purchasePrice =  product.cheapestPriceContainer.value|first %}

                    {% set price = product.price.elements|first %}
                    {% set listPrice = product.price.elements|first.listPrice %}
                    {% set isListPrice = product.calculatedPrice.listPrice.percentage > 0 %}

                    <span class="product-price{% if isListPrice   %} with-list-price{% endif %}">

                        {% if purchasePrice|length > 1 %}
                            <span class="product-unit-label">
                                {{ "listing.listingTextFrom"|trans|sw_sanitize }}
                            </span>
                            <span class="price-unit-content">
                                {{  purchasePrice|first.price|first.gross|number_format(2, ',', '.')  }} {{  context.currency.symbol }}
                            </span>

                        {% else %}
                            {{ price.gross|number_format(2, ',', '.')  }} {{  context.currency.symbol }}
                            {% if listPrice and not displayFrom %}
                                {% set percentage = 100-(price.gross/price.listPrice.gross*100)|round() %}
                                {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
                                {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}
                                {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                                <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">
                                    {% if beforeListPriceSnippetExists %}{{ "listing.beforeListPrice"|trans|trim|sw_sanitize }}{% endif %}

                                    <span class="list-price-price">{{ price.listPrice.gross  }} {{ context.currency.symbol }}</span>

                                    <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': percentage })|sw_sanitize }}</span>
                                </span>
                            {% endif %}
                        {% endif %}
                    </span>
                    <div class="btn-box">
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                           class="btn  custom-product-btn"
                           title="{{ "listing.boxProductDetails"|trans|striptags }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><g><g transform="rotate(-90 5.5 10)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M14.939 5.187v0l-9.626 9.626v0l-9.626-9.626v0"/></g></g></svg>
                        </a>
                    </div>
                </div>

                <div class="product-badges">
                    {% if listPrice and not displayFrom %}
                        <div class="badge badge-danger badge-discount">
                            <span>&#37;</span>
                        </div>
                    {% endif %}

                    {% if product.markAsTopseller %}
                        <div>
                            <span class="badge badge-warning badge-topseller">{{ "listing.boxLabelTopseller"|trans|sw_sanitize }}</span>
                        </div>
                    {% endif %}


                    {% set now = 'now'|date("m/d/Y") %}
                    {% set reliseDate = product.releaseDate|date("m/d/Y")  %}
                    {% set newDays = config('core.listing.markAsNew') %}
                    {% set difference = date(now).diff(date(reliseDate)) %}
                    {% set leftDays = difference.days %}
                    {% if leftDays <= newDays %}
                        <div>
                            <span class="badge badge-success badge-new">{{ "listing.boxLabelNew"|trans|sw_sanitize }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
