{% sw_extends '@Storefront/storefront/component/product/card/wishlist.html.twig' %}

{% block component_product_wishlist_icon %}
    {{ parent() }}
    <span class="wishlist-text">
        {{ "spsTheme.productBox.wishlistLabel"|trans|sw_sanitize }}
    </span>
{% endblock %}