{% block sw_cms_element_service_config %}
    <div class="sw-cms-el-config-service">


        <div v-for="(item, index) in element.config.sliders.value" :class="[`service-box  is-index--${index}`]">



            <sw-cms-mapping-field :label="`Slide ${index+1}`" valueTypes="entity" entity="media" v-model="element.config.sliders.value[index].media">
                <h3>Left side</h3>
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag('main-' + index)"
                                 :source="previewSource('main-' + index)"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal('main-' + index)"
                                 @media-upload-remove-image="onImageRemove('main-' + index)">
                </sw-media-upload-v2>

                <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                    <img :src="demoValue.url" v-if="demoValue.url">
                    <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                    </sw-alert>
                </div>
            </sw-cms-mapping-field>


            <sw-upload-listener
                    :uploadTag="uploadTag('main-' + index)"
                    autoUpload
                    @media-upload-finish="(targetId) => {onImageUpload('main-' + index, targetId)}">
            </sw-upload-listener>

            <sw-text-field v-model="element.config.sliders.value[index].headline.value" label="Headline">
            </sw-text-field>

            <sw-text-field v-model="element.config.sliders.value[index].topic.value" label="Topic">
            </sw-text-field>

            <sw-text-field v-model="element.config.sliders.value[index].subline.value" label="SubLine">
            </sw-text-field>

            <sw-field v-model="element.config.sliders.value[index].buttonText.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA teaser">
            </sw-field>
            <sw-field v-model="element.config.sliders.value[index].buttonTitle.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA title">
            </sw-field>
            <sw-field v-model="element.config.sliders.value[index].url.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA Link"
                      :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterUrl')">
            </sw-field>

            <br>
            <h3>Right side</h3>

            <sw-field class="sw-cms-el-config-image__link-tab"
                      v-model="element.config.sliders.value[index].showRight.value"
                      type="switch"
                      label="Show right part">
            </sw-field>

            <sw-cms-mapping-field  valueTypes="entity" entity="media" v-model="element.config.sliders.value[index].media2">
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag('second-' + index)"
                                 :source="previewSource('second-' + index)"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal('second-' + index)"
                                 @media-upload-remove-image="onImageRemove('second-' + index)">
                </sw-media-upload-v2>
                <sw-upload-listener
                        :uploadTag="uploadTag('second-' + index)"
                        autoUpload
                        @media-upload-finish="(targetId) => {onImageUpload('second-' + index, targetId)}">
                </sw-upload-listener>
            </sw-cms-mapping-field>

            <div class="right-text">
                <sw-text-field v-model="element.config.sliders.value[index].headline2.value" label="Right headline">
                </sw-text-field>

                <sw-text-editor v-model="element.config.sliders.value[index].description2.value" label="Description">
                </sw-text-editor>

                <sw-field v-model="element.config.sliders.value[index].buttonTitle2.value"
                      class="sw-cms-el-config-image__link-input"
                      type="text"
                      label="CTA title">
                </sw-field>
                <sw-field v-model="element.config.sliders.value[index].url2.value"
                          class="sw-cms-el-config-image__link-input"
                          type="text"
                          label="CTA Link"
                          :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterUrl')">
                </sw-field>
            </div>


            <sw-media-modal-v2
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove(index)"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal(index)">
            </sw-media-modal-v2>


            <button class="service-remove-entry">
                <sw-icon name="default-action-trash"
                         class="sw-remove-icon"
                         @click="removeElement(index)">
                </sw-icon>
            </button>
            <hr>
            <br>
        </div>

        <button class="service-add-entry">

            <sw-icon name="default-basic-plus-circle"
                     class="sw-first-run-wizard-mailer-selection__selection-icon"
                     @click="addElement()">
                Add new item
            </sw-icon>
        </button>
    </div>
{% endblock %}
