{% block element_info_circles %}
    <div class="info-circles-inner">
        <div class="circles-container">
            {% for circle in element.config.circles.value %}
                <div class="info-circle">
                    <div class="circle-box">
                        <span class="gray-text">
                            {{ circle.grayText.value }}
                        </span>
                        <span class="red-text">
                            {{ circle.redText.value }}
                        </span>
                        {% if circle.hasSub.value %}
                             <span class="sub-text">
                                 {{ circle.subText.value }}
                             </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}