{% block element_two_boxes %}
  {% set config = element.fieldConfig.elements %}

  <div class="cms-element-two-boxes
  two-boxes-{{ element.id }}
  two-boxes-{{ config.sliderSettings.value.animation }}
  {{ config.sliderSettings.value.center and config.settings.value.inactiveLowerOpacity ? 'two-boxes-inactive-lower-opacity' }}
  two-boxes-{{ config.settings.value.layoutVariant }}
  {{ config.settings.value.contentAnimation != 'none' ? ('two-boxes-content-' ~ config.settings.value.contentAnimation) | raw }}
  {{ config.sliderSettings.value.controls ? 'two-boxes-controls' }}
  {{ config.sliderSettings.value.controls ? ('two-boxes-controls-' ~ config.settings.value.controlsVariant) | raw }}
  {{ config.sliderSettings.value.controls ? ('two-boxes-controls-' ~ config.settings.value.controlsPosition) | raw }}
  {{ config.sliderSettings.value.nav ? 'two-boxes-nav' }}
  {{ config.sliderSettings.value.nav ? ('two-boxes-nav-' ~ config.settings.value.navVariant) | raw }}
  {{ config.sliderSettings.value.nav ? ('two-boxes-nav-' ~ config.settings.value.navSize) | raw }}
  {{ config.sliderSettings.value.nav ? ('two-boxes-nav-' ~ config.settings.value.navPosition) | raw }}">
      <div class="two-section-head">{{ config.sliderSettings.value.header }}</div>
    {% set dataAttributes = '' %}

    {# data attributes #}
    {% for key, value in config.sliderSettings.value %}
      {% if not value == false %}
        {% if loop.index0 > 0 %}
          {% set dataAttributes = dataAttributes ~ ' ' %}
        {% endif %}

        {% set dataAttributes = dataAttributes ~ 'data-' ~ key %}
      {% endif %}
    {% endfor %}

    {% if config.slides.value %}
      {% set slides = config.slides.value | filter(slide => slide.active) %}

      {# slide clones #}
      {% if config.sliderSettings.value.loop %}
        {% if 'gallery' in config.sliderSettings.value.animation %}
          {% if slides | length == 1 %}
            {% set cloneCount = config.sliderSettings.value.items * 2 - 1 %}
          {% elseif slides | length == config.sliderSettings.value.items %}
            {% set cloneCount = slides | length %}
          {% else %}
            {% if slides | length % config.sliderSettings.value.items != 0 %}
              {% set cloneCount = slides | length * (config.sliderSettings.value.items - 1) %}
            {% endif %}
          {% endif %}
        {% elseif slides | length <= config.sliderSettings.value.items %}
          {% set minCloneCount =  config.sliderSettings.value.items - slides | length + 1 %}
          {% set cloneTimes = (minCloneCount / slides | length) | round(0, 'ceil') %}
          {% set cloneCount = slides | length * cloneTimes %}
        {% endif %}
      {% endif %}

      {% if cloneCount %}
        {% for i in 0..cloneCount - 1 %}
          {% set slides = slides | merge({ (i + slides | length): slides[i] }) %}
        {% endfor %}
      {% endif %}

      {% block element_two_boxes_slides %}
        {# slides #}
        <ul class="two-boxes list-unstyled" data-element-id="{{ element.id }}" {{ dataAttributes | raw }}>
          {% for slide in slides %}
            {% block element_two_boxes_slide %}
              <li class="slide col-12 col-sm-6">

                <div class="slide-container"
                {{ slide.backgroundColor ? ('style="background-color: ' ~ slide.backgroundColor ~ ';"') | raw }}>

                  {% block element_two_boxes_slide_background_media %}
                    {# background-media #}
                    {% if slide.backgroundMedia %}
                      {% set mediaCollection = searchMedia([slide.backgroundMedia], context.context) %}
                      {% set backgroundMedia = mediaCollection.get(slide.backgroundMedia) %}

                      <div class="background-media-container">
                        {% if 'video' in backgroundMedia.mimeType %}
                          <video autoplay muted playsinline loop>
                            <source
                            src="{{ backgroundMedia.url }}"
                            type="{{ backgroundMedia.mimeType }}">
                          </video>
                        {% else %}
                          {% sw_thumbnails 'two-boxes-slides' with {
                            media: backgroundMedia,
                            columns: 1,
                            sizes: {},
                            attributes: {
                              'class': slide.backgroundSizingMode ~ ' two-boxes-img ' ~
                                (slide.backgroundSizingMode == 'cover' ? slide.backgroundAnimation) ~ ' ' ~
                                (slide.backgroundSizingMode == 'contain' ? slide.backgroundPosition) ~ ' img-'~ loop.index,
                              'alt': (backgroundMedia.translated.alt ?: ''),
                              'title': (backgroundMedia.translated.title ?: '')
                            }
                          } %}
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endblock %}

                  {% block element_two_boxes_slide_content_container %}
                    {# content-container #}
                    <div class="content-container">
                      {% if config.sliderSettings.value.items == 1 %}
                        {% set class = 'col-sm-9 col-md-8 col-lg-6 col-xl-5' %}
                      {% elseif config.sliderSettings.value.items == 2 %}
                        {% set class = 'col-sm-9 col-lg-10' %}
                      {% elseif config.sliderSettings.value.items >= 3 %}
                        {% set class = 'col-sm-9 col-lg-10 col-xl-12' %}
                      {% endif %}

                      <div class="content">
                        {% if slide.contentType == 'default' %}

                            {% if slide.headline %}
                                <p class="h1 headline">
                                  {{ slide.headline }}
                                </p>
                            {% endif %}

                            {% if slide.text %}
                                <p class="text">
                                  {{ slide.text }}
                                </p>
                            {% endif %}

                        {% elseif slide.contentType == 'custom' %}
                          {{ slide.customContent | raw }}
                        {% endif %}
                      </div>
                      {% if slide.buttonLink %}
                        <div class="btn-box">
                            <a class="btn btn-link"
                            {{ slide.buttonLink ? ('href="' ~ slide.buttonLink ~ '"') | raw }}
                            {{ slide.buttonTargetBlank ? 'target="_blank" rel="noopener"' }}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><g><g transform="rotate(-90 5.5 10)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M14.939 5.186v0l-9.626 9.626v0l-9.626-9.626v0"/></g></g></svg>
                            </a>
                        </div>
                      {% endif %}
                    </div>
                  {% endblock %}

                  {% block element_two_boxes_slide_link %}
                    {% if slide.link %}
                      {% if slide.contentType == 'default' and slide.headline %}
                        {% set label = slide.headline %}
                      {% elseif slide.name %}
                        {% set label = slide.name %}
                      {% endif %}

                      <a class="stretched-link" aria-label="{{ label }}"
                      href="{{ slide.link }}"
                      {{ slide.linkTargetBlank ? 'target="_blank" rel="noopener"' }}>
                      </a>
                    {% endif %}
                  {% endblock %}
                </div>
              </li>
            {% endblock %}
          {% endfor %}
        </ul>
      {% endblock %}

      {% block element_two_boxes_controls %}
        {# controls #}
        {% if config.sliderSettings.value.controls %}
          <div class="two-boxes-controls-container">
            {% block element_two_boxes_control_prev %}
              <button class="btn btn-primary two-boxes-control two-boxes-control-prev">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="16" viewBox="0 0 48 16"><g><g><g transform="rotate(120 43 8.5)"><path fill="#4dad2e" d="M33.941 8.544v-1h18v1z"/></g><g><g><g transform="rotate(45 3 10.5)"><path fill="#4dad2e" d="M-.207 10.974v-.993h5.961v.993z"/></g><g transform="rotate(135 3 6)"><path fill="#4dad2e" d="M-.153 6.76v-.994h5.96v.993z"/></g><g transform="rotate(45 1 8.5)"><path fill="#4dad2e" d="M.248 8.892v-.994h.994v.994z"/></g><g transform="rotate(135 1 8.5)"><path fill="#4dad2e" d="M.198 8.892v-.994h.993v.994z"/></g></g><g><path fill="#4dad2e" d="M1.008 9V8h42v1z"/></g></g></g></g></svg>
                </span>
              </button>
            {% endblock %}

            {% block element_two_boxes_control_next %}
              <button class="btn btn-primary two-boxes-control two-boxes-control-next">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="16" viewBox="0 0 40 16"><g><g><g transform="rotate(120 5 8.5)"><path fill="#4dad2e" d="M-4.06 8.544v-1h18v1z"/></g><g><g><g transform="rotate(135 37 10.5)"><path fill="#4dad2e" d="M34.246 10.975V9.98h5.96v.994z"/></g><g transform="rotate(45 37 6)"><path fill="#4dad2e" d="M34.192 6.76v-.994h5.961v.993z"/></g><g transform="rotate(135 39 8.5)"><path fill="#4dad2e" d="M38.758 8.892v-.994h.994v.994z"/></g><g transform="rotate(45 39 8.5)"><path fill="#4dad2e" d="M38.808 8.892v-.994h.994v.994z"/></g></g><g><path fill="#4dad2e" d="M4.94 9.008v-1h34.052v1z"/></g></g></g></g></svg>
                </span>
              </button>
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}
    {% endif %}
  </div>
{% endblock %}