{% block element_banner_text %}
    {% set config = element.fieldConfig.elements %}
    {% set mediaCollection = searchMedia([config.media.value], context.context) %}
    {% set teaserMedia = mediaCollection.get(config.media.value) %}

    {% if teaserMedia.thumbnails.elements %}
        {% set middleValue = null %}
        {% set minimalValue = null %}
        {% for value in teaserMedia.thumbnails.elements %}
            {% if loop.index == 2 %}
                {% set middleValue = value %}
            {% elseif loop.index == 3 %}
                {% set minimalValue = value %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <style>
        .banner-text #banner-{{ element.Id }}{
            background-image: url('{{teaserMedia.url}}');
        }
    </style>
    <div class="banner-text">
        <div class="banner-text-inner" id="banner-{{ element.Id }}">
            <div class="container {{ config.skewDesign.value }}">
                <div class="text-block">
                    {% if config.topic.value %}
                        <div class="text-topic">
                            {{ config.topic.value }}
                        </div>
                    {% endif %}

                    {% if config.headline.value %}
                        <div class="text-headline">
                            {{ config.headline.value }}
                        </div>
                    {% endif %}

                    {% if config.subline.value %}
                        <div class="text-subline">
                            {{ config.subline.value }}
                        </div>
                    {% endif %}
                </div>
                <div class="button-block {{ config.btnAlignment.value }}">
                    <div class="block-inner">
                        <div class="button-additional-text">
                            {{ config.buttonText.value }}
                        </div>
                        <div class="button-inner">
                            <a href="{{ config.url.value }}"
                               class="banner-text-link"
                               {% if config.newTab.value %}target="_blank" rel="noopener"{% endif %}>
                                {{ config.buttonTitle.value }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
