{% block element_benefits %}
    {% set mediaCollection = searchMedia([element.config.media.value], context.context) %}
    {% set teaserMedia = mediaCollection.get(element.config.media.value) %}

    <div class="benefits-block">
        <div class="benefits-inner ">
            <div class="benefit-left benefit-section ">
                <div class="benefit-inner">
                    <div class="benefit-header left-bar-header">
                        <div class="header">
                            {{ element.config.headline1.value }}
                        </div>
                        <div class="subtitle">
                            {{ element.config.subLine1.value }}
                        </div>
                    </div>
                    <div class="benefit-media">
                        <img src="{{ teaserMedia.url }}" alt="SPS" class="img-fluid">
                    </div>
                    <div class="benefit-desc">
                        {{ element.config.description1.value|raw }}
                    </div>
                </div>
            </div>
            <div class="benefit-right benefit-section ">
                <div class="benefit-inner">
                    <div class="benefit-header right-bar-header">
                        <div class="header">
                            {{ element.config.headline2.value }}
                        </div>
                        <div class="subtitle">
                            {{ element.config.subLine2.value }}
                        </div>
                    </div>
                    <div class="benefit-desc">
                        {{ element.config.description2.value|raw }}
                    </div>
                    <div class="points-box">
                        {% if element.config.advantage1.value %}
                            <div class="bullet-point">
                                <span class="point-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13"><g><g><path fill="none" stroke="#cd0f43" stroke-miterlimit="20" stroke-width="2" d="M16.227.5v0L5.758 10.968v0L1 6.21v0"/></g></g></svg>
                                </span>

                                {{ element.config.advantage1.value }}
                            </div>
                        {% endif %}
                        {% if element.config.advantage2.value %}
                            <div class="bullet-point">
                                <span class="point-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13"><g><g><path fill="none" stroke="#cd0f43" stroke-miterlimit="20" stroke-width="2" d="M16.227.5v0L5.758 10.968v0L1 6.21v0"/></g></g></svg>
                                </span>

                                {{ element.config.advantage2.value }}
                            </div>
                        {% endif %}
                        {% if element.config.advantage3.value %}
                            <div class="bullet-point">
                                <span class="point-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13"><g><g><path fill="none" stroke="#cd0f43" stroke-miterlimit="20" stroke-width="2" d="M16.227.5v0L5.758 10.968v0L1 6.21v0"/></g></g></svg>
                                </span>
                                {{ element.config.advantage3.value }}
                            </div>
                        {% endif %}
                        {% if element.config.advantage4.value %}
                            <div class="bullet-point">
                                <span class="point-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13"><g><g><path fill="none" stroke="#cd0f43" stroke-miterlimit="20" stroke-width="2" d="M16.227.5v0L5.758 10.968v0L1 6.21v0"/></g></g></svg>
                                </span>
                                {{ element.config.advantage4.value }}
                            </div>
                        {% endif %}
                        {% if element.config.advantage5.value %}
                            <div class="bullet-point">
                                <span class="point-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13"><g><g><path fill="none" stroke="#cd0f43" stroke-miterlimit="20" stroke-width="2" d="M16.227.5v0L5.758 10.968v0L1 6.21v0"/></g></g></svg>
                                </span>
                                {{ element.config.advantage5.value }}
                            </div>
                        {% endif %}

                    </div>
                    <div class="button-block">
                        <a href="{{ element.config.btnUrl.value }}"
                           class="benefits-link" >
                            {{ element.config.btnTitle.value }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}