{% block element_text_bullets %}
    <div class="text-bullets">
        <div class="content-inner">
            <div class="text-block">
                <div class="headline-block">
                    {{ element.config.header.value }}
                </div>
                <div class="description-inner">
                    {{ element.config.description.value|raw }}
                </div>
            </div>
            <div class="bullets-block">
                <div class="bullets-inner">
                    <div class="bullets-headline">
                        {{ element.config.title.value }}
                    </div>
                    <div class="bullets-list">
                        {% for bullet in element.config.bullets.value %}
                            <div class="bullet-point">
                                <span class="point-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13">
                                        <path fill="none" stroke="#fff" stroke-miterlimit="20" stroke-width="2" d="M16.227.531v0L5.758 11v0L1 6.24v0"/>
                                    </svg>
                                </span>
                                {{ bullet.content.value }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}