{% block element_newsletter %}

    <div class="newsletter">
        <div class="newsletter-inner">
            <div class="container">
                <div class="newsletter-form-box">

                    {% sw_include '@Storefront/storefront/element/form-types/custom-newsletter.html.twig'
                        with {
                        action: 'frontend.form.newsletter.register.handle',
                        submitText: 'newsletter.formSubmit',
                        element : element,
                    } %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
