{% block element_sps_slider %}

    <div class="sps-slider">

        {% if element.config.sliders is defined  %}

            {% set mediaItems = [] %}
            {% for item in element.config.sliders.value %}
                {% set mediaItems = mediaItems|merge([item]) %}
            {% endfor %}

        {% endif %}

        {% if fallbackImageTitle is not defined %}
            {% set fallbackImageTitle = '' %}
        {% endif %}

        {% set imageCount = mediaItems|length %}

        <div class="cms-element-image-gallery">
            {% set gallerySliderOptions = {
                slider: {
                    navPosition: 'bottom',
                    speed: 500,
                    gutter: gutter ? gutter : 0,
                    autoHeight: true,
                    startIndex: startIndexThumbnails ? startIndexThumbnails : null
                }
            } %}

            <div class=" gallery-slider-row{% if imageCount == 1 %} is-single-image{% else %} is-loading{% endif %} "

                {% if imageCount > 1 %}
                    data-gallery-slider="true"
                    data-gallery-slider-options='{{ gallerySliderOptions|json_encode }}'
                {% endif %}>


                <div class="gallery-slider-col " >
                    <div class="base-slider circle-white gallery-slider">
                        {% if imageCount > 1 %}
                            <div class="gallery-slider-container"
                                 data-gallery-slider-container="true">
                                {% for image in mediaItems %}
                                    <div class="gallery-slider-item-container">
                                        <div class="gallery-slider-item is-contain white-container" style="min-height: 300px">
                                            <div class="image-frame">
                                                <img src="{{ image.media.media.url }}" class="img-fluid"  alt="{{ image.media.media.fileName }}">
                                            </div>
                                            <div class="image-description">
                                                {{ image.title.value }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="gallery-slider-single-image is-contain " style="min-height: 300px;">
                                {% if imageCount > 0 %}

                                    <div class="white-image">
                                        <img src="{{ mediaItems|first.media.media.url }}" class="img-fluid" alt="{{ mediaItems|first.media.media.fileName }}">
                                    </div>
                                    <div class="image-description">
                                        {{ mediaItems|first.title.value }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if imageCount > 1 %}
                    <div class="gallery-slider-thumbnails-col  ">
                        <div class="base-slider-dots ">
                            <div class="gallery-slider-controls" data-gallery-slider-controls="true">

                                <button class="base-slider-controls-prev gallery-slider-controls-prev"
                                        aria-label="{{ 'general.previous'|trans|striptags }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18">
                                        <g><g transform="rotate(-90 5 9.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M13 13.205v0l-8-8v0l-8 8v0"/></g></g>
                                    </svg>
                                </button>

                                <button class="base-slider-controls-next gallery-slider-controls-next"
                                        aria-label="{{ 'general.next'|trans|striptags }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18">
                                        <g><g transform="rotate(-90 5 9.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M13 5.205v0l-8 8v0l-8-8v0"/></g></g>
                                    </svg>
                                </button>

                            </div>
                            <div class="dot-inner">
                                {% for image in mediaItems %}
                                    <button class="base-slider-dot"
                                            data-nav-dot="{{ loop.index }}"
                                            tabindex="-1"></button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}