{% block element_product_grid %}
    <div class="product-grid">
        <div class="grid-title-box">
            <div class="grid-header">
                <div class="grid-title">
                    {{ element.config.title.value }}
                </div>
                <div class="grid-sub">
                    {{ element.config.subTitle.value }}
                </div>
            </div>
            <a href="{{ element.config.btnUrl.value }}" class="btn btn-primary grid-btn d-none d-md-block">
                {{ element.config.btnTitle.value }}
            </a>
        </div>


        <div class="grid-inner row">
            {% for product in products.elements %}
                {% for id in  element.config.products.value %}
                    {% if id == product.id %}
                        <div class="product-inner col-12 col-md-4">
                            {% sw_include '@Storefront/storefront/component/product/card/custom-box.html.twig' %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="btn-block d-block d-md-none">
            <a href="{{ element.config.btnUrl.value }}" class="btn grid-btn ">
                {{ element.config.btnTitle.value }}
            </a>
        </div>
    </div>
{% endblock %}
