{% sw_extends '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' %}

{% block element_sidebar_filter_panel %}
    {{ parent() }}
    <div class="products-view" data-view-mode="true">
        {% sw_include '@Storefront/storefront/component/listing-view.html.twig' with
            {
                current: slot.data.listing.sorting,
                sortings: slot.data.listing.availableSortings.elements
            } %}
    </div>
{% endblock %}

{% block element_product_listing_filter_button %}
    <button class="btn header-actions-btn filter-panel-wrapper-toggle"
            type="button"
            data-offcanvas-filter="true"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="{{ "general.menuLink"|trans }}">
        {{ "listing.filterTitleText"|trans }}
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12">
                <path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M20.467 1.012v0l-9.626 9.626v0L1.215 1.012v0"/>
            </svg>
        </span>
    </button>
{% endblock %}
