{% block element_seven_steps %}
    {% set mediaCollection = searchMedia([element.config.media2.value], context.context) %}
    {% set teaserMedia = mediaCollection.get(element.config.media2.value) %}
    <div class="seven-steps">
        <div class="seven-steps-inner">
            <div class="seven-steps-header">
                <div class="header-headline">
                    {{ element.config.header.value }}
                </div>
                <div class="header-subLine">
                    {{ element.config.supText.value }}
                </div>
            </div>
            <div class="circles-box">

                {% if element.config.sliders is defined  %}

                    {% set mediaItems = [] %}
                    {% for item in element.config.sliders.value %}
                        {% set mediaItems = mediaItems|merge([item]) %}
                    {% endfor %}
                    {% set navigationArrows = "outside" %}
                    {% set navigationDots = "outside" %}
                    {% set galleryPosition = 'underneath' %}
                {% endif %}

                {% if fallbackImageTitle is not defined %}
                    {% set fallbackImageTitle = '' %}
                {% endif %}

                {% set imageCount = mediaItems|length %}

                {% set maxItemsToShowMobileNav = 5 %}
                {% set maxItemsToShowNav = 7 %}


                <div class="cms-element-{{ element.type }}">
                    {% block element_image_gallery_alignment %}

                        {% set gallerySliderOptions = {
                            slider: {
                                navPosition: 'bottom',
                                speed: 500,
                                gutter: gutter ? gutter : 0,
                                controls: navigationArrows ? true : false,
                                autoHeight: false,
                                startIndex: startIndexThumbnails ? startIndexThumbnails : null
                            },
                            thumbnailSlider: {
                                items: 7,
                                slideBy: (galleryPosition == "underneath") ? 5 : 4,
                                controls: true,
                                startIndex: startIndexThumbnails ? startIndexThumbnails : null,
                                responsive: {
                                    xs: {
                                        enabled: false,
                                        controls: false
                                    },
                                    sm: {
                                        enabled: false,
                                        controls: false
                                    }
                                }
                            }
                        } %}


                        {% block element_image_gallery_inner %}
                            <div class=" gallery-slider-row{% if imageCount == 1 %} is-single-image{% else %} is-loading{% endif %} "

                                    {% if imageCount > 1 %}
                                        data-gallery-slider="true"
                                        data-gallery-slider-options='{{ gallerySliderOptions|json_encode }}'
                                    {% endif %}>

                                {% block element_image_gallery_inner_col %}
                                    <div class="gallery-slider-col " >
                                        <div class="circle-red">
                                            <div class="red-image">
                                                <img src="{{ teaserMedia.url }}" alt="red-circle-img" class="img-fluid">
                                            </div>
                                            <div class="red-text">
                                                <div class="red-headline">
                                                    {{ element.config.headline1.value }}
                                                </div>
                                                <div class="red-description">
                                                    {{ element.config.description1.value }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="base-slider circle-white gallery-slider{% if navigationArrows == "outside" %} has-nav-outside{% endif %}{% if navigationDots == "outside" %} has-dots-outside{% endif %}">
                                            {% block element_image_gallery_inner_wrapper %}
                                                {% if imageCount > 1 %}
                                                    {% block element_image_gallery_inner_multiple_slides %}
                                                        {% block element_image_gallery_inner_container %}
                                                            <div class="gallery-slider-container"
                                                                 data-gallery-slider-container="true">
                                                                {% block element_image_gallery_inner_items %}
                                                                    {% for image in mediaItems %}
                                                                        {% block element_image_gallery_inner_item %}
                                                                            <div class="gallery-slider-item-container">
                                                                                <div class="gallery-slider-item is-contain white-container" style="min-height: 300px">
                                                                                    <div class="white-image">
                                                                                        <img src="{{ image.media.media.url }}" class="img-fluid"  alt="{{ image.media.media.fileName }}">
                                                                                    </div>
                                                                                    <div class="white-text">
                                                                                        <div class="white-headline">
                                                                                            {{ image.headline.value }}
                                                                                        </div>
                                                                                        <div class="white-description">
                                                                                            {{ image.description.value }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="white-index">
                                                                                    {{ loop.index }} / {{ imageCount }}
                                                                                </div>
                                                                            </div>
                                                                        {% endblock %}
                                                                    {% endfor %}
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}

                                                        {% block element_image_gallery_inner_controls %}
                                                            {% if navigationArrows %}
                                                                <div class="gallery-slider-controls"
                                                                     data-gallery-slider-controls="true">
                                                                    {% block element_image_gallery_inner_control_items %}
                                                                        {% block element_image_gallery_inner_control_prev %}
                                                                            <button class="base-slider-controls-prev gallery-slider-controls-prev{% if navigationArrows == "outside" %} is-nav-prev-outside{% elseif navigationArrows == "inside" %} is-nav-prev-inside{% endif %}"
                                                                                    aria-label="{{ 'general.previous'|trans|striptags }}">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18"><g><g transform="rotate(-90 5 9.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M13 13.205v0l-8-8v0l-8 8v0"/></g></g></svg>
                                                                            </button>
                                                                        {% endblock %}

                                                                        {% block element_image_gallery_inner_control_next %}
                                                                            <button class="base-slider-controls-next gallery-slider-controls-next{% if navigationArrows == "outside" %} is-nav-next-outside{% elseif navigationArrows == "inside" %} is-nav-next-inside{% endif %}"
                                                                                    aria-label="{{ 'general.next'|trans|striptags }}">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18"><g><g transform="rotate(-90 5 9.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M13 5.205v0l-8 8v0l-8-8v0"/></g></g></svg>
                                                                            </button>
                                                                        {% endblock %}
                                                                    {% endblock %}
                                                                </div>
                                                            {% endif %}
                                                        {% endblock %}
                                                    {% endblock %}
                                                {% else %}
                                                    {% block element_image_gallery_inner_single %}
                                                        <div class="gallery-slider-single-image is-contain white-container" style="min-height: 300px;">
                                                            {% if imageCount > 0 %}

                                                                <div class="white-image">
                                                                    <img src="{{ mediaItems|first.media.media.url }}" class="img-fluid" alt="{{ mediaItems|first.media.media.fileName }}">
                                                                </div>
                                                                <div class="white-text">
                                                                    <div class="white-headline">
                                                                        {{ mediaItems|first.headline.value }}
                                                                    </div>
                                                                    <div class="white-description">
                                                                        {{ mediaItems|first.description.value }}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endblock %}
                                                {% endif %}
                                            {% endblock %}

                                        </div>
                                    </div>
                                {% endblock %}

                                {% block element_image_gallery_inner_thumbnails_col %}
                                    {% if imageCount > 1 %}
                                        <div class="gallery-slider-thumbnails-col   is-underneath">
                                            <div class="gallery-slider-thumbnails-container  is-underneath ">
                                                {% block element_image_gallery_inner_thumbnails %}
                                                    <div class="gallery-slider-thumbnails is-underneath"
                                                         data-gallery-slider-thumbnails="true">
                                                        {% block element_image_gallery_inner_thumbnails_items %}
                                                            {% for items in mediaItems %}
                                                                {% set image = items.media.media %}
                                                                {% block element_image_gallery_inner_thumbnails_item %}
                                                                    <div class="gallery-slider-thumbnails-item">
                                                                        {% block element_image_gallery_inner_thumbnails_item_inner %}
                                                                            <div class="gallery-slider-thumbnails-item-inner">
                                                                                <div class="thumbnail-image">
                                                                                    <img src="{{ image.url }}" class="img-fluid" alt="{{ image.fileName }}">
                                                                                </div>
                                                                                <div class="thumbnail-text">
                                                                                    {{ loop.index }}.<br>
                                                                                    {{ items.headline.value }}
                                                                                </div>
                                                                            </div>
                                                                        {% endblock %}
                                                                    </div>
                                                                {% endblock %}
                                                            {% endfor %}
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}

                                                {% block element_image_gallery_inner_thumbnails_controls %}
                                                    <div data-thumbnail-slider-controls="true" class="gallery-slider-thumbnails-controls">
                                                        {% block element_image_gallery_inner_thumbnails_controls_prev %}
                                                            <button class="base-slider-controls-prev gallery-slider-thumbnails-controls-prev">
                                                                {% sw_icon 'arrow-head-left' %}
                                                            </button>
                                                        {% endblock %}

                                                        {% block element_image_gallery_inner_thumbnails_controls_next %}
                                                            <button class="base-slider-controls-next gallery-slider-thumbnails-controls-next">
                                                                {% sw_icon 'arrow-head-right' %}
                                                            </button>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                            {% if imageCount > 1 and navigationDots %}
                                                <div class="base-slider-dots {% if imageCount > maxItemsToShowNav %} hide-dots{% elseif imageCount > maxItemsToShowMobileNav %} hide-dots-mobile{% endif %}">
                                                    {% block element_image_gallery_slider_dots_buttons %}
                                                        <div class="dot-inner">
                                                            {% for image in mediaItems %}
                                                                {% block element_image_gallery_slider_dots_button %}
                                                                    <button class="base-slider-dot"
                                                                            data-nav-dot="{{ loop.index }}"
                                                                            tabindex="-1"></button>
                                                                {% endblock %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endblock %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                            </div>
                        {% endblock %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}