{% block element_third_grid %}

    <div class="third-grid">
        <div class="grid-text-part">
            <div class="grid-text-headline">
                {{ element.config.headline.value }}
            </div>
            <div class="grid-text-topic">
                {{ element.config.subline.value }}
            </div>
            <div class="grid-text-text">
                {{ element.config.text.value|raw }}
            </div>
        </div>
        <div class="grid-image-part">
            {% for image in element.config.medias.value %}
                <div class="grid-image-{{ loop.index }}">
                    <img src="{{ image.media.value.url }}" alt="{{ image.media.value.alt }}" class="img-fluid">
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}