{% block element_servicer %}
    <div class="service-cms">
        <div class="container">
            <div class="service-header">
                <div class="headline">{{ element.config.header.value }}</div>
                <div class="subHeadline">{{ element.config.supText.value }}</div>
                <div class="textBlock">{{ element.config.textBlock.value|raw }}</div>
            </div>
            <div class="services-container service-inner">
                {% for image in element.config.sliders.value %}

                    {% set imageElement %}
                        <div class="service-item is-contain">
                            <img srcset="{{ image.media.media.url }}" class="img-fluid service-image" alt="{{ image.media.media.translated.alt }}" title="{{ image.media.media.translated.title }}" data-object-fit="cover">
                        </div>
                        <div class="service-item-header">
                            <div class="service-item-headline">{{ image.headline.value }}</div>
                            <a href="{{ image.url.value }}" class="btn service-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><g><g transform="rotate(-90 5.5 10)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M14.939 5.187v0l-9.626 9.626v0l-9.626-9.626v0"/></g></g></svg>
                            </a>
                        </div>
                    {% endset %}

                    <div class="service-item-container">
                        {{ imageElement }}
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
