{% block element_quick_facts %}
    <div class="quick-facts-block">
        {% if element.config.headline.value %}
            <div class="facts-label">
                {{ element.config.headline.value }}
            </div>
        {% endif %}
        <div class="fact-content">
            {{ element.config.content.value|raw }}
        </div>
        {% if element.config.url.value %}
            <div class="button-box">
                <a href="{{ element.config.url.value }}"
                   class="quick-facts-link"
                   {% if element.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>
                    {{ element.config.buttonTitle.value }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
