{% block element_dual_text_image %}
    {% set mediaCollection = searchMedia([element.config.media.value], context.context) %}
    {% set teaserMedia = mediaCollection.get(element.config.media.value) %}

    <div class="dual-text-image-element">
        <div class="wide-element-inner">
            <div class="text-block">
                <div class="text-inner">
                    <div class="headline">
                        {{ element.config.headline.value }}
                    </div>
                    <div class="subLine">
                        {{ element.config.subLine.value }}
                    </div>
                    <div class="wide-description">
                        {{ element.config.description.value|raw }}
                        <div class="button-inner">
                            <a href="{{ element.config.url.value }}"
                               class="dual-text-image-link">
                                {{ element.config.buttonText.value }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-block wide-image" style="background-image: url('{{ teaserMedia.url }}')">

            </div>
        </div>
    </div>
{% endblock %}