{% block element_breadcrumb %}
    <div class="breadcrumb-element">
        <div class="breadcrumb cms-breadcrumb container">
            {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                context: context,
                category: page.header.navigation.active
            } only %}
        </div>
    </div>
{% endblock %}