{% block dialog_element %}
    <div class="dialog-element">
        <div class="container">
            <div class="dialog-inner">
                <div class="dialog-headline">
                    {{ element.config.headline.value }}
                </div>
                <div class="subLine">
                    {{ element.config.subLine.value }}
                </div>
                <div class="dialog-description">
                    {{ element.config.description.value|raw }}
                </div>
                <a href="{{ element.config.url.value }}" class="dialog-link">
                    {{ element.config.buttonTitle.value }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}