{% block element_content_slider %}
    <div class="cms-content-slider">


        <div class="banner-slider-box cms-element-content-slider">
        {% set baseSliderOptions = {
            slider: {
                navPosition: 'bottom',
                autoplay: false,
                autoplayButtonOutput: false,
                mouseDrag: true,
                speed: 500,
                nav: true,
                controls: true,
                autoHeight: true
            }
        } %}



            <div class="base-slider image-slider "
                data-base-slider="true"
                data-base-slider-options='{{ baseSliderOptions|json_encode }}'>
                <div class="image-slider-container banner-slider-inner"
                     data-base-slider-container="true">
                    {% for content in element.config.sliders.value %}
                        <div class="banner-text">
                            <div class="banner-text-inner" style='background-image: url({{ content.media2.media.url }})'>
                                <div class="container ">
                                    <div class="text-block">
                                        {% if content.topic.value %}
                                            <div class="text-topic">
                                                {{ content.topic.value }}
                                            </div>
                                        {% endif %}

                                        {% if content.headline.value %}
                                            <div class="text-headline">
                                                {{ content.headline.value }}
                                            </div>
                                        {% endif %}

                                        {% if content.subline.value %}
                                            <div class="text-subline">
                                                {{ content.subline.value }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="button-block ">
                                        <div class="block-inner">
                                            <div class="button-additional-text">
                                                {{ content.buttonText.value }}
                                            </div>
                                            <div class="button-inner">
                                                <a href="{{ content.url.value }}"
                                                   class="banner-text-link"
                                                   target="_blank" rel="noopener">
                                                    {{ content.buttonTitle.value }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if content.showRight.value  %}
                                        <div class="right-container">
                                            <div class="image-inner">
                                                <img src="{{ content.media.media.url }}" alt="" class="img-fluid">
                                            </div>
                                            <div class="right-text-inner">

                                                <div class="right-headline">
                                                    {{ content.headline2.value }}
                                                </div>

                                                <div class="right-desc">
                                                    {{ content.description2.value|raw }}
                                                </div>

                                                <div class="right-button">
                                                    <a href="{{ content.url2.value }}"
                                                       class="right-text-link"
                                                       target="_blank" rel="noopener">
                                                        {{ content.buttonTitle2.value }}
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="triangle"></div>
                                        <div class="red-line"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if element.config.sliders.value|length > 1 %}
                    <div class="image-slider-controls-container" >
                        <div class="base-slider-controls"
                            data-base-slider-controls="true">
                            <button class="base-slider-controls-prev image-slider-controls-prev is-nav-next-inside" id="prevButton">
                               <svg xmlns="http://www.w3.org/2000/svg" width="14" height="25" viewBox="0 0 14 25"><g><g transform="rotate(-90 7 12.5)"><path fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="20" d="M19 18.5v0L7 6.5v0l-12 12v0"/></g></g></svg>
                            </button>
                            <button class="base-slider-controls-next image-slider-controls-next is-nav-next-inside" id="nextButton">
                               <svg xmlns="http://www.w3.org/2000/svg" width="14" height="25" viewBox="0 0 14 25"><g><g transform="rotate(-90 7 12.5)"><path fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="20" d="M19 6.5v0l-12 12v0l-12-12v0"/></g></g></svg>
                            </button>
                        </div>
                    </div>
                {% endif %}

            </div>


        </div>
    </div>
{% endblock %}