{% block element_subcategory_teasers %}
    {% set categories = searchCategory(context.context) %}
    <div class="cms-element-subcategory-teasers">
        {% set productSliderOptions = {
            productboxMinWidth: '280px',
            slider: {
                gutter: 30,
                autoplayButtonOutput: false,
                nav: true,
                mouseDrag: false,
                controls:  true ,
                autoplay:  false
            }
        } %}

        <div class="base-slider product-slider " data-product-slider="true" data-product-slider-options="{{ productSliderOptions|json_encode }}">
            <div class="product-slider-container" data-product-slider-container="true">
                {% for category in categories %}
                    {% if category.parentId == page.header.navigation.active.id %}
                        {% if category.mediaId %}
                            {% set mediaCollection = searchMedia([category.mediaId], context.context) %}
                            {% set categoryMedia = mediaCollection.get(category.mediaId) %}
                        {% else %}
                            {% set categoryMedia = null %}
                        {% endif %}
                        <div class="subcategory-block">
                            <div class="image-box">
                                {% if categoryMedia %}
                                    <img src="{{ categoryMedia.url }}" class="img-fluid" alt="img">
                                {% endif %}
                            </div>
                            <h3>{{ category.name }}</h3>
                            <p>{{ category.description }}</p>
                            <a href="{{ category_url(category) }}" class="subcategory-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><g><g transform="rotate(-90 5.5 10)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M14.939 5.313v0l-9.626 9.626v0l-9.626-9.626v0"/></g></g></svg>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="product-slider-controls-container">
                <div class="base-slider-controls" data-product-slider-controls="true">
                    <button class="base-slider-controls-prev product-slider-controls-prev slider-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18">
                            <g><g transform="rotate(-90 5 9.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M13 13.205v0l-8-8v0l-8 8v0"/></g></g>
                        </svg>
                    </button>

                    <button class="base-slider-controls-next product-slider-controls-next slider-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18"><g><g transform="rotate(-90 5 9.5)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M13 5.205v0l-8 8v0l-8-8v0"/></g></g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

