<form action="/form/newsletter" method="post" data-form-csrf-handler="true" data-form-validation="true" novalidate="">
    {% set config = element.fieldConfig.elements %}
    {% set mediaCollection = searchMedia([config.media.value], context.context) %}
    {% set teaserMedia = mediaCollection.get(config.media.value) %}
    <div class="form-content">
        <div class="form-inner-box">
            <div class="form-main">
                <div class="newsletter-text">
                    <div class="newsletter-headline">
                        {{ config.headline.value }}
                    </div>
                    <div class="subTitle">
                        {{ config.subline.value }}
                    </div>
                    <div class="newsletter-description">
                        {{ config.text.value|raw }}
                    </div>
                </div>
                <div class="newsletter-form-inner">
                    <div class="form-row d-none">
                        <div class="form-group col-12 ">
                            <label class="form-label" for="newsletterAction">
                                {{ "newsletter.labelActionSelect"|trans }} {{ "general.required"|trans }}
                            </label>
                            <select name="option"
                                    id="newsletterAction"
                                    required="required"
                                    class="custom-select"

                                    data-form-field-toggle-value="subscribe">
                                <option selected="selected"
                                        value="{{ constant('Shopware\\Storefront\\Controller\\FormController::SUBSCRIBE') }}">
                                    {{ "newsletter.subscribeOption"|trans }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-inputs">
                        <div class="name-input">
                            <label class="form-custom-label" for="form-Name-{{ element.id }}">{{ "spsTheme.CMS.newsletterNameTitle"|trans|sw_sanitize }}</label>
                            <input name="firstName" id="form-Name-{{ element.id }}" value=""  class="form-custom-control">
                        </div>
                        <div class="mail-input">
                            <label class="form-custom-label" for="form-e-mail-{{ element.id }}">{{ "spsTheme.CMS.newsletterEmailTitle"|trans|sw_sanitize }}</label>
                            <input name="email" type="email" id="form-e-mail-{{ element.id }}" value=""  required="required" class="form-custom-control">
                        </div>
                    </div>

                    <div class="form-text privacy-notice  custom-checkbox">
                        <input name="privacy"
                               type="checkbox"
                               class="custom-checkbox-input"
                               id="privacy-input-{{ element.id }}"
                               required>

                        <label for="privacy-input-{{ element.id }}" class="custom-checkbox-label">
                            <span class="checkbox-circle">
                                <span></span>
                            </span>
                            <span class="checkbox-text">
                                {{ element.config.privacyText.value }}
                            </span>
                        </label>

                    </div>
                </div>
            </div>
            <div class="newsletter-employee-box d-none d-md-block">
                <div class="employee-inner">
                    <div class="img-inner">
                        <img src="{{ teaserMedia.url }}" alt="employee" class="img-fluid">
                    </div>
                    <div class="desc-inner">
                        <div class="name">
                            {{ config.employeeName.value }}
                        </div>
                        <div class="title">
                            {{ config.employeeTitle.value }}
                        </div>
                        <div class="phone">
                            {{ config.employeePhone.value }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn newsletter-btn btn-send" type="submit">
            {{ element.config.buttonText.value }}
        </button>
        <div class="newsletter-employee-box d-block d-md-none">
            <div class="employee-inner">
                <div class="img-inner">
                    <img src="{{ teaserMedia.url }}" alt="employee" class="img-fluid">
                </div>
                <div class="desc-inner">
                    <div class="name">
                        {{ config.employeeName.value }}
                    </div>
                    <div class="title">
                        {{ config.employeeTitle.value }}
                    </div>
                    <div class="phone">
                        {{ config.employeePhone.value }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block cms_form_newsletter_hidden_fields %}
        <div class="form-hidden-fields">
            {% block cms_form_newsletter_csrf %}
                {{ sw_csrf(action) }}
            {% endblock %}

        </div>
    {% endblock %}
</form>
