{% block sw_cms_block_seven_steps %}
    <div class="sw-cms-block-seven-steps">
        <slot name="sevensteps">{% block sw_cms_block_seven_steps_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
