{% block sw_cms_block_subcategory_teaser_preview %}
    <div class="sw-cms-preview-subcategory-teaser">
        <img :src="'/spstheme/img/custom-elements/sub-teasers.png' | asset">
    </div>
{% endblock %}
