{% block sw_cms_block_content_slider %}
    <div class="sw-cms-block-content-slider">
        <slot name="contentslider">{% block sw_cms_block_content_slider_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
