/*
 *Design for cms elements
 *__________________________/
 */

@import 'cms-elements/text-bullets';
@import 'cms-elements/dual-teaser';
@import 'cms-elements/two-boxes';
@import 'cms-elements/dual-text-image';
@import 'cms-elements/seven-steps';
@import 'cms-elements/quick-facts';
@import 'cms-elements/banner-text';
@import 'cms-elements/services';
@import 'cms-elements/newsletter';
@import 'cms-elements/product-grid';
@import 'cms-elements/benefits';
@import 'cms-elements/content-slider';
@import 'cms-elements/sps-slider';
@import 'cms-elements/info-circles';
@import 'cms-elements/dialog';
@import 'cms-elements/subcategory-teaser';
@import 'cms-elements/filter';
@import 'cms-elements/third-grid';

.category-page-banner{
  .boxed{
    //max-width: 1060px;
    //margin: auto;

    .cms-element-text{
      padding: 24px 0 88px;
      color: $sw-color-brand-primary;
      font-size: 28px;
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 500;
      @include media-breakpoint-up(md){
        max-width: 600px;
        padding: 60px 0 252px;
        font-size: 40px;
        line-height: 48px;
      }
    }
  }
}
.category-page-banner-2{
  .boxed{
    //max-width: 1060px;
    //margin: auto;

    .cms-element-text{
      padding: 24px 0 ;
      color: $sw-text-color;
      font-size: 28px;
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 500;
      div{
        color: $sw-color-brand-primary;
        margin-top: 24px;
      }
      @include media-breakpoint-up(md){
        max-width: 600px;
        padding: 60px 0;
        font-size: 40px;
        line-height: 48px;
        div{
          margin-top: 60px;
        }
      }
    }
  }
}

.breadcrumb {
  a {
    font-size: 14px;
    line-height: 28px;
    &.is-active{
      font-weight: unset;
    }
  }
  .breadcrumb-placeholder{
    margin: 0 9px;
  }
}

.cms-element-text{
  h1{
    text-transform: uppercase;
    font-weight: 500;
  }
  @include media-breakpoint-up(md){
    h1{
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 30px;

    }
    p{
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.compact-text{
  h2{
    font-weight: 300;
    font-style: italic;
    font-family: $italic;
  }
  .cms-element-text{
    max-width: 1060px;
    margin: auto;
  }
  p{
    margin-bottom: 5px;
  }
  @include media-breakpoint-up(md){
    h2{
      line-height: 70px;
      margin-bottom: 50px;
      font-size: 60px;
    }
  }
}

.compact-text-2{
  position: relative;
  .cms-element-text{

    position: relative;
  }
  h2{
    font-weight: 300;
    font-style: italic;
    font-family: $italic;
  }
  p{

    font-size: 16px;
    line-height: 24px;
  }
  @include media-breakpoint-up(md){
    h2{
      line-height: 70px;
      margin-bottom: 50px;
      font-size: 60px;
    }
    p{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 34px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(xl){
    padding: 0 260px 170px;
    &:before{
      content: "";
      display: block;
      height: 250px;
      width: 1px;
      background: $sw-color-brand-primary;
      position: absolute;
      transform: rotate(45deg);
      left: 180px;
    }
    &:after{
      content: "";
      display: block;
      height: 250px;
      width: 1px;
      background: $sw-color-brand-primary;
      position: absolute;
      transform: rotate( 45deg);
      right: 180px;
      bottom: 160px;
    }
  }
}


.custom-grid.cms-block-image-simple-grid{
  .cms-block-container-row {
    max-width: 1060px;
    margin: auto;
    padding-bottom: 30px;
    @include media-breakpoint-up(md){
      position: relative;
      padding-bottom: 200px;
      .col-md-6:first-child{
        padding-right: 16px;
      }
      .col-md-6:last-child{
        padding-left: 16px;
      }
      .left-top{
        margin-bottom: 22px;
      }
      &:before{
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 40px;
        background: $sw-color-brand-primary;
        left: calc(50% - 25px);
        bottom: 70px;
        transform: rotate(45deg);
        transform-origin: right;
      }
    }
  }
}

.has-stroke{
  .cms-block:last-child{
    .cms-block-container-row{
      padding-bottom: 30px;
      @include media-breakpoint-up(md){
      position: relative;
      padding-bottom: 200px;
      &:before{
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 40px;
        background: $sw-color-brand-primary;
        left: calc(50% - 25px);
        bottom: 70px;
        transform: rotate(45deg);
        transform-origin: right;
      }
    }
    }
  }
}
