/*
 * Design for product boxes
 */
.cms-listing-row  .product-box{
  background-color: transparent;
  border: none;
  border-radius: 0;
  .card-body{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
  }
  .product-badges{
    left: unset;
    right: 0;
    .badge{
      border-radius: 0;
    }
  }
  .product-name{
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    height: auto;
    margin-bottom: 35px;
  }
  .product-image-wrapper{
    height: auto;
    width: 30%;
    flex-grow: unset;
    flex-basis: unset;
    margin-bottom: 0;
  }

  .product-info{
    width: 70%;
    display: flex;
  }
  .main-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .product-description{
      min-height: 20px;
      margin-top: 0;
      height: auto;
      display: block;
      font-family: $lucida;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
    ul{
      list-style: none;
      padding-left: 20px;
      li{
        position: relative;
        &:before{
          width: 4px;
          height: 2px;
          display: block;
          background: $sw-color-brand-primary;
          content: "";
          position: absolute;
          left: -20px;
          top: 10px;
        }
      }
    }
  }

  .product-custom-actions{
    display: flex;
    margin-bottom: 10px;
    .product-rating{
      height: auto;
      margin-right: 30px;
      margin-bottom: 0;
      text-align: center;
      .point-partial-placeholder svg{
        position: relative;
        left: -1px;
        top: 0.4px;
      }
    }
    .product-review-rating{
      margin: 0;
    }
    .rating-label{
      font-size: 12px;
      margin-top: 23px;
      text-transform: uppercase;
      display: block;
    }
    .product-wishlist{
      margin-right: 30px;
      margin-top: 0;
      .icon{
        color: $sw-text-color;
        margin-top: 3px;
      }
    }
    .product-wishlist-action-circle{
      position: relative;
      height: auto;
      width: auto;
      background: transparent;
      border-radius: 0;
      border: none;
      bottom: unset;
      right: unset;
      padding: 0;
    }
    .wishlist-text{
      color: $sw-text-color;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-top: 14px;
    }
    a.product-data{
      display: inline-block;
      color: $sw-text-color;
      text-align: center;
      padding-top: 2px;
      &:hover{
        text-decoration: none;
      }
    }
    .data-label{
      color: $sw-text-color;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-top: 18px;

    }
  }

  .product-bottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
  }
  .product-price-wrapper{
    text-align: center;
    margin-bottom: 50px;
    color: $sw-text-color;
    .net{
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      display: block;
    }
    .gross{
      display: block;
      font-size: 14px;
      line-height: 17px;
      font-weight: 300;
    }
  }

  .product-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-block{
      margin-bottom: 20px;
      display: inline-block;
      width: auto;
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
      color: $sw-color-brand-primary;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
      text-transform: uppercase;
    }
    .product-contact-btn{
      display: inline-block;
      color: $sw-text-color;
      text-align: center;
      padding-top: 2px;
      &:hover{
        text-decoration: none;
      }
      .btn-title{
        color: $sw-text-color;
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        margin-top: 18px;
      }
    }
  }

  .gallery-slider-controls{
    display: none;
  }
  .gallery-slider-row.is-loading{
    height: auto;
  }
  .gallery-slider-row{
    margin-bottom: 0;
  }
  .gallery-slider-item-container{
    padding: 5px;
  }
  .gallery-slider-item{
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
      max-height: 100%;
    }
  }
  .gallery-slider-thumbnails-item{

    .gallery-slider-thumbnails-item-inner{
      border: none;
      border-radius: 0;
      padding: 1px 60px 1px 1px;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        height: 70px;
        background: #d3d3d3;
        width: 1px;
        right: 30px;
        top: 50%;
        transform-origin: top;
        transform: rotate(45deg) translateY(-50%);
      }
      //&:last-child:after{
      //  display: none;
      //}
    }
    &:last-child{
      .gallery-slider-thumbnails-item-inner:after{
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg){
    .product-name{
      font-size: 28px;
      line-height: 54px;
      margin-bottom: 50px;
    }
    .card-body{
      padding-bottom: 200px;
      position: relative;
      &:before{
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 40px;
        background: $sw-color-brand-primary;
        left: calc(50% - 25px);
        bottom: 70px;
        transform: rotate(45deg);
        transform-origin: right;
      }
    }

    .product-price-wrapper{
      .net{
        font-size: 48px;
        line-height: 52px;
      }
      .gross{
        font-size: 16px;
        line-height: 20px;
      }
    }

    .main-info{
      padding: 0 20px;
      .product-description{
        font-size: 16px;
        line-height: 26px;
      }
    }
    .product-action{
      .btn-block{
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 60px;
      }
    }
  }
  @media screen and (max-width: 800px){
    .product-image-wrapper{
      width: 100%;
      margin-bottom: 36px;
    }

    .product-info{
      width: 100%;
      flex-direction: row;
    }
  }
  @media screen and (max-width: 575.5px){
    .product-info{
      flex-direction: column;
    }

    .product-name{
      margin-bottom: 20px;
    }

    .main-info ul{
      margin-bottom: 30px;
    }
    .product-custom-actions{
      margin-bottom: 35px;
    }

    .product-action{
      flex-direction: row;
      align-items: flex-end;
      justify-content: end;
      .btn-block{
        margin-bottom: 0;
        margin-right: 30px;
        padding: 9px 11px;
      }
    }
    .product-price-wrapper{
      text-align: right;
    }
    .gallery-slider-thumbnails-item .gallery-slider-thumbnails-item-inner{
      padding: 1px 30px 1px 1px;
      &:after{
        right: 5px;
        height: 45px;
      }
    }
  }
}

.cms-listing-row[data-view="grid"]{
  @include media-breakpoint-up(lg){
    .product-box{
      .product-image-wrapper{
        width: 100%;
        margin-bottom: 36px;
      }

      .product-info{
        width: 100%;
        flex-direction: row;
      }
    }
  }
}