{% block sw_cms_element_third_grid_config %}
    <div class="sw-cms-el-config-third-grid">
        <sw-text-field  v-model="element.config.headline.value" placeholder="Headline" sanitize-input />
        <sw-text-field  v-model="element.config.subline.value" placeholder="Subline" sanitize-input />
        <sw-text-editor  v-model="element.config.text.value" placeholder="Text" sanitize-input />

        <div v-for="(item, index) in element.config.medias.value" :key="index" class="content-box">
            <div class="images-box">
                <h3>Img-{{ index+1 }}</h3>
                {% block sw_cms_element_third_grid_config_media_upload %}
                    <sw-media-compact-upload-v2
                        variant="regular"
                        :upload-tag="uploadTag(index)"
                        :source="previewSource(index)"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @selection-change="onSelectionChanges($event, index)"
                        @media-upload-remove-image="onImageRemove(index)">
                    </sw-media-compact-upload-v2>

                    <sw-upload-listener :upload-tag="uploadTag(index)" auto-upload @media-upload-finish="onImageUpload($event, index)"/>
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
