.sw-cms-el-config-third-grid {
    .sw-media-upload-v2 {
        margin-bottom: 22px;

        .sw-media-upload-v2__header {
            display: none;
        }
    }
    
    .content-box:not(:last-child) {
        margin-bottom: 20px;
        border-bottom: 1px solid black;
    }
    .sw-media-preview-v2__item {
        width: 100%;
        height: 100%;
    }
    .twice {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .small-media {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .sw-cms-el-config-image__mapping-preview {
        display: grid;
        width: 100%;
        height: 200px;
        justify-items: center;
        align-items: start;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            overflow: hidden;
        }

        .sw-cms-el-config-image__preview-info {
            width: 100%;
        }
    }
}
