/*
Footer
==================================================
Contains custom styles for the footer located at the bottom of the page.
*/

.footer-main{
  background-color: $lightGray;
  border-top: none;
  @media screen and (max-width: 767px){
    .container{
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .footer-top{
    background-color: $sw-background-color;
    padding: 80px 0px;
    .icons-headline{
        font-size: 26px;
        font-weight: 500;
        line-height: 34px;
        text-transform: uppercase;
      }
      .icons-subheadline{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
      }
    .logos-container{
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: center;
      @media screen and (max-width: 767px){
        align-items: baseline;
        .footer-logo{
          margin: 0;
          margin-bottom: 34px;
          width: 33.33%;
          padding-right: 15px;
        }
      }
    }
    .footer-logo{

    }
    @include media-breakpoint-up(md){
      padding: 105px 65px;
    .logos-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        align-items: center;
      }
    }
    @include media-breakpoint-up(xl){
      padding: 210px 0 120px 0;
      .logos-container{
        margin-top: 70px;
      }
      .footer-logo{
        padding-right: 60px;
        margin-right: 0;
        width: 14.28%;
        img{
          width: 100%;
          max-width: 160px;
        }
      }
      .icons-headline{
        font-size: 32px;
        font-weight: 500;
        line-height: 34px;
      }
      .icons-subheadline{
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }
  .footer-nav-inner{
    padding: 60px 0 55px;
    overflow: hidden;
    .footer-logo{
      max-width: 150px;
      margin-bottom: 43px;
    }
    .footer-headline{
      color: $sw-text-color;
      font-size: 18px;
      line-height: 32px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .hotline-title{
      margin-top: 30px;
    }
    .hotline-number,
    .hotline-text{
      font-size: 16px;
      line-height: 28px;
    }
    .hotline-number{
      color: $sw-color-brand-primary;
    }
    .footer-column-content{
      padding-left: 12px;
      display: flex;
      flex-direction: column;
    }

    .no-link,
    .footer-link{
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      position: relative;
      margin-bottom: 25px;
      svg{
        position: absolute;
        left: -17px;
        top: 2px;
      }
    }
    @include media-breakpoint-up(md) {
      padding: 80px 60px 75px;
      .footer-logo{
        max-width: 209px;
        margin-bottom: 65px;
      }
      .footer-headline{
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
        padding: 0;
        text-transform: uppercase;
      }
      .hotline-title{
        margin-top: 55px;
      }
      & > .container{
        position: relative;
        &:before{
          content: "";
          position: absolute;
          display: block;
          width: 50%;
          height: 1px;
          background: $sw-color-brand-primary;
          transform: translateX(-100%) rotate(
      -45deg);
          transform-origin: right;
          left: -15px;
          top: 30px;
        }
      }
    }

  }
  .footer-bottom{
    background-color: $white;
    padding: 34px 16px 50px;
    .footer-logos{
      padding: 0;
      align-items: stretch;
    }
    .social-buttons,
    .logo-inner{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .is-quality{
      margin-right: 12px;
    }
    .logo-container{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 40px;
      .logos-headline{
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
    }
    .social-link{
      display: inline-block;
    }
    .footer-copyright{
      margin-top: 60px;
    }
    @include media-breakpoint-up(sm){
      .logo-container{
        width: 50%;
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-up(md){
      padding: 44px 64px 64px;
      .logo-container{
        width: 25%;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
  .footer-columns{
    .footer-column{
      border: none;
    }
    @media screen and (max-width: 767px) and (min-width: 350px){
      .footer-column{
        width: 50%;
      }
    }
  }
}
