.global-badge{
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  width: 81px;
  height: 81px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: linear-gradient( 315deg, $white 50%, transparent 50.1%);
  padding-right: 7px;
  padding-bottom: 10px;
  .badge-text{
    display: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  .badge-icon{
    margin-bottom: -2pxpx;
    svg{
      width: 26px;
    }
  }
  .badge-link{
    text-align: center;
  }
  @include media-breakpoint-up(md){
    width: 183px;
    height: 183px;
    .badge-text{
      display: inline-block;
    }
    .badge-icon{
      margin-bottom: 15px;
      svg{
        width: auto;
      }
    }
  }
}