/*
Header
==================================================
Contains custom styles for the header at the top of the page.
The header contains the shop logo, the search form and various actions like the offcanvas cart button.
*/

.header-main{
    @include media-breakpoint-between(md , lg){
        position: relative;
    }
}

.header-row{
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        width: 1px;
        height: 100%;
        background-color: $sw-color-brand-primary;
        top: 0;
    }
    @include media-breakpoint-down(xs){
        padding: 16px 16px 19px 16px;
        &:before{
            left: 16px;
        }

        .header-logo-col{
            padding-left: 17px;
        }
        .mobile-trigger{
            padding-right: 0;
        }
        .header-actions-col{
            position: fixed;
            padding: 0;
            left: 0;
            width: 100%;
            background-color: $sw-background-color;
            z-index: 1041;
            bottom: 0;
            height: 40px;
            & > div {
                justify-content: space-between;
                padding: 0 30px;
            }
        }
    }
    @include media-breakpoint-up(sm){
        padding: 23px 10px 19px 28px;
        &:before{
            left: 28px;
        }

    }
    @include media-breakpoint-up(md){
        padding: 23px 48px 19px 68px;
        &:before{
            left: 68px;
        }

    }
    @include media-breakpoint-up(xl){
        padding: 47px 0 60px 0;
        &:before{
            left: 10px;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            height: 50px;
            width: calc(50vw - 50% + 7px );
            transform: translateX(100%);
            right: 15px;
            z-index: -1;
            top: 58px;
            box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
        }

    }
    @media screen and (min-width: 1440px){
        &:before{
            left: -10px;
            box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
            .icon{
                color: $sw-text-color;
            }
        }
    }
}

.header-logo-col{
    padding-bottom: 0;
    margin: 0;
}

.header-logo-picture {
    max-width: 103px;
    @include media-breakpoint-up(sm){
        max-width: 138px;
    }
    @include media-breakpoint-up(xl){
        max-width: 232px;
    }
}

/* burger button */
.menu-button{
    margin-left: 18px;
    .btn{
        width: 60px;
        box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    }
}
.mobile-trigger{
    .menu-button{
        .btn{
            width: 48px;
            height: 33px;
            .icon-x > svg{
                top: -5px;
            }
            .icon-stack > svg{
                top: 0;
            }
            .icon{
                width: 15px;
                height: 15px;
            }
            .icon-x{
                display: none;
            }
            &:focus{
                box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
            }
        }
    }
}
.no-scroll .mobile-trigger{
    .menu-button{
        .btn{
            pointer-events: none;
            .icon-stack{
                display: none;
            }
            .icon-x{
                display: inline-block;
            }
        }
    }
}

/* header actions */

.header-actions-col{
    & > div {
        align-items: center;
        .col-auto{
            height: 38.3px;
        }
    }
    .account-menu-login{
        .btn{
            color: $white;
        }
    }
    .btn{
        text-transform: uppercase;
        font-size: 15px;
        color: $sw-text-color;
        svg{
            vertical-align: sub;
        }
        .top-bar-nav-text{
            vertical-align: sub;
            display: inline-block;
            @include media-breakpoint-down(lg){
                font-size: 14px;
            }
        }
    }
    @include media-breakpoint-down(lg){
        .account-menu-btn{
            svg{
                width: 17px;
                height: 15px;
            }
        }
        .header-wishlist-btn{
            svg{
                width: 17px;
                height: 15px;
            }
        }
        .header-cart-btn{
            svg{
                width: 16px;
                height: 16px;
            }
        }
    }
    .service-menu .btn,
    .languages-menu .btn,
    .career{
        padding: 0;
    }
    .career{
        margin-right: 18px;
    }
    .languages-menu .btn{
        margin-right: 10px;
    }
    @include media-breakpoint-up(xl){

        .languages-menu .btn,
        .career{
            padding: 0;
            margin-right: 30px;
        }
        .account-menu,
        .header-wishlist{
            margin-right: 8px;
        }
        .service-nav-block{
            margin-right: 30px;
        }
        .service-menu:hover{
            .dropdown-menu {
                display: block;
            }
        }
    }
    .languages-menu.dropdown,
    .service-menu.dropdown {
        &.show{
            .btn{
                color: $darkGray ;
            }
        }
        .dropdown-menu{
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            margin-top: -8px;
            background-color: $sw-text-color;
            border: none;
            padding: 24px;
             @include media-breakpoint-up(xl){
                 min-width: 210px;
             }
        }
        .top-bar-list-item{
            margin-bottom: 14px;
            opacity: 0.5;
            padding: 0 0 0 24px;
            font-size: 14.7px;
            font-weight: 400;
            color: $white;
            position: relative;
            &:hover{
                opacity: 1;
            }
            &:after{
                position: absolute;
                content: "";
                height: 15px;
                width: 1px;
                background: $white;
                left: 5px;
                display: inline-block;
                transform: rotate(45deg);
            }
        }
    }
    @include media-breakpoint-up(xl){
        & > div {
            align-items: center;
            padding-left: 29px;
            height: 50px;
            box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
            position: relative;
            border-radius: 4px 0 0 4px;
            background-color: $sw-background-color;

            &:before{
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                background: $sw-background-color;
                width: 40px;
                right: -20px;
            }
        }

    }
}


.header-cart-badge{
    display: block;
}