/*/
/* Listing
/*/

.cms-listing-row{
  .cms-listing-col{
    width: 100%;
    transition: all ease 0.4s;
  }
  @media (min-width: 991.6px){
    &[data-view="grid"]{
      .cms-listing-col{
        width: 50%;
      }
    }
    &[data-view="list"]{
      .cms-listing-col{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px){
  .cms-element-product-listing .cms-listing-col{
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination-nav{
  text-align: center;
  .pagination{
    padding: 8px 12px;
    min-width: 136px;
    border-radius: 5px;
    box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    .page-prev{
      svg{
        transform: rotate(180deg);
      }
    }
    .page-prev,
    .page-next{
      & *{
        cursor: pointer;
      }
      cursor: pointer;
      padding: 0 6px;
    }
  }
  li{
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 3px;
  }
  .pagination-link{
    margin-bottom: 0;
  }
}