/*
Main navigation
==============================================
Custom styling for main navigation on larger screens.

*/

.main-navigation-menu{
    box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    position: relative;
    border-radius: 0 4px 4px 0;
    background-color: $sw-background-color;
    display: inline-block;
    height: 72px;
    .nav-inner{
        display: flex;
        align-content: center;
        position: relative;
        height: 100%;
        align-items: center;
        padding-right: 40px;
    }
    .nav-link {
        padding-right: 0;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 500;
        color: $sw-color-brand-primary;
        text-transform: uppercase;

        & > .btn{
            padding: 0;
        }

        &:hover{
            color: $sw-text-color;
            & > .btn{
                color: $sw-text-color;
            }
        }

        .btn{
            font-size: 20px;
            font-weight: 500;
            color: $sw-color-brand-primary;
            text-transform: uppercase;
            &.active{
                color: $sw-text-color;
            }
        }
        span{
            display: inline-block;
            vertical-align: sub;
        }
        &.dropdown:hover{
            .dropdown-menu{
                display: block;
            }
        }
    }
    .main-navigation-link .main-navigation-link-text{
        border: none;
        padding-bottom: 0;
    }
    .main-navigation-link {
        &.show{
            .dropdown-navigation{
                color: $sw-text-color; ;
            }
        }
        .dropdown-menu{
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            margin-top: -8px;
            background-color: $sw-color-brand-primary;
            border: none;
            padding: 24px;
             @include media-breakpoint-up(xl){
                 min-width: 230px;
             }
        }
        .subcategory-link{
            margin-bottom: 14px;
            opacity: 1;
            padding: 0 0 0 24px;
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            display: block;
            position: relative;
            &.btn{
                color: $white;
                text-align: left;
            }
            &.has-childes{
                margin-bottom: 5px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                opacity: 0.5;
            }
            &:after{
                position: absolute;
                content: "";
                height: 17px;
                width: 1px;
                background: $white;
                left: 5px;
                display: inline-block;
                transform: rotate(45deg);
            }

        }
        .sub-childes{
            .subcategory-link{
                font-size: 14px;
                &:after{
                    display: none;
                }
            }
        }
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 50vw;
        transform: translateX(-100%);
        left: 0;
        z-index: -1;
        top: 0;
        box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    }
    &:before{
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        background: $sw-background-color;
        width: 40px;
        left: -20px;
    }
}

/* search bar */
.search-box--inner{
    position: relative;
    .search-block{
        min-width: 40px;
    }
    .search-toggle{
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 2;
        .search-active{
            display: none;
        }
    }
}
.search-box--inner .search-block {
    .input-group {
        position: relative;
        overflow: hidden;
        width: 0;
        transition: all ease .6s;

        .header-search-input {
            padding-right: 40px;
            padding-bottom: 2px;
            padding-top: 2px;
            border: none;
            background: transparent;
            border-radius: 0;
            width: 100%;
            border-bottom: 1px solid $darkGray;
        }
        .header-search-btn{
            min-width: 40px;
            min-height: 40px;
        }
        .input-group-append {
            position: absolute;
            top: 1px;
            right: 1px;
            z-index: 5;
            display: none;
            .header-search-btn {
                border: none;
                background: transparent;
            }
            .loader{
                position: absolute;
                top: 10px;
                right: 10px;
                width: 20px;
                height: 20px;
            }
        }
    }
    &.search-active{
        .input-group {
            width: 215px;
        }
        .input-group-append{
            display: block;
        }
    }
}
