/*
Navigation offcanvas
==============================================
Custom styling for navigation offcanvas which replaces main navigation on smaller screens.
Based on custom offcanvas component.
*/

.navigation-offcanvas{
  background-color: $sw-color-brand-primary;
  color: $white;
  height: auto;
  bottom: 0;

  .offcanvas-close{
    display: none;
  }
  & ~ .modal-backdrop {
    background-color: transparent;
  }
  @include media-breakpoint-down(xs){
    top: 68px;
    width: calc(100% - 16px) !important;

  }
  @include media-breakpoint-up(sm){
    top: 87px;

  }
  .offcanvas-content-container{
    height: 100%;
    padding-bottom: 190px;
    .sidebar-navigation{
      max-height: 100%;
      overflow: auto;
      padding: 30px;
      padding-left: 50px;
    }
    * ::-ms-input-placeholder,
    *::-webkit-input-placeholder{
      color: $white;
    }
    input::placeholder {
      color:  $white;
      opacity: 1; /* Firefox */
    }

    * :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:  $white;
    }

    * ::-ms-input-placeholder { /* Microsoft Edge */
     color:  $white;
    }
    .sidebar-service-menu,
    .sidebar-navigation-link{
      color: $white;
      display: block;
      margin-bottom: 30px;

      &.is-link{
        font-weight: 500;
        color: $white;
        font-size: 22px;
        line-height: 25px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        @include media-breakpoint-down(xs){
          font-size: 16px;
        }
        &.active{
          opacity: 0.5;
        }
        &:hover{
          text-decoration: none;
        }
        &:after{
          content: "";
          position: absolute;
          height: 17px;
          width: 1px;
          bottom: 0;
          background: $white;
          left: -20px;
          top: 3px;
          transform: rotate(45deg);
        }
      }
      .subcategory-link{
        font-size: 14px;
        color: $white;
        margin-top: 15px;
        display: block;
        &:hover{
          text-decoration: none;
        }
        &.active{
          opacity: 0.5;
        }
        &:first-child{
          margin-top: 19px;
        }
      }
      .btn{
        padding-left: 0;
        font-weight: 500;
        position: relative;
        color: $white;
        font-size: 22px;
        line-height: 25px;
        text-transform: uppercase;
        width: 100%;
        text-align: left;
        overflow: visible;
        @include media-breakpoint-down(xs){
          font-size: 16px;
        }
        &[aria-expanded="true"]{
          .collapse-icon{
            transform: rotateX(180deg);
          }
        }
        &:after{
          content: "";
          position: absolute;
          height: 17px;
          width: 1px;
          bottom: 0;
          background: $white;
          left: -20px;
          top: 3px;
          transform: rotate(45deg);
        }
        .collapse-icon{
          position: absolute;
          transition: all ease .6s;
          right: 0;
          top: 0;
        }
      }
    }
    .sidebar-search{
      margin-top: 50px;
      position: relative;
       max-width: 261px;
      &:after{
        content: "";
        position: absolute;
        height: 17px;
        width: 1px;
        bottom: 0;
        background: $white;
        left: -20px;
        top: 10px;
        transform: rotate(45deg);
      }
      .header-search-input{
        background: transparent;
        border: none;
        border-bottom: 1px solid $white;
        border-radius: 0;
        color: $white;
        font-size: 14px;
        padding-left: 0;
      }
      .header-search-btn{
        background: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $white;
        svg{
          width: 17px;
          height: 17px;
          path{
            stroke: $white;
          }
        }
      }
    }
    @include media-breakpoint-up(sm){
      width: 424px;
      padding-bottom: 166px;
      .sidebar-navigation{
        padding: 50px 20px 20px 50px;
      }
    }
  }
  .sidebar-hotline{
    background-color: $primaryDark;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px 50px;
    .hotline-title{
      font-size: 16px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    .hotline-text{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
    .hotline-number{
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

    @include media-breakpoint-up(sm){
      padding: 28px 75px;
    }
  }
}