{% block sw_cms_el_preview_two_boxes %}
  <div class="sw-cms-preview-two-boxes">
    <img :src="'/spstheme/img/custom-elements/two-boxes.png' | asset" alt="example" width="100%">
  </div>
{% endblock %}