{% block sw_cms_block_banner_text %}
    <div class="sw-cms-block-banner-text">
        <slot name="bannertext">{% block sw_cms_block_banner_text_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
