{% block sw_cms_element_banner_text %}
    <div class="sw-cms-el-banner-text banner-text-inner">
        <div class="image">
            <img
            :src="mediaUrl"
            alt=""
        >

        </div>
        <div class="container {{ element.config.skewDesign.value }}">
                <div class="text-block">

                        <div class="text-topic">
                            {{ element.config.topic.value }}
                        </div>



                        <div class="text-headline">
                            {{ element.config.headline.value }}
                        </div>



                        <div class="text-subline">
                            {{ element.config.subline.value }}
                        </div>

                </div>
                <div class="button-block {{ element.config.btnAlignment.value }}">
                    <div class="block-inner">
                        <div class="button-additional-text">
                            {{ element.config.buttonText.value }}
                        </div>
                        <div class="button-inner">
                            <a href="{{ element.config.url.value }}"
                               class="banner-text-link"
                               {% if element.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>
                                {{ element.config.buttonTitle.value }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
