{% block sw_cms_element_newsletter %}
    <div class="sw-cms-el-newsletter">
        <div class="newsletter">
            <div class="newsletter-inner">
                <div class="container">
                    <div class="newsletter-form-box">
                        <div >
                            <div class="form-content">
                                <div class="form-inner-box">
                                    <div class="form-main">
                                        <div class="newsletter-text">
                                            <div class="newsletter-headline">
                                                {{ element.config.headline.value }}
                                            </div>
                                            <div class="subTitle">
                                                {{ element.config.subline.value }}
                                            </div>
                                            <div class="newsletter-description">
                                                {{ element.config.text.value }}
                                            </div>
                                        </div>
                                        <div class="newsletter-form-inner">

                                            <div class="form-inputs">
                                                <div class="name-input">
                                                    <label class="form-custom-label" for="form-Name-ddb0dcdc63fa4c7f9660670586f37e66">Name</label>
                                                    <input name="firstName" id="form-Name-ddb0dcdc63fa4c7f9660670586f37e66" value="" class="form-custom-control">
                                                </div>
                                                <div class="mail-input">
                                                    <label class="form-custom-label" for="form-e-mail-ddb0dcdc63fa4c7f9660670586f37e66">E-Mail</label>
                                                    <input name="email" type="email" id="form-e-mail-ddb0dcdc63fa4c7f9660670586f37e66" value="" required="required" class="form-custom-control">
                                                </div>
                                            </div>

                                            <div class="form-text privacy-notice  custom-checkbox">
                                                <input name="privacy" type="checkbox" class="custom-checkbox-input" id="privacy-input-ddb0dcdc63fa4c7f9660670586f37e66" required="">

                                                <label for="privacy-input-ddb0dcdc63fa4c7f9660670586f37e66" class="custom-checkbox-label">
                                                    <span class="checkbox-circle">
                                                        <span></span>
                                                    </span>
                                                    <span class="checkbox-text">
                                                        {{ element.config.privacyText.value }}
                                                    </span>
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="newsletter-employee-box ">
                                        <div class="employee-inner">
                                            <div class="img-inner">
                                                <img v-if="mediaUrl" :src="mediaUrl" alt="employee" class="img-fluid">
                                                <img v-else :src="'spstheme/img/custom-elements/person.png' | asset" alt="employee" class="img-fluid">
                                            </div>
                                            <div class="desc-inner">
                                                <div class="name">
                                                    {{ element.config.employeeName.value }}
                                                </div>
                                                <div class="title">
                                                    {{ element.config.employeeTitle.value }}
                                                </div>
                                                <div class="phone">
                                                    {{ element.config.employeePhone.value }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn newsletter-btn btn-send" type="submit">
                                    {{ element.config.buttonText.value }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
