

.sw-cms-el-newsletter {
    overflow: hidden;
    .newsletter{
      & * {
        pointer-events: none;
      }
      background: white;
      .newsletter-inner{
        .form-inner-box{
          display: flex;
          align-items: center;
          .form-main{
            width: 70%;
          }
          .newsletter-employee-box{
            width: 30%;
          }
        }
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 200%;
          position: absolute;
          height: 1px;
          background: #CD0F43FF;
          left: 0;
          z-index: 0;
          transform-origin: left;
          transform: rotate( -45deg);
          bottom: -1px;
        }
        .newsletter-form-box{
          position: relative;
          z-index: 1;
        }
        .container{
          padding: 95px 16px 75px 16px;
          &:before{
            content: "";
            position: absolute;
            display: block;
            width: 80px;
            padding-bottom: 80px;
            height: auto;
            background: linear-gradient(135deg, #F2F2F2FF 50%, transparent 50.01%);
            transform: translate(0%,0%);
            transform-origin: center;
            left: 0;
            top: 0;
          }
          &:after{
            content: "";
            position: absolute;
            display: block;
            width: 80px;
            padding-bottom: 80px;
            height: auto;
            background: linear-gradient(315deg, #F2F2F2FF 50%, transparent 50.01%);
            transform: translate(0%,0%);
            transform-origin: center;
            right: 0;
            bottom: 0;
          }
        }
        .form-inputs > div {
          margin-bottom: 32px;
          position: relative;
          .form-custom-control{
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: #F7F7F7FF;
            font-size: 20px;
            padding: 0;
            padding-left: 100px;
            &:focus-visible{
              border: none;
              box-shadow: none;
              outline: none;
            }
          }
          .form-custom-label{
            position: absolute;
            display: inline-block;
            margin: 0;
            font-size: 14px;
            text-transform: uppercase;
            top: 50%;
            left: 23px;
            color: #CD0F43FF;
            transform: translateY(-50%);
            &:after{
              content: "";
              display: inline-block;
              width: 32px;
              height: 1px;
              background: #CD0F43FF;
              position: absolute;
              top: 50%;
              right: -26px;
              transform: rotate(-45deg);
            }
          }
        }
        .privacy-notice{
          position: relative;
        }
        .custom-checkbox-input{
          position: absolute;
          opacity: 0;
          z-index: -1;
          top: 25px;
          left: 15px;
          &:checked + label .checkbox-circle span{
            background-color: #5B6E74FF;
          }
        }
        .custom-checkbox-label{
          cursor: pointer;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          display: flex;
          align-items: center;
          .checkbox-circle{
            display: flex;
            width: 45px;
            height: 45px;
            background-color: #F7F7F7FF;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            margin-right: 27px;
            span{
              width: 18px;
              height: 18px;
              border: 1px solid;
              border-radius: 50%;
            }
          }
          .checkbox-text{
            flex: 1;
          }
        }
        .newsletter-btn{
          border: none;
          background: transparent;
          margin-top: 64px;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          overflow: visible;
          position: relative;
          padding: 0 0 0 20px;
          color: #CD0F43FF;
          &:before{
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 32px;
            background: #CD0F43FF;
            left: 0;
            bottom: 6px;
            transform: rotate(-45deg);
            transform-origin: left;
          }
        }
        .newsletter-employee-box{
          display: flex;
          justify-content: center;
        }
        .newsletter-text{
          margin-bottom: 40px;
        }
        .newsletter-headline{
          font-size: 22px;
          font-weight: 600;
          line-height: 26px;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        .subTitle{
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          text-transform: uppercase;
          margin-bottom: 26px;
        }
        .newsletter-description{
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
        .desc-inner{
          text-align: center;
          .name{
            text-transform: uppercase;
            font-size: 16px;
          }
          .title{
            text-transform: uppercase;
            font-size: 14px;
          }
          .phone{
            color: #CD0F43FF;
            font-size: 18px;
            font-weight: 700;
          }
        }
        .newsletter-employee-box {
          margin-top: 45px;
          padding: 0 40px;
        }
        .img-inner{
          text-align: center;
          img{
            max-width: 100%;
          }
        }

        @media (min-width: 1200px){
          &:before{
            left: calc(50% + 80px);
          }
          .container{
            padding: 80px 16px 85px;
            position: relative;
            &:before{
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              padding-bottom: 100%;
              height: auto;
              background: linear-gradient(135deg, #F2F2F2FF 50%, transparent 50.01%);
              transform: translate(-100%,0%);
              transform-origin: center;
              left: 0;
              top: 0;
            }
            &:after{
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              padding-bottom: 100%;
              height: auto;
              background: linear-gradient(315deg, #F2F2F2FF 50%, transparent 50.01%);
              transform: translate(100%,0%);
              transform-origin: center;
              right: 0;
              bottom: 0;
            }
          }
          .desc-inner{
            .name{
              font-size: 20px;
            }
            .title{
              font-size: 18px;
            }
            .phone{
              font-size: 24px;
            }
          }
          .form-inputs > div {
            .form-custom-control{
              font-size: 20px;
            }
            .form-custom-label{
              font-size: 20px;
              &:after{
                right: -30px;
              }
            }
          }
          .newsletter-text{
            margin-bottom: 55px;
          }
          .newsletter-headline{
            font-size: 32px;
            line-height: 54px;
          }
          .subTitle{
            font-size: 20px;
            line-height: 32px;
          }
          .newsletter-description{
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
}
