{% block sw_cms_block_subcategory_teaser %}
    <div class="sw-cms-block-subcategory-teaser">
        <slot name="subcategoryteaser">{% block sw_cms_block_subcategory_teaser_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
