{% block sw_cms_block_info_circles %}
<div class="sw-cms-block-info-circles">
    <slot name="infocircles">
        {% block sw_cms_block_text_slot_info_circles_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
