{% block sw_cms_element_info_circles_preview %}
    <div class="sw-cms-el-preview-info-circles">
        <img :src="'/spstheme/img/custom-elements/infocircles.png' | asset">
    </div>
{% endblock %}
