/* Benefits Element */
.benefits-block{
  position: relative;
  padding: 82px 0 63px;
  .left-bar-header{
    margin-bottom: 14px;
  }
  .right-bar-header{
    margin-bottom: 24px;
  }
  .benefits-inner{
    max-width: 1060px;
    margin: auto;
  }
  .benefit-header{
    .header{
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .subtitle{
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .benefit-desc{
    font-size: 12px;
    line-height: 16px;
  }
  .button-block{
    text-align: center;
    margin-top: 45px;
    .benefits-link{
      box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
      border-radius: 5px;
      color: $sw-color-brand-primary;
      text-transform: uppercase;
      font-size: 12px;
      display: inline-block;
      text-align: center;
      height: 38px;
      min-width: 80px;
      padding: 10px;
      font-weight: 600;
    }
  }
  .bullet-point{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    margin-bottom: 12px;
    .point-icon{
      margin-right: 30px;
      padding-bottom: 5px;
    }
  }
  .points-box{
    margin-top: 24px;
  }
  .benefit-left .benefit-desc{
    margin-top: 16px;
  }
  .benefit-left {
    margin-bottom: 69px;
  }
  @include media-breakpoint-up(md){
    padding: 136px 0 234px;
    .left-bar-header{
      margin-bottom: 42px;
    }
    .right-bar-header{
      margin-bottom: 35px;
    }
    .benefit-header{
      .header{
        font-size: 30px;
        line-height: 38px;
      }
      .subtitle{
        font-size: 18px;
        line-height: 28px;
      }
    }
    .benefit-desc{
      font-size: 16px;
      line-height: 26px;
    }
    .button-block{
      text-align: left;
      margin-top: 50px;
      .benefits-link{
        font-size: 16px;
        height: 40px;
        min-width: 90px;
        padding: 10px;
      }
    }
    .bullet-point{
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    .points-box{
      margin-top: 32px;
    }
    .benefit-left .benefit-desc{
      margin-top: 25px;
    }
    .benefits-inner {
      display: flex;
      .benefit-section{
        width: 50%;
      }
    }
    .benefit-left {
      margin-bottom: 0;
    }
    .benefit-right .benefit-inner{
      padding-left: 60px;
    }
    .benefit-left .benefit-inner{
      padding-right: 10px;
    }
    .right-bar-header{
      position: relative;
      &:before{
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 110px;
        background: $sw-color-brand-primary;
        right: -50px;
        bottom: 10px;
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 40px;
      background: $sw-color-brand-primary;
      left: 50%;
      bottom: 84px;
      transform: rotate(-45deg);
      transform-origin: left;
    }
  }

  @include media-breakpoint-up(xl){
    padding: 188px 0 200px;
    .benefit-right .benefit-inner{
      padding-left: 80px;
    }
    .benefit-left .benefit-inner{
      padding-right: 20px;
    }
    .benefit-header{
      .header{
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
      }
      .subtitle{
        font-size: 20px;
        line-height: 32px;
      }
    }
    .points-box{
      margin-top: 66px;
    }
    .benefit-left .benefit-desc{
      margin-top: 36px;
    }
    &:before{
      bottom: 51px;
    }
  }
}
