/* Content Slider */
.cms-content-slider{
  .banner-text-inner{
    position: relative;
    padding-bottom: 110px;
    .button-block{
      position: relative;
      z-index: 1;
    }
    .right-container{
      margin-top: 150px;
      right: 0;
      bottom: 0;
      max-width: 500px;
      .image-inner{
        max-width: 124px;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
      }
      .right-headline{
        color: $sw-color-brand-primary;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 20px;
        max-width: 300px;
        overflow: hidden;
        margin-right: 0;
        margin-left: auto;
      }
      .right-desc{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: $sw-text-color;
        min-height: 80px;
        margin-bottom: 20px;
        max-width: 290px;
        margin-right: 90px;
        margin-left: auto;
      }
      .right-text-link{
        display: inline-block;
        font-weight: 700;
        color: $sw-color-brand-primary;
        text-transform: uppercase;
        line-height: 24px;
        font-size: 12px;
        position: relative;
        padding-left: 5px;
        &:before{
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 0;
          transform: rotate(45deg);
          height: 42px ;
          width: 1px;
          background-color: $sw-color-brand-primary;
          transform-origin: top;
        }
      }
    }
    .right-text-inner{
      position: relative;
      width: 480px;
      &:before{
        content: "";
        position: absolute;
        display: block;
        left: -50px;
        top: -100px;
        height: calc(100% + 108px);
        width: 80%;
        background: $white;
        transform: skewX(315deg);
        transform-origin: bottom;
      }
      & > div{
        position: relative;
        z-index: 1;
      }
    }
    @media screen and (max-width: 575px){
      .right-text-inner{
        &:before{
          content: "";
          position: absolute;
          display: block;
          right: 100px;
          left: unset;
          top: -100px;
          height: calc(100% + 108px);
          width: 370px;
          background: #fff;
          transform: skewX( 315deg);
          transform-origin: bottom;
        }
        &:after{
          content: "";
          position: absolute;
          display: block;
          height: 600px;
          width: 600px;
          right: -70px;
          bottom: -8px;
          transform-origin: bottom;
          z-index: 0;
          background: linear-gradient(315deg, #ffffff1c 50%, transparent 50.1%);
        }
      }
      .right-container{
        max-width: none;
        .right-text-inner{
          width: auto;
        }
        .right-headline{
          max-width: 220px;
        }
        .right-desc{
          max-width: 220px;
          margin-right: 90px;
          margin-left: auto;
        }
        .right-button{
          max-width: 346px;
          margin-left: auto;
        }
      }
      .red-line{
        background: $sw-color-brand-primary;
        height: 550px;
        width: 2px;
        position: absolute;
        right: 0;
        bottom: 63px;
        transform-origin: top;
        transform: rotate(  45deg);
      }
    }

    @include media-breakpoint-up(lg){
      padding-bottom: 140px;
      .right-container{
        position: absolute;
        margin-top: 0;
        bottom: -50px;
        .image-inner{
          max-width: 185px;
        }
        .right-headline{
          font-size: 18px;
          line-height: 24px;
          height: 48px;
          max-width: 300px;
          overflow: hidden;
          margin-right: 0;
          margin-left: auto;
        }
        .right-desc{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          height: 80px;
          margin-bottom: 25px;
          max-width: 290px;
          margin-right: 90px;
          margin-left: auto;
        }
        .right-text-link{
          font-size: 14px;
        }
      }
      .container{
        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background: $sw-color-brand-primary;
          transform: translateX(-100%) rotate(-45deg);
          transform-origin: right;
          left: 0;
          top: 30px;
        }
      }
      .triangle{
        position: absolute;
        top: -70px;
        z-index: 0;
        display: block;
        right: calc(-50vw + 50%);
        height: calc(100% + 320px);
        background: #ffffff1c;
        width: calc(50vw - 50% + 780px);
        transform-origin: bottom;
        transform: skewX(315deg);
      }
      .red-line{
        position: absolute;

        z-index: 0;
        display: block;
        bottom: -55px;
        right: 550px;
        height: 100vw;
        transform-origin: bottom;
        width: 2px;
        transform: rotate(45deg) translateX(0);
        background: $sw-color-brand-primary;
      }
    }
    @include media-breakpoint-up(xl){
      padding-bottom: 250px;
      .right-container{
        bottom: -150px;
      }
      .triangle{
        width: calc(50vw - 50% + 750px);
      }
      .red-line{
        bottom: -160px;
        right: 600px;
      }
      .text-headline{
        max-width: 1185px;
      }
      .text-subline{
        font-size: 22px;
      }
      .button-additional-text{
        font-size: 40px;
        line-height: 46px;
        max-width: 360px;
      }
    }
  }
  .tns-nav{
    margin-bottom: 17px;
    text-align: center;
    button{
      border: 1px solid $white;
      width: 10px;
      height: 10px;
      padding: 0;
      background-color: $white;
      &.tns-nav-active{
        background-color: transparent;
      }
    }
  }
  .base-slider-controls-prev,
  .base-slider-controls-next{
    border: none;
    background: transparent;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 1;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .base-slider-controls-prev{
    left: calc(50% - 70px);
  }
  .base-slider-controls-next{
    left: calc(50% + 70px);
  }
}