/*
* Dialog Element
*/

.dialog-element{
  background-color: $gray;
  .dialog-inner{
    position: relative;
    padding: 20px;
  }
  .dialog-headline{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 32px;
  }
  .subLine{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
  .dialog-description{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }
  .dialog-link{
    box-shadow: -8px -8px 15px $white, 8px 8px 8px #dbdbdb;
    border-radius: 5px;
    color: $sw-color-brand-primary;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    height: 38px;
    padding: 10px 20px;
    font-weight: 600;
  }
  @include media-breakpoint-up(md){
    .dialog-link{
      margin-top: 80px;
    }
    .dialog-headline{
      font-size: 32px;
      line-height: 54px;
    }
    .subLine{
      font-size: 20px;
      line-height: 32px;
    }
    .dialog-description{
      margin-top: 18px;
      font-size: 16px;
      line-height: 28px;
    }
    .dialog-inner{
      padding: 30px;
    }
  }
  @include media-breakpoint-up(lg){
    .dialog-inner{
      padding: 77px 33.33% 140px 20px;
      &:before{
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 33%;
        background: red;
        right: 0;
        transform-origin: right;
        transform: rotate(-45deg);
      }
    }
  }
}