.cms-element-dual-teaser {
  position: relative;
  max-width: 1060px;
  margin: auto;
  padding-top: 55px;
  .two-section-head {
    line-height: 32px;
    margin-bottom: 27px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .headline, .two-section-head {
    color: $sw-text-color;
    text-transform: uppercase;
  }
  .headline {
    margin-bottom: 0;
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      font-size: 26px;
      line-height: 30px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 32px;
      line-height: 36px;
    }
  }
  .subline {
    margin-bottom: 10px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    @include media-breakpoint-up(md) { font-size: 16px; }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .text {
    color:  $sw-text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    @include media-breakpoint-up(md) { font-size: 16px; }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
      line-height: 28px;
    }
    &:after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 21px;
      margin-left: 10px;
      margin-bottom: -6px;
      background: $sw-color-brand-primary;
      transform: rotate(-45deg);
      -ms-transform-origin: left;
      transform-origin: left;
    }
  }
  .dual-teaser {
    display: flex;
    flex-wrap: wrap;
    .slide {
      @include media-breakpoint-up(sm) {
        &:first-child {
          padding-left: 0;
          padding-right: 16px;
          padding-bottom: 0;
        }
        &:last-child {
          padding-left: 16px;
          padding-right: 0;
        }
      }

    }
    .background-media-container {
      height: auto;
      overflow: hidden;
      @include media-breakpoint-up(lg) { height: 210px; }
    }

    .content-container {
      height: auto;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .dual-teaser-img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      @include media-breakpoint-up(lg) { width: auto }
    }
    .btn-box {
      text-align: right;
      .btn-link {
        height: 41px;
        box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
        border-radius: 5px;
        color: $sw-color-brand-primary;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
  @include media-breakpoint-up(md){
    padding-top: 65px;
  }
  @include media-breakpoint-up(lg){
    padding-top: 160px;
  }
}