.dual-text-image-element{
  .wide-element-inner{
    background-color: $gray;
    .headline{
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .subLine{
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .wide-description{
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
    .dual-text-image-link{
      box-shadow: -8px -8px 15px $white, 8px 8px 8px #dbdbdb;
      border-radius: 5px;
      color: $sw-color-brand-primary;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 21px;
      display: inline-block;
      text-align: center;
      margin-top: 50px;
      height: 38px;
      padding: 10px 20px;
      font-weight: 600;
    }
    .text-inner{
      padding: 20px;
    }
    .wide-image{
      height: 300px;
      background-position: center;
      background-size: cover;
    }
    @include media-breakpoint-up(md){
      display: flex;
      flex-wrap: wrap;
      & > div{
        width: 50%;
      }
      .wide-image{
        min-height: 480px;
        height: auto;
      }
      .text-inner{
        max-width: 680px;
        padding: 77px 20px;
        margin-left: auto;
        margin-right: 0;
      }
      .headline{
        font-size: 32px;
        line-height: 40px;
      }
      .subLine{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 30px;
      }
      .wide-description{
        font-size: 16px;
        line-height: 28px;
        max-width:500px;
      }
      .dual-text-image-link{
        margin-top: 50px;
      }
    }
  }
}