/*
 *
 * Filter design
 *
 */
.cms-element-sidebar-filter{
  box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
  padding: 13px 55px 2px 30px;
  border-radius: 5px;
  position: relative;
  margin: 40px 0 30px;
  .filter-panel-wrapper-toggle{
    width: auto;
    border: none;
    padding-bottom: 12px;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    color: $sw-color-brand-primary;
    text-transform: uppercase;
  }
}
.filter-panel,
.filter-panel-items-container{
  margin-bottom: 0;
}
.filter-panel-item {
  margin-right: 70px;
  .filter-panel-item-toggle {
    font-weight: 700;
    font-size: 14px;
    color: $sw-color-brand-primary;
    line-height: 16px;
    padding: 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0;

    .icon.icon-filter-panel-item-toggle {
      color: transparent;
      height: 16px;
    }
  }
  &.show{
    .icon-filter-panel-item-toggle svg{
      color: transparent;
    }
  }
  @media (max-width: 500px){
    margin-right: 20px;
  }
}
.products-view{
  top: 14px;
  position: absolute;
  right: 30px;
  display: flex;
  &:before{
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background-color: $sw-text-color;
    position: absolute;
    transform: rotate(45deg);
    left: -30px;
  }
  .listing-view-type-grid{
    margin-right: 23px;
  }
  .listing-view-button {
    cursor: pointer;
    &.is-active,
    &:hover{
      svg path{
        stroke: $sw-text-color;
      }
    }
  }
  @media screen and (max-width:  991.6px){
    .listing-view-type-grid{
      display: none;
    }
    .listing-view-type-list {
      svg path{
        stroke: $sw-text-color;
      }
    }
  }
}
