/*
 * Info circles
 */
.info-circles-inner{
  padding-bottom: 30px;
  .circles-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-circle{
    width: 260px;
    height: 260px;
    margin: 0 26px 52px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    overflow: hidden;
  }
  .gray-text,
  .red-text{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    font-style: italic;
  }

  .red-text{
    display: inline-block;
    color: $sw-color-brand-primary;
  }
  .sub-text{
    font-size: 12px;
    display: block;
  }
  @media screen and (max-width: 720px){
    .circles-container{
      justify-content: space-around;
    }
    .info-circle{
      width: 180px;
      height: 180px;
      margin: 0 10px 25px;
    }
    .gray-text,
    .red-text{
      font-size: 14px;
      line-height: 16px;
    }
    .sub-text{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 530px){
    .circles-container{
      justify-content: space-around;
    }
    .info-circle{
      width: 155px;
      height: 155px;
      margin: 0 6px 25px;
    }
    .gray-text,
    .red-text{
      font-size: 12px;
      line-height: 14px;
    }
    .sub-text{
      font-size: 8px;
    }
  }
  @include media-breakpoint-up(md){
    position: relative;
    padding-bottom: 200px;
    &:before{
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 40px;
      background: $sw-color-brand-primary;
      left: calc(50% - 25px);
      bottom: 70px;
      transform: rotate(45deg);
      transform-origin: right;
    }
  }
}