/* Product grid */
.product-grid{
  max-width: 1060px;
  margin: auto;
  padding: 66px 0 88px 0;
  .product-inner{
    margin-bottom: 60px;
  }
  .custom-product{
    border: none;
    background-color: transparent;
  }
  .grid-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  .grid-title{
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .grid-sub{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .grid-btn{
    height: 40px;
    font-size: 12px;
    line-height: 27px;
    box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    border-radius: 3px;
    background-color: $sw-background-color;
    border: none;
    color: $sw-color-brand-primary;
    text-transform: uppercase;
    padding: 8px 20px;
  }
  .product-badges {
    top: 0;
    .badge {
      background-color: transparent;
      color: $sw-color-brand-primary;
      border: none;
      text-transform: uppercase;
      font-size: 10px;
    }
  }
  .prod-name{
    margin-bottom: 30px;
    text-align: center;
    .product-name{
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 16px;
      height: auto;
      max-height: 40px;
      font-weight: 500;
      text-shadow: 0 0 $sw-text-color;
    }
    .custom-variants{
      font-size: 14px;
    }
    .variation-separator:last-child{
      display: none;
    }
  }
  .product-price{
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    line-height: 32px;
    margin-bottom: 33px;
  }
  .product-info{
    text-align: center;
  }
  .custom-product-btn{
    width: 36px;
    height: 36px;
    box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    overflow: visible;
    line-height: 27px;
  }
  .btn-box,.btn-block{
    text-align: center;
  }
  .card-body{
    padding: 15px 0;
  }
  .btn-block{
    margin-bottom: 70px;
  }
  @include media-breakpoint-up(md){
    padding: 79px 0 72px 0;
    .product-inner{
      margin-bottom: 30px;
    }
    .product-badges .badge{
      font-size: 12px;
    }
    .grid-title-box{
      margin-bottom: 80px;
    }
    .grid-title{
      font-size: 30px;
      line-height: 38px;
    }
    .grid-sub{
      font-size: 18px;
      line-height: 28px;
    }
    .grid-btn{
      font-size: 16px;
    }
    .prod-name{
      margin-bottom: 25px;
      height: 74px;
      .product-name{
        font-size: 18px;
        line-height: 28px;
        max-height: 55px;
      }
      .custom-variants{
        font-size: 16px;
      }
    }
    .product-price{
      font-size: 24px;
      font-weight: 700;
    }
  }
  @include media-breakpoint-up(xl){
    padding: 135px 0 153px 0;
    .grid-title{
      font-size: 32px;
      line-height: 54px;
    }
    .grid-sub{
      font-size: 20px;
      line-height: 32px;
    }
    .grid-btn{
      font-size: 16px;
    }
    .prod-name{
      .product-name{
        font-size: 20px;
      }
    }
  }
}
