/* Services block */
.service-cms{
  padding: 100px 0 0;
  .container{
    padding: 0;
  }
  .service-header{
    text-align: center;
    margin-bottom: 30px;
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
  }
  .service-item-container{
    width: 50%;
    margin-bottom: 62px;
  }
  .service-item-header{
    text-align: center;
    margin: auto;
    max-width: 170px;
  }
  .service-item-headline{
    font-family: $roboto;
    min-height: 36px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
  }
  .service-link{
    margin-top: 15px;
    width: 36px;
    height: 36px;
    box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
    display: inline-block;
    padding: 0;
  }
  .service-item {
    margin-bottom: 30px;
    text-align: center;
    min-height: 74px;
    img{
      max-height: 74px;
      max-width: 110px;
    }
  }
  .headline{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .subHeadline,
  .textBlock{
    font-size: 12px;
    font-weight: 400;
  }
  .textBlock{
    max-width: 1216px;
    margin: auto;
    margin-top: 26px;
  }
  @include media-breakpoint-up(md){
    padding: 165px 0 0;
    .service-item-header{
      max-width: 300px;
      padding: 0 20px;
    }
    .headline{
      font-size: 26px;
      line-height: 34px;
    }
    .subHeadline,
    .textBlock{
      font-size: 16px;
      line-height: 26px;
    }
    .service-item-container{
      width: 33.3%;
      margin-bottom: 75px;
    }
    .service-item-headline{
      font-size: 18px;
      line-height: 28px;
      min-height: 56px;
    }
    .service-link{
      margin-top: 23px;
    }
    .textBlock{
      margin-top: 35px;
    }
  }
  @include media-breakpoint-up(lg) {
    .service-item-container{
      width: 25%;
    }
  }
  @include media-breakpoint-up(xl){
    .headline{
      font-size: 32px;
      line-height: 54px;
    }
    .subHeadline{
      font-size: 20px;
      line-height: 32px;
    }
    .service-header{
      margin-bottom: 68px;
    }
    .service-item-container{
      margin-bottom: 85px;
    }
    .textBlock{
      margin-top: 52px;
    }
  }
}
