/*
 *
 *Seven steps element design
 *================
 */

.seven-steps{
  .seven-steps-header{
    margin-bottom: 30px;
  }

  .header-headline{
    font-size: 32px;
    font-weight: 500;
    line-height: 54px;
    text-transform: uppercase;
  }

  .header-subLine{
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 32px;
  }

  .img-fluid{
    max-height: 100%;
  }

  .gallery-slider-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .circle-red{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: $white;
    background-color: $sw-color-brand-primary;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 35px;
    margin-bottom: 50px;
    .red-image{
      margin-bottom: 20px;
      max-height: 50px;
    }
    .red-headline{
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      margin: 0 auto 10px;
      max-width: 240px;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .red-description{
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      max-width: 290px;
      max-height: 64px;
      overflow: hidden;
    }
  }

  .circle-white{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $white;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }

  .white-container{
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 35px;
    .white-image{
      margin-bottom: 20px;
      max-height: 50px;
    }
    .white-headline{
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      margin: 0 auto 10px;
      max-width: 240px;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .white-description{
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      max-width: 290px;
      max-height: 64px;
      overflow: hidden;
    }
  }

  .gallery-slider-item-container{
    position: relative;
    &.tns-slide-active{
      .white-index{
        opacity: 1;
        transition: all cubic-bezier(1, -0.1, 0.93, 0.49) 0.7s;
      }
    }
  }

  .white-index{
    position: absolute;
    width: 100%;
    text-align: center;
    color: $sw-color-brand-primary;
    opacity: 0;
    bottom: 30px;
  }

  .gallery-slider-controls-prev{
    left: calc(50% - 40px);
    transform: translateX(-50%);
    opacity: 1;
    background: transparent;
    height: 30px;
    width: 20px;
    line-height: 20px;
    top: unset;
    bottom: 28px;
  }

  .gallery-slider-controls-next{
    right: calc(50% - 60px);
    transform: translateX(-50%);
    opacity: 1;
    background: transparent;
    height: 30px;
    width: 20px;
    line-height: 20px;
    top: unset;
    bottom: 28px;
  }

  .gallery-slider-thumbnails-container{
    .tns-outer{
      margin: 0;
    }
  }

  .gallery-slider-thumbnails-item{
    height: auto;
    .gallery-slider-thumbnails-item-inner{
      padding: 0;
      border: none;
      border-radius: 0;
      flex-direction: column;
      justify-content: flex-start;
      color: $sw-color-brand-primary;
      .thumbnail-image{
        width: 100%;
        text-align: center;
        height: 60px;
        margin-bottom: 20px;

      }
      .thumbnail-text{
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    &.tns-nav-active, &:hover {
      .gallery-slider-thumbnails-item-inner{
        color: $sw-text-color;
        .thumbnail-image img{
          filter: contrast(0.05);
        }
      }
    }
  }

  .base-slider-dots {
    margin-top: 50px;
    text-align: center;
    .dot-inner{
      padding: 13px 25px;
      border-radius: 5px;
      box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
      letter-spacing: 5px;
      display: inline-block;
    }
    .base-slider-dot{
      width: 9px;
      height: 9px;
      border: 1px solid $sw-color-brand-primary;
      background: $sw-color-brand-primary;
      padding: 0;
      border-radius: 50%;
      &.tns-nav-active{
         background: transparent;
      }
    }
  }

  @include media-breakpoint-up(lg){
    .circle-red{
      width: 488px;
      height: 488px;
      margin-bottom: 0;
      .red-image{
        margin-bottom: 50px;
        max-height: 120px;
      }
      .red-headline{
        font-size: 24px;
        line-height: 32px;
        margin: 0 auto 18px;
        max-height: 96px;
      }
      .red-description{
        font-size: 16px;
        line-height: 28px;
        max-height: 115px;
      }
    }

    .white-container{
      width: 488px;
      height: 488px;
      .white-image{
        margin-bottom: 50px;
        max-height: 120px;
      }
      .white-headline{
        font-size: 24px;
        line-height: 32px;
        margin: 0 auto 18px;
        max-height: 96px;
      }
      .white-description{
        font-size: 16px;
        line-height: 28px;
        max-height: 115px;
      }
    }

    .circle-white{
      width: 488px;
      height: 488px;
    }

    .seven-steps-header{
      margin-bottom: 150px;
    }
    .gallery-slider-col {
      margin-bottom: 140px;
      justify-content: space-between;
      flex-direction: row;
    }
    .circles-box{
      padding: 20px 0 ;
    }
  }
  @include media-breakpoint-up(lg){
    .circles-box{
      padding: 20px 50px;
    }
  }
}