/*
 * Sps simple image slider
 *
 */

.sps-slider{
  padding-bottom: 30px;
  .tns-nav{
    display: none;
  }
  .image-frame{
    text-align: center;
    background: $gray;
    padding: 44px 0 22px;
    margin-bottom: 30px;
  }
  .image-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .gallery-slider-thumbnails-col{
    margin-top: 40px;
    text-align: center;
    .base-slider-dots {
      text-align: center;
      width: auto;
      display: inline-block;
      position: relative;
      .dot-inner{
        padding: 8px 25px;
        min-width: 136px;
        border-radius: 5px;
        box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
        letter-spacing: 5px;
        display: inline-block;
      }
      .base-slider-dot{
        width: 9px;
        height: 9px;
        border: 1px solid $sw-color-brand-primary;
        background: $sw-color-brand-primary;
        padding: 0;
        border-radius: 50%;
        &.tns-nav-active{
           background: transparent;
        }
      }
    }
  }
  .base-slider-controls-prev,
  .base-slider-controls-next{
    opacity: 1;
    background: transparent;
    height: 30px;
    width: 20px;
    line-height: 20px;
    transform: none;
    border: none;
    bottom: 5px;
    top: unset;
  }
  .base-slider-controls-prev{
    left: 15px;
  }
  .base-slider-controls-next{
    right: 15px;
  }
  @include media-breakpoint-up(md){
    position: relative;
    padding-bottom: 200px;
    &:before{
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 40px;
      background: $sw-color-brand-primary;
      left: calc(50% - 25px);
      bottom: 70px;
      transform: rotate(45deg);
      transform-origin: right;
    }
  }
}