/*
 * Subcategory teaser
 */
.cms-element-subcategory-teasers{
  .subcategory-block{
    .image-box{
      height: 180px;
      background: $white;
      margin-bottom: 23px;
      img{
        height: 100%;
        min-width: 100%;
        object-fit: cover;
      }
    }
    h3{
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 25px;
    }
    p{
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 32px;
    }
    .subcategory-link{
      border-radius: 5px;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3px;
      margin-left: auto;
      background-color: $gray;
      box-shadow: -8px -8px 15px $white, 8px 8px 8px #dbdbdb;
    }
  }
  .tns-nav{
    text-align: center;
    padding: 8px 25px;
    min-width: 136px;
    border-radius: 5px;
    box-shadow: -8px -8px 15px $white, 8px 8px 8px #dbdbdb;
    letter-spacing: 5px;
    display: inline-block;
    z-index: 10;
    @media screen and (max-width: 768px){
      width: 80%;
    }
    button{
      width: 9px;
      height: 9px;
      border: 1px solid $sw-color-brand-primary;
      background: $sw-color-brand-primary;
      padding: 0;
      border-radius: 50%;
      &.tns-nav-active{
         background: transparent;
      }
    }
  }
  .product-slider-container{
    padding: 20px 0 70px;
  }
  .base-slider-controls-prev,
  .base-slider-controls-next{
    border: none;
    background: transparent;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 11;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .base-slider-controls-prev{
    left: calc(50% - 50px);
  }
  .base-slider-controls-next{
    left: calc(50% + 50px);
  }
  @include media-breakpoint-up(md){
    .tns-nav,
    .base-slider-controls-prev,
    .base-slider-controls-next{
      bottom: 40px;
    }
    .product-slider-container{
      padding: 20px 0 150px;
    }
  }
}