/* Text & Bullets */

.text-bullets{
  .headline-block{
    text-transform: uppercase;
    line-height: 36px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 38px;
  }
  .description-inner{
    font-size: 14px;
    line-height: 24px;
  }
  .bullets-inner{
    background-color: $sw-color-brand-primary;
    color: $white;
    padding: 20px;
    .bullets-headline{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 30px;
    }
    .bullet-point{
      display: flex;
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 30px;
      .point-icon{
        margin-right: 30px;
        padding-bottom: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .text-block{
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(md){
    .bullets-inner{
      padding: 40px;
    }
    .headline-block{
      line-height: 60px;
      font-size: 48px;
    }
    .description-inner{
      font-size: 16px;
      line-height: 28px;
    }
    .content-inner{
      display: flex;
    }
    .text-block{
      width: 66.66%;
      padding-right: 92px;
      margin-bottom: 0;
    }
    .bullets-block{
      width: 33.33%;
    }
  }
}