/*
 * Styles for three image element
 */
.third-grid{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  .grid-image-part{
    display: flex;
    flex-wrap: wrap;
    .grid-image-1{
      width: 100%;
      padding-bottom: 32px;
    }
    .grid-image-2{
      width: 50%;
      padding-right: 16px;
    }
    .grid-image-3{
      width: 50%;
      padding-left: 16px;
    }
  }
  .grid-text-headline{
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .grid-text-topic{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 26px;
  }
  .grid-text-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .grid-text-part{
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(md){
    padding: 50px 0 10px;
    .grid-image-part,
    .grid-text-part{
      width: 50%;
    }
    .grid-image-part{
      padding-left: 16px;
    }
    .grid-text-part{
      padding-top: 20px;
      padding-right: 16px;
      margin-bottom: 0;
    }
    .grid-text-headline{
      font-size: 32px;
      line-height: 42px;
    }
    .grid-text-topic{
      font-size: 20px;
      line-height: 28px;
      height: 60px;
    }
    .grid-text-text{
      font-size: 16px;
      line-height: 28px;
    }
  }
}