.cms-element-two-boxes {
  position: relative;
  margin: auto;
  .two-section-head {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    @include media-breakpoint-up(sm) { font-size: 32px; }
  }
  .headline, .two-section-head {
    font-weight: 500;
    color: $sw-text-color;
  }
  .headline {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: $sw-text-color;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      line-height: 30px;
      font-size: 26px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .text {
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color:  $sw-text-color;
    @include media-breakpoint-up(md) { font-size: 16px; }
    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .two-boxes {
    display: flex;
    flex-wrap: wrap;
    .slide {
      &:first-child { margin-bottom: 30px; }
      @include media-breakpoint-up(sm) {
        &:first-child {
          padding-left: 0;
          padding-right: 16px;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        &:last-child {
          padding-left: 16px;
          padding-right: 0;
        }
      }
    }
    .background-media-container {
      display: flex;
      height: auto;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      overflow: hidden;
      @include media-breakpoint-up(lg) { height: 344px; }
    }

    .content-container {
      height: auto;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .btn-box {
      text-align: center;
      .btn-link {
        height: 36px;
        line-height: 2;
        border-radius: 5px;
        box-shadow: -8px -8px 15px $white, 8px 8px 8px $shadow;
      }
    }
  }
}