{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/categories.html.twig' %}

{% block layout_navigation_offcanvas_navigation_categories %}
    <div class="navigation-custom-container">
        <div class="navigation-custom-list">

            {% if page.product is defined %}
                {% set activePath = page.product.categoryTree %}
            {% else %}
                {% set activePath = page.header.navigation.active.path %}
            {% endif %}

            {% for item in page.header.navigation.tree %}
                {% set category = item.category %}
                {% set name = category.translated.name %}
                {% if item.children|length > 0 %}
                    <div class="sidebar-navigation-link"  title="{{ name }}">

                        <button class="btn{% if category.id in activePath %} active{% endif %}"
                                type="button" id="button-{{ category.id }}"
                                data-toggle="collapse"
                                {% if category.id in activePath %} aria-expanded="true" {% else %} aria-expanded="false" {% endif %}
                                data-target="#nav-{{ category.id }}">

                            <span itemprop="name">{{ name }}</span>
                            <div class="collapse-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="32" viewBox="0 0 44 32">
                                    <path fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="20" d="M34 10v0L22 22v0L10 10v0"/>
                                </svg>
                            </div>
                        </button>

                        <div class="nav-collapse collapse {% if category.id in activePath %}show{% endif %}" id="nav-{{ category.id }}">
                            {% for children in item.children %}
                                <a href="{{ category_url(children.category) }}"
                                   class="subcategory-link  {% if children.category.id == activeId or children.category.id in activePath %} active{% endif %}">
                                    {{ children.category.translated.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                {% else %}
                    <a class="sidebar-navigation-link is-link{% if category.id == activeId or category.id in activePath %} active{% endif %}"
                       href="{{ category_url(category) }}"
                       itemprop="url"
                       {% if category_linknewtab(category) %}target="_blank"{% endif %}
                       title="{{ name }}">
                        <div class="main-navigation-link-text">
                            <span itemprop="name">{{ name }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}