{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/navigation.html.twig' %}

{% block utilities_offcanvas_content %}

    <div class="sidebar-navigation">
        {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/categories.html.twig' with { navigation: navigation } %}

        {% if page.header.serviceMenu|length > 0 %}
            <div class="sidebar-service-menu">
                <button  class="btn service-button " data-toggle="collapse" aria-expanded="false" data-target="#sidebar-service">
                    {{ "spsTheme.header.serviceMenuLabel"|trans|sw_sanitize }}
                    <div class="collapse-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="32" viewBox="0 0 44 32">
                            <path fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="20" d="M34 10v0L22 22v0L10 10v0"/>
                        </svg>
                    </div>
                </button>
                <div id="sidebar-service" class="sidebar-items collapse">
                    {% for category in page.header.serviceMenu %}
                        {% set externalLink = category.translated.externalLink %}
                        <a class="subcategory-link "
                           href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}"
                           title="{{ category.translated.name }}">{{ category.translated.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="sidebar-search">
            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
        </div>
    </div>
    <div class="sidebar-hotline">
        <div class="hotline-title">{{ "spsTheme.navigation.hotlineTitle"|trans|sw_sanitize }}</div>
        <div class="hotline-text">{{ "spsTheme.navigation.hotlineText"|trans|sw_sanitize }}</div>
        <div class="hotline-number">{{ "spsTheme.navigation.hotlinePhone"|trans|sw_sanitize }}</div>
    </div>
{% endblock %}