.sw-cms-el-preview-quick-facts {
    background-color: #cd0f43;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 6px 0;
        color: #fff;
    }

    p {
        font-size: 10px;
        line-height: 15px;
    }
}
