{% block sw_cms_block_dual_text_image %}
    <div class="sw-cms-block-dual-text-image">
        <slot name="dualtextimage">{% block sw_cms_block_dual_text_image_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
