{% block sw_cms_el_config_dual_teaser %}
  <div class="sw-cms-el-config-dual-teaser">
    <sw-tabs defaultItem="slides">
      <template #default="{ active }">
        {% block sw_cms_el_config_dual_teaser_tabs %}
          <sw-tabs-item name="slides" :activeTab="active">
            {{ $tc('sw-cms.elements.solid-ase.content-slider.config.slides.label') }}
          </sw-tabs-item>

          <sw-tabs-item name="general" :activeTab="active">
            {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.label') }}
          </sw-tabs-item>

          <sw-tabs-item name="content" :activeTab="active">
            {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.label') }}
          </sw-tabs-item>

          <sw-tabs-item name="navigation" :activeTab="active">
            {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.label') }}
          </sw-tabs-item>

          <sw-tabs-item name="autoplay" :activeTab="active">
            {{ $tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.label') }}
          </sw-tabs-item>

          <sw-tabs-item name="custom" :activeTab="active">
            {{ $tc('sw-cms.elements.solid-ase.content-slider.config.custom.label') }}
          </sw-tabs-item>
        {% endblock %}
      </template>


      <template #content="{ active }">
        {# slides #}
        {% block sw_cms_el_config_dual_teaser_slides %}
          <div v-show="active === 'slides'">
            {% block sw_cms_el_config_dual_teaser_slides_list %}
              <ul class="slides">
                <li
                v-for="(slide, index) in element.config.slides.value.slice(0, 2)"
                :key="index"
                class="slide"
                >
                  <sw-container
                  columns="1fr auto"
                  >
                    <div class="settings">
                      <sw-collapse
                      :class="{ 'disabled': !slide.active }">
                        <div slot="header">
                          <h2 class="mb-0">
                            {{ slide.name }}
                          </h2>

                          <sw-icon
                          name="small-arrow-small-down">
                          </sw-icon>
                        </div>
                        <div slot="content">
                          <div class="toggleable-container name">
                            <sw-text-field
                            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.fields.name.label')"
                            v-model="slide.name"
                            class="mb-0">
                            </sw-text-field>

                            <sw-switch-field
                            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.fields.active.label')"
                            v-model="slide.active"
                            :disabled="slide.active && activeSlides.length === 1"
                            class="mb-0">
                            </sw-switch-field>
                          </div>

                          <sw-tabs defaultItem="content">
                            <template #default="{ active }">
                              {% block sw_cms_el_config_dual_teaser_slides_slide_tabs %}
                                <sw-tabs-item name="content" :activeTab="active">
                                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.label') }}
                                </sw-tabs-item>

                                <sw-tabs-item name="background" :activeTab="active">
                                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.slides.background.label') }}
                                </sw-tabs-item>

                                <sw-tabs-item name="link" :activeTab="active">
                                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.slides.link.label') }}
                                </sw-tabs-item>
                              {% endblock %}
                            </template>

                            <template #content="{ active }">
                              {% block sw_cms_el_config_dual_teaser_slides_slide_content %}
                                <div v-show="active === 'content'">
                                  <sw-select-field
                                  v-model="slide.contentType"
                                  :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.content-type.label')">
                                    <option value="default">
                                      {{ $tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.content-type.options.default.label') }}
                                    </option>
                                    <option value="custom">
                                      {{ $tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.content-type.options.custom.label') }}
                                    </option>
                                  </sw-select-field>

                                  <div v-show="slide.contentType === 'default'">

                                    <sw-text-field
                                    :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.headline.label')"
                                    v-model="slide.headline">
                                    </sw-text-field>

                                    <sw-text-field
                                    label="Subline"
                                    v-model="slide.subline">
                                    </sw-text-field>

                                    <sw-text-editor
                                    :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.text.label')"
                                    v-model="slide.text">
                                    </sw-text-editor>

                                    <sw-text-field
                                    :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.button-label.label')"
                                    v-model="slide.buttonLabel">
                                    </sw-text-field>

                                    <div class="toggleable-container">
                                      <sw-text-field
                                      :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.button-link.label')"
                                      :placeholder="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.button-link.placeholder')"
                                      v-model="slide.buttonLink"
                                      class="mb-0">
                                      </sw-text-field>

                                      <sw-switch-field
                                      :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.button-target-blank.label')"
                                      v-model="slide.buttonTargetBlank"
                                      class="mb-0">
                                      </sw-switch-field>
                                    </div>
                                  </div>

                                  <sw-text-editor
                                  v-show="slide.contentType === 'custom'"
                                  :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.custom-content.label')"
                                  v-model="slide.customContent"
                                  class="mb-0">
                                  </sw-text-editor>
                                </div>
                              {% endblock %}

                              {% block sw_cms_el_config_dual_teaser_slides_slide_background %}
                                <div v-show="active === 'background'">
                                  <sw-colorpicker
                                  :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.background.fields.background-color.label')"
                                  v-model="slide.backgroundColor"
                                  colorOutput="hex"
                                  :zIndex="1000">
                                  </sw-colorpicker>

                                  <sw-media-compact-upload-v2
                                  :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.background.fields.background-media.label')"
                                  :source="slideBackgroundMediaPreviews[index]"
                                  :uploadTag="'cms-block-media-config-slide-background-' + index + '-' + element.id"
                                  :defaultFolder="cmsPageState.pageEntityName"
                                  fileAccept="image/*, video/*"
                                  @media-upload-remove-image="onRemoveSlideBackgroundMedia(slide)"
                                  @selection-change="onChangeSlideBackgroundMedia($event, slide)">
                                  </sw-media-compact-upload-v2>

                                  <sw-upload-listener
                                  :uploadTag="'cms-block-media-config-slide-background-' + index + '-' + element.id"
                                  autoUpload
                                  @media-upload-finish="onFinishUploadSlideBackgroundMedia($event, slide)">
                                  </sw-upload-listener>

                                  <sw-container
                                  columns="1fr 1fr 1fr"
                                  gap="20px">
                                  </sw-container>
                                </div>
                              {% endblock %}

                              {% block sw_cms_el_config_dual_teaser_slides_slide_link %}
                                <div v-show="active === 'link'">
                                  <div class="toggleable-container">
                                    <sw-text-field
                                    :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.link.fields.url.label')"
                                    :placeholder="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.link.fields.url.placeholder')"
                                    v-model="slide.link"
                                    class="mb-0">
                                    </sw-text-field>

                                    <sw-switch-field
                                    :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.link.fields.target-blank.label')"
                                    v-model="slide.linkTargetBlank"
                                    class="mb-0">
                                    </sw-switch-field>
                                  </div>
                                </div>
                              {% endblock %}
                            </template>
                          </sw-tabs>
                        </div>
                      </sw-collapse>
                    </div>
                  </sw-container>
                </li>
              </ul>
            {% endblock %}
          </div>
        {% endblock %}

        {# general #}
        {% block sw_cms_el_config_dual_teaser_general %}
          <div v-show="active === 'general'">
            {# animation #}
            <sw-select-field
            v-model="element.config.sliderSettings.value.animation"
            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.label')">
              <option value="slider-horizontal-ease-in-out-sine">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-sine.label') }}
              </option>
              <option value="slider-horizontal-ease-out-sine">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-sine.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-quad">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-quad.label') }}
              </option>
              <option value="slider-horizontal-ease-out-quad">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-quad.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-cubic">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-cubic.label') }}
              </option>
              <option value="slider-horizontal-ease-out-cubic">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-cubic.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-quart">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-quart.label') }}
              </option>
              <option value="slider-horizontal-ease-out-quart">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-quart.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-quint">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-quint.label') }}
              </option>
              <option value="slider-horizontal-ease-out-quint">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-quint.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-expo">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-expo.label') }}
              </option>
              <option value="slider-horizontal-ease-out-expo">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-expo.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-circ">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-circ.label') }}
              </option>
              <option value="slider-horizontal-ease-out-circ">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-circ.label') }}
              </option>
              <option value="slider-horizontal-ease-in-out-back">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-in-out-back.label') }}
              </option>
              <option value="slider-horizontal-ease-out-back">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.slider-horizontal-ease-out-back.label') }}
              </option>
              <option value="gallery-fade">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.animation.options.gallery-fade.label') }}
              </option>
            </sw-select-field>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              <sw-text-field
                :label="$tc('sw-cms.elements.solid-ase.content-slider.config.slides.content.fields.header.label')"
                v-model="element.config.sliderSettings.value.header">
              </sw-text-field>
              {# items #}
              <sw-select-field
              v-model="element.config.sliderSettings.value.items"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.items.label')">
                <option
                v-for="i in 4"
                :key="i"
                :value="i">
                  {{ i }}
                </option>
              </sw-select-field>

              {# slide-by #}
              <sw-select-field
              v-model="element.config.sliderSettings.value.slideBy"
              :disabled="element.config.sliderSettings.value.animation.includes('gallery')"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.slide-by.label')">
                <option
                v-for="i in 4"
                :key="i"
                :value="i">
                  {{ i }}
                </option>
              </sw-select-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# start-index #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.start-index.label')"
              v-model="element.config.sliderSettings.value.startIndex">
              </sw-text-field>

              {# speed #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.speed.label')"
              v-model="element.config.sliderSettings.value.speed">
              </sw-text-field>

              {# gutter #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.gutter.label')"
              v-model="element.config.sliderSettings.value.gutter">
              </sw-text-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# loop #}
              <sw-switch-field
              :disabled="element.config.sliderSettings.value.rewind"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.loop.label')"
              v-model="element.config.sliderSettings.value.loop">
              </sw-switch-field>

              {# rewind #}
              <sw-switch-field
              :disabled="element.config.sliderSettings.value.loop || element.config.sliderSettings.value.animation.includes('gallery')"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.general.fields.rewind.label')"
              v-model="element.config.sliderSettings.value.rewind">
              </sw-switch-field>
            </sw-container>
          </div>
        {% endblock %}

        {# content #}
        {% block sw_cms_el_config_dual_teaser_content %}
          <div v-show="active === 'content'">
            <p class="section-title">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.layout.label') }}
            </p>
            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# layout-variant #}
              <sw-select-field
              v-model="element.config.settings.value.layoutVariant"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.layout-variant.label')">
                <option value="gradient-bottom">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.layout-variant.options.gradient-bottom.label') }}
                </option>
              </sw-select-field>

              {# content-animation #}
              <sw-select-field
              v-model="element.config.settings.value.contentAnimation"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.content-animation.label')">
                <option value="none">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.content-animation.options.none.label') }}
                </option>
              </sw-select-field>
            </sw-container>

            <p class="section-title">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.typography.label') }}
            </p>
            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# small-headline-size-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-size-mobile.label')"
              v-model="element.config.settings.value.smallHeadlineSizeMobile">
              </sw-text-field>

              {# small-headline-size-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-size-tablet.label')"
              v-model="element.config.settings.value.smallHeadlineSizeTablet">
              </sw-text-field>

              {# small-headline-size-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-size-desktop.label')"
              v-model="element.config.settings.value.smallHeadlineSizeDesktop">
              </sw-text-field>
            </sw-container>

            {# small-headline-weight #}
            <sw-select-field
            v-model="element.config.settings.value.smallHeadlineWeight"
            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-weight.label')">
              <option value="">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-weight.options.default.label') }}
              </option>
              <option
              v-for="i in 9"
              :key="i"
              :value="i + '00'">
                  {{ i + '00' }}
              </option>
            </sw-select-field>

            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# headline-size-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-size-mobile.label')"
              v-model="element.config.settings.value.headlineSizeMobile">
              </sw-text-field>

              {# headline-size-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-size-tablet.label')"
              v-model="element.config.settings.value.headlineSizeTablet">
              </sw-text-field>

              {# headline-size-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-size-desktop.label')"
              v-model="element.config.settings.value.headlineSizeDesktop">
              </sw-text-field>
            </sw-container>

            {# headline-weight #}
            <sw-select-field
            v-model="element.config.settings.value.headlineWeight"
            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-weight.label')">
              <option value="">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-weight.options.default.label') }}
              </option>
              <option
              v-for="i in 9"
              :key="i"
              :value="i + '00'">
                  {{ i + '00' }}
              </option>
            </sw-select-field>

            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# text-size-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-size-mobile.label')"
              v-model="element.config.settings.value.textSizeMobile">
              </sw-text-field>

              {# text-size-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-size-tablet.label')"
              v-model="element.config.settings.value.textSizeTablet">
              </sw-text-field>

              {# text-size-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-size-desktop.label')"
              v-model="element.config.settings.value.textSizeDesktop">
              </sw-text-field>
            </sw-container>

            {# text-weight #}
            <sw-select-field
            v-model="element.config.settings.value.textWeight"
            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-weight.label')">
              <option value="">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-weight.options.default.label') }}
              </option>
              <option
              v-for="i in 9"
              :key="i"
              :value="i + '00'">
                  {{ i + '00' }}
              </option>
            </sw-select-field>

            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# button-label-size-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-label-size-mobile.label')"
              v-model="element.config.settings.value.buttonLabelSizeMobile">
              </sw-text-field>

              {# button-label-size-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-label-size-tablet.label')"
              v-model="element.config.settings.value.buttonLabelSizeTablet">
              </sw-text-field>

              {# button-label-size-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-label-size-desktop.label')"
              v-model="element.config.settings.value.buttonLabelSizeDesktop">
              </sw-text-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# button-label-weight #}
              <sw-select-field
              v-model="element.config.settings.value.buttonLabelWeight"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-label-weight.label')">
                <option value="">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-label-weight.options.default.label') }}
                </option>
                <option
                v-for="i in 9"
                :key="i"
                :value="i + '00'">
                    {{ i + '00' }}
                </option>
              </sw-select-field>

              {# button-variant #}
              <sw-select-field
              v-model="element.config.settings.value.buttonVariant"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-variant.label')">
                <option value="primary">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-variant.options.primary.label') }}
                </option>
                <option value="secondary">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-variant.options.secondary.label') }}
                </option>
                <option value="outline-primary">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-variant.options.outline-primary.label') }}
                </option>
                <option value="outline-secondary">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-variant.options.outline-secondary.label') }}
                </option>
              </sw-select-field>
            </sw-container>

            <p class="section-title">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.spacing.label') }}
            </p>
            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# small-headline-margin-bottom-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-margin-bottom-mobile.label')"
              v-model="element.config.settings.value.smallHeadlineMarginBottomMobile">
              </sw-text-field>

              {# small-headline-margin-bottom-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-margin-bottom-tablet.label')"
              v-model="element.config.settings.value.smallHeadlineMarginBottomTablet">
              </sw-text-field>

              {# small-headline-margin-bottom-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-margin-bottom-desktop.label')"
              v-model="element.config.settings.value.smallHeadlineMarginBottomDesktop">
              </sw-text-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# headline-margin-bottom-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-margin-bottom-mobile.label')"
              v-model="element.config.settings.value.headlineMarginBottomMobile">
              </sw-text-field>

              {# headline-margin-bottom-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-margin-bottom-tablet.label')"
              v-model="element.config.settings.value.headlineMarginBottomTablet">
              </sw-text-field>

              {# headline-margin-bottom-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-margin-bottom-desktop.label')"
              v-model="element.config.settings.value.headlineMarginBottomDesktop">
              </sw-text-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# text-margin-bottom-mobile #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-margin-bottom-mobile.label')"
              v-model="element.config.settings.value.textMarginBottomMobile">
              </sw-text-field>

              {# text-margin-bottom-tablet #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-margin-bottom-tablet.label')"
              v-model="element.config.settings.value.textMarginBottomTablet">
              </sw-text-field>

              {# text-margin-bottom-desktop #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-margin-bottom-desktop.label')"
              v-model="element.config.settings.value.textMarginBottomDesktop">
              </sw-text-field>
            </sw-container>

            <p class="section-title">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.content.colors.label') }}
            </p>
            <sw-container
            columns="1fr 1fr 1fr"
            gap="20px">
              {# small-headline-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.small-headline-color.label')"
              v-model="element.config.settings.value.smallHeadlineColor"
              colorOutput="hex"
              :zIndex="1000">
              </sw-colorpicker>

              {# headline-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.headline-color.label')"
              v-model="element.config.settings.value.headlineColor"
              colorOutput="hex"
              :zIndex="1000">
              </sw-colorpicker>

              {# text-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.text-color.label')"
              v-model="element.config.settings.value.textColor"
              colorOutput="hex"
              :zIndex="1000">
              </sw-colorpicker>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# button-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.button-color.label')"
              v-model="element.config.settings.value.buttonColor"
              colorOutput="hex"
              :zIndex="1000"
              class="mb-0">
              </sw-colorpicker>

              {# content-background-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.content.fields.content-background-color.label')"
              v-model="element.config.settings.value.contentBackgroundColor"
              colorOutput="hex"
              :zIndex="1000"
              class="mb-0">
              </sw-colorpicker>
            </sw-container>
          </div>
        {% endblock %}

        {# navigation #}
        {% block sw_cms_el_config_dual_teaser_navigation %}
          <div v-show="active === 'navigation'">
            <p class="section-title">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.controls.label') }}
            </p>
            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# controls #}
              <sw-switch-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls.label')"
              v-model="element.config.sliderSettings.value.controls">
              </sw-switch-field>

              {# mouse-drag #}
              <sw-switch-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.mouse-drag.label')"
              :disabled="!element.config.sliderSettings.value.controls"
              v-model="element.config.sliderSettings.value.mouseDrag">
              </sw-switch-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# controls-variant #}
              <sw-select-field
              v-model="element.config.settings.value.controlsVariant"
              :disabled="!element.config.sliderSettings.value.controls"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-variant.label')">
                <option value="icon">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-variant.options.icon.label') }}
                </option>
              </sw-select-field>

              {# controls-icon-variant #}
              <sw-select-field
              v-model="element.config.settings.value.controlsIconVariant"
              :disabled="!element.config.sliderSettings.value.controls"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-icon-variant.label')">
                <option value="arrow">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-icon-variant.options.arrow.label') }}
                </option>
              </sw-select-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# controls-position #}
              <sw-select-field
              v-model="element.config.settings.value.controlsPosition"
              :disabled="!element.config.sliderSettings.value.controls"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-position.label')">
                <option value="horizontal-inside-center-edges">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-position.options.horizontal-inside-center-edges.label') }}
                </option>
                <option value="horizontal-outside-center-edges">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-position.options.horizontal-outside-center-edges.label') }}
                </option>
              </sw-select-field>

              {# controls-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-color.label')"
              :disabled="!element.config.sliderSettings.value.controls"
              v-model="element.config.settings.value.controlsColor"
              colorOutput="hex"
              :zIndex="1000">
              </sw-colorpicker>
            </sw-container>

            {#
            <sw-container
            columns="1fr 1fr"
            gap="20px">
              controls-custom-image-previous
              <sw-media-compact-upload-v2
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-custom-image-previous.label')"
              :disabled="!element.config.sliderSettings.value.controls"
              :source="controlsCustomImagePreviousPreview"
              :uploadTag="controlsCustomImagePreviousUploadTag"
              :defaultFolder="cmsPageState.pageEntityName"
              fileAccept="image/*"
              @media-upload-remove-image="onRemoveControlsCustomImagePrevious"
              @selection-change="onChangeControlsCustomImagePrevious">
              </sw-media-compact-upload-v2>

              <sw-upload-listener
              :uploadTag="controlsCustomImagePreviousUploadTag"
              autoUpload
              @media-upload-finish="onFinishUploadControlsCustomImagePrevious">
              </sw-upload-listener>

              controls-custom-image-next
              <sw-media-compact-upload-v2
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.controls-custom-image-next.label')"
              :disabled="!element.config.sliderSettings.value.controls"
              :source="controlsCustomImageNextPreview"
              :uploadTag="controlsCustomImageNextUploadTag"
              :defaultFolder="cmsPageState.pageEntityName"
              fileAccept="image/*"
              @media-upload-remove-image="onRemoveControlsCustomImageNext"
              @selection-change="onChangeControlsCustomImageNext">
              </sw-media-compact-upload-v2>

              <sw-upload-listener
              :uploadTag="controlsCustomImageNextUploadTag"
              autoUpload
              @media-upload-finish="onFinishUploadControlsCustomImageNext">
              </sw-upload-listener>
            </sw-container>
            #}

            <p class="section-title">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.navigation.label') }}
            </p>
            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# nav #}
              <sw-switch-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav.label')"
              v-model="element.config.sliderSettings.value.nav">
              </sw-switch-field>

              {# nav-color #}
              <sw-colorpicker
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-color.label')"
              :disabled="!element.config.sliderSettings.value.nav"
              v-model="element.config.settings.value.navColor"
              colorOutput="hex"
              :zIndex="1000">
              </sw-colorpicker>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# nav-variant #}
              <sw-select-field
              v-model="element.config.settings.value.navVariant"
              :disabled="!element.config.sliderSettings.value.nav"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-variant.label')">
                <option value="dots-opacity">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-variant.options.dots-opacity.label') }}
                </option>
              </sw-select-field>

              {# nav-size #}
              <sw-select-field
              v-model="element.config.settings.value.navSize"
              :disabled="!element.config.sliderSettings.value.nav"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-size.label')">
                <option value="small">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-size.options.small.label') }}
                </option>
                <option value="medium">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-size.options.medium.label') }}
                </option>
                <option value="large">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-size.options.large.label') }}
                </option>
              </sw-select-field>
            </sw-container>

            {# nav-position #}
            <sw-select-field
            v-model="element.config.settings.value.navPosition"
            :disabled="!element.config.sliderSettings.value.nav"
            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-position.label')"
            class="mb-0">
              <option value="vertical-center-right">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-position.options.vertical-center-right.label') }}
              </option>
              <option value="vertical-center-left">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-position.options.vertical-center-left.label') }}
              </option>
              <option value="horizontal-bottom-center">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-position.options.horizontal-bottom-center.label') }}
              </option>
              <option value="horizontal-bottom-right">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-position.options.horizontal-bottom-right.label') }}
              </option>
              <option value="horizontal-bottom-left">
                {{ $tc('sw-cms.elements.solid-ase.content-slider.config.navigation.fields.nav-position.options.horizontal-bottom-left.label') }}
              </option>
            </sw-select-field>
          </div>
        {% endblock %}

        {# autoplay #}
        {% block sw_cms_el_config_dual_teaser_autoplay %}
          <div v-show="active === 'autoplay'">
            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# autoplay #}
              <sw-switch-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.fields.autoplay.label')"
              v-model="element.config.sliderSettings.value.autoplay">
              </sw-switch-field>

              {# autoplay-direction #}
              <sw-select-field
              v-model="element.config.sliderSettings.value.autoplayDirection"
              :disabled="!element.config.sliderSettings.value.autoplay"
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.fields.autoplay-direction.label')">
                <option value="forward">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.fields.autoplay-direction.options.forward.label') }}
                </option>
                <option value="backward">
                  {{ $tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.fields.autoplay-direction.options.backward.label') }}
                </option>
              </sw-select-field>
            </sw-container>

            <sw-container
            columns="1fr 1fr"
            gap="20px">
              {# autoplay-timeout #}
              <sw-text-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.fields.autoplay-timeout.label')"
              :disabled="!element.config.sliderSettings.value.autoplay"
              v-model="element.config.sliderSettings.value.autoplayTimeout"
              class="mb-0">
              </sw-text-field>

              {# autoplay-hoverpause #}
              <sw-switch-field
              :label="$tc('sw-cms.elements.solid-ase.content-slider.config.autoplay.fields.autoplay-hoverpause.label')"
              :disabled="!element.config.sliderSettings.value.autoplay"
              v-model="element.config.sliderSettings.value.autoplayHoverpause"
              class="mb-0">
              </sw-switch-field>
            </sw-container>
          </div>
        {% endblock %}

        {# custom #}
        {% block sw_cms_el_config_dual_teaser_custom %}
          <div v-show="active === 'custom'">
            {# custom-css #}
            <sw-code-editor
            :label="$tc('sw-cms.elements.solid-ase.content-slider.config.custom.fields.custom-css.label')"
            v-model="element.config.settings.value.customCss"
            class="mb-0">
            </sw-code-editor>
            <p class="hint">
              {{ $tc('sw-cms.elements.solid-ase.content-slider.config.custom.fields.custom-css.slider-class') }}:
              <code>dual-teaser-{{ element.id }}</code>
            </p>
          </div>
        {% endblock %}
      </template>
    </sw-tabs>
  </div>
{% endblock %}