{% block sw_cms_element_text_bullets_preview %}
    <div class="sw-cms-el-preview-text-bullets">
        <img :src="'/spstheme/img/custom-elements/text&bullets.png' | asset">
    </div>
{% endblock %}
