{% block component_review_point %}
    {% if size is not defined %}
        {% set size = 'xs' %}
    {% endif %}

    <span class="product-review-point">
        {% if type == 'half' %}
            <div class="point-container">
                <div class="point-rating point-partial-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11"><g><g><path fill="none" stroke="#5b6e74" stroke-miterlimit="20" d="M10.915 3.725v0l-2.871-.417v0L6.76.708a.422.422 0 0 0-.727 0l-1.286 2.6v0l-2.871.417a.406.406 0 0 0-.226.692L3.73 6.442v0l-.49 2.86a.406.406 0 0 0 .588.428l2.568-1.35v0l2.568 1.35a.406.406 0 0 0 .589-.428l-.49-2.86v0l2.078-2.025a.406.406 0 0 0-.225-.692z"/></g></g></svg>
                </div>
                <div class="point-rating point-partial" style="clip-path: inset(0 {{ (1 - left) * 100 }}% 0 0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><g><g><path fill="#5b6e74" d="M9.533 3.725L6.66 3.308 5.378.708a.422.422 0 0 0-.727 0l-1.285 2.6-2.872.417a.406.406 0 0 0-.225.692l2.078 2.025-.49 2.86a.406.406 0 0 0 .588.428l2.568-1.35 2.569 1.35a.406.406 0 0 0 .588-.428l-.49-2.86 2.078-2.025a.406.406 0 0 0-.225-.692z"/></g></g></svg>
                </div>
            </div>
        {% elseif type == 'blank' %}
            <div class="point-container">
                <div class="point-rating point-blank">
                   <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><g><g><path fill="#5b6e74" d="M9.533 3.725L6.66 3.308 5.378.708a.422.422 0 0 0-.727 0l-1.285 2.6-2.872.417a.406.406 0 0 0-.225.692l2.078 2.025-.49 2.86a.406.406 0 0 0 .588.428l2.568-1.35 2.569 1.35a.406.406 0 0 0 .588-.428l-.49-2.86 2.078-2.025a.406.406 0 0 0-.225-.692z"/></g></g></svg>
                </div>
            </div>
        {% else %}
            <div class="point-container">
                <div class="point-rating point-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><g><g><path fill="#5b6e74" d="M9.533 3.725L6.66 3.308 5.378.708a.422.422 0 0 0-.727 0l-1.285 2.6-2.872.417a.406.406 0 0 0-.225.692l2.078 2.025-.49 2.86a.406.406 0 0 0 .588.428l2.568-1.35 2.569 1.35a.406.406 0 0 0 .588-.428l-.49-2.86 2.078-2.025a.406.406 0 0 0-.225-.692z"/></g></g></svg>
                </div>
            </div>
        {% endif %}
    </span>
{% endblock %}
