{% block sw_cms_element_content_slider_preview %}
    <div class="sw-cms-el-preview-content-slider">
        <img :src="'/spstheme/img/custom-elements/contentSlider.png' | asset">
    </div>
{% endblock %}
