

.sw-cms-el-info-circles{
    display: grid;
    max-width: 100%;
    width: 100%;
    position: relative;
  .image{
      top: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.is--cover {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.is--stretch {
        img {
            width: 100%;
        }
    }
}