{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_actions_account %}{% endblock %}

{% block layout_header_search %}{% endblock %}

{% block layout_top_bar %}{% endblock %}

{% block layout_header_navigation_toggle %}
{% endblock %}

{% block layout_header_search_toggle %}
    <div class="col-auto">
        <div class="career btn">
            <span class="top-bar-nav-text">
                {{ "spsTheme.header.careerLabel"|trans|sw_sanitize }}
            </span>
        </div>
    </div>
    <div class="col-auto d-none d-xl-block">
        {% sw_include '@Storefront/storefront/layout/header/actions/custom-service-menu-widget.html.twig' %}
    </div>
    <div class="col-auto">
        {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
    </div>
    <div class="col-auto">
        <div class="account-menu">
            {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block layout_header_actions_cart %}
    {{ parent() }}

    <div class="col d-none d-sm-block d-xl-none">
        <div class="menu-button">
            <button class="btn nav-main-toggle-btn header-actions-btn"
                type="button"
                data-offcanvas-menu="true"
                aria-label="{{ "general.menuLink"|trans|striptags }}">
                {% sw_icon 'stack' %}
            </button>
        </div>
    </div>
{% endblock %}

{% block layout_header_logo %}
    <div class="col-auto header-logo-col">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>

    <div class="col-auto d-sm-none mobile-trigger">
        <div class="menu-button">
            <button class="btn nav-main-toggle-btn header-actions-btn"
                type="button"
                data-offcanvas-menu="true"
                aria-label="{{ "general.menuLink"|trans|striptags }}">
                {% sw_icon 'stack' %}
                {% sw_icon 'x' %}
            </button>
        </div>
    </div>
{% endblock %}


