{% sw_extends'@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    <div class="search-block">
        <div class="header-search">
            <form action="{{ path('frontend.search.page') }}"
                  method="get"
                  data-search-form="true"
                  data-url="{{ path('frontend.search.suggest') }}?search="
                  class="header-search-form">
                {% block layout_header_search_input_group %}
                    <div class="input-group">
                        {% block layout_header_search_input %}
                            <input type="search"
                                   name="search"
                                   class="form-control header-search-input"
                                   autocomplete="off"
                                   autocapitalize="off"
                                   placeholder="{{ "header.searchPlaceholder"|trans|striptags }}"
                                   aria-label="{{ "header.searchPlaceholder"|trans|striptags }}"
                                   value="{{ page.searchTerm }}"
                            >
                        {% endblock %}

                        {% block layout_header_search_button %}
                            <div class="input-group-append">
                                <button type="submit"
                                        class="btn header-search-btn"
                                        aria-label="{{ "header.searchButton"|trans|striptags }}">
                                    <span class="header-search-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18">
                                            <path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-miterlimit="20" stroke-width="2" d="M17 17l-4.799-4.863"/>
                                            <path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M1 7.5a6.5 6.5 0 1 1 13 0 6.5 6.5 0 0 1-13 0z"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}