{% block sw_cms_element_newsletter_config %}
    <div class="sw-cms-el-config-newsletter">
        {% block sw_cms_element_newsletter_config_media_upload %}
            <sw-cms-mapping-field :label="$tc('sw-cms.elements.image.label')" valueTypes="entity" entity="media" v-model="element.config.media">
                <sw-media-upload-v2 variant="regular"
                                 :uploadTag="uploadTag"
                                 :source="previewSource"
                                 :allowMultiSelect="false"
                                 :defaultFolder="cmsPageState.pageEntityName"
                                 :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                 @media-upload-sidebar-open="onOpenMediaModal"
                                 @media-upload-remove-image="onImageRemove">
                </sw-media-upload-v2>

                <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                    <img :src="demoValue.url" v-if="demoValue.url">
                    <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                    </sw-alert>
                </div>
            </sw-cms-mapping-field>

            <sw-upload-listener
                    :uploadTag="uploadTag"
                    autoUpload
                    @media-upload-finish="onImageUpload">
            </sw-upload-listener>
        {% endblock %}

        <sw-text-field v-model="element.config.headline.value" label="Headline">
        </sw-text-field>

        <sw-text-field v-model="element.config.subline.value" label="Topic">
        </sw-text-field>

        <sw-text-editor v-model="element.config.text.value" label="Description"
                :allowInlineDataMapping="true">
        </sw-text-editor>

        <sw-text-field v-model="element.config.buttonText.value" label="Button Label">
        </sw-text-field>

        <sw-text-field v-model="element.config.privacyText.value" label="Privacy text">
        </sw-text-field>

        <br><br>

        <sw-text-field v-model="element.config.employeeName.value" label="Employee name">
        </sw-text-field>

        <sw-text-field v-model="element.config.employeeTitle.value" label="Employee title">
        </sw-text-field>

        <sw-text-field v-model="element.config.employeePhone.value" label="Employee phone">
        </sw-text-field>

        {% block sw_cms_element_newsletter_config_media_modal %}
            <sw-media-modal-v2
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal">
            </sw-media-modal-v2>
        {% endblock %}

    </div>
{% endblock %}
