{% block sw_cms_element_product_grid_preview %}
    <div class="sw-cms-el-preview-product-grid">
        <img :src="'/spstheme/img/custom-elements/product-grid.png' | asset">
    </div>
{% endblock %}
