{% block sw_cms_element_product_grid %}
    <div class="sw-cms-el-product-grid" :class="classes" :style="verticalAlignStyle">


        {% block sw_cms_element_product_grid_content %}
            <div class="sw-cms-el-product-grid__content">
                <img :src="'/spstheme/img/custom-elements/product-grid.png' | asset">
            </div>
        {% endblock %}
    </div>
{% endblock %}
