{% block sw_cms_block_sps_slider %}
<div class="sw-cms-block-sps-slider">
    <slot name="spsslider">
        {% block sw_cms_block_text_slot_sps_slider_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
