{% block sw_cms_element_third_grid %}
    <div class="sw-cms-el-third_grid">
        <img :src="'/spstheme/img/custom-elements/third-grid.png' | asset" alt="thirdGrid" width="100%">
    </div>
{% endblock %}
