@import "~scss/variables";

.sw-cms-el-third-grid {
    display: grid;
    max-width: 100%;

    img {
        display: block;
        max-width: 100%;
    }

    &.is--cover {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.is--stretch {
        img {
            width: 100%;
        }
    }
}
