.sw-cms-el-subcategory-teaser {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  .btn {
    background: #f9fafb;
    color: #52667a;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 24px;
    font-size: 14px;
    outline: none;
    font-weight: 600;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    vertical-align: middle;
    text-decoration: none;
    user-select: none;
    margin: 0;
    position: relative;
    line-height: 36px;
    border: 0 none;

    &-primary {
      background-color: #758ca3;
      color: #ffffff;
    }
  }

  .slide {
    width: 100%;

    &.gutter {
      padding: 0 10px;
    }
  }

  .content-container {
    display: flex;
    align-items: center;
    min-height: 400px;
    padding: 20px;
    background-color: #f0f2f5;

    .small-headline {
      padding-bottom: 10px;
    }

    .text {
      padding-bottom: 20px;
    }
  }

  .controls,
  .nav {
    position: absolute;
    display: flex;
  }

  .controls {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;

    .btn {
      width: 48px;
      height: 48px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .nav {
    bottom: 10px;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

    > div {
      width: 16px;
      height: 16px;
      opacity: 0.5;
      margin: 0 5px;
      border-radius: 999px;
      background-color: #758ca3;

      &:first-child {
        opacity: 1;
      }
    }
  }

  &.gutter {
    margin: 0 -10px;
  }
}