{% block listing_view_mode_base %}
    <div class="listing-view-button listing-view-type-grid" data-view="grid">
        <div class="inner">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"><defs><clipPath id="qjpta"><path fill="#fff" d="M0 7.5v-7h7v7z"/></clipPath><clipPath id="qjptb"><path fill="#fff" d="M9 7.5v-7h7v7z"/></clipPath><clipPath id="qjptc"><path fill="#fff" d="M0 16.5v-7h7v7z"/></clipPath><clipPath id="qjptd"><path fill="#fff" d="M9 16.5v-7h7v7z"/></clipPath></defs><g><g><g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M0 7.5v0-7 0h7v7z" clip-path="url(&quot;#qjpta&quot;)"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M9 7.5v0-7 0h7v7z" clip-path="url(&quot;#qjptb&quot;)"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M0 16.5v0-7 0h7v7z" clip-path="url(&quot;#qjptc&quot;)"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M9 16.5v0-7 0h7v7z" clip-path="url(&quot;#qjptd&quot;)"/></g></g></g></g></svg>
        </div>
    </div>
    <div class="listing-view-button listing-view-type-list" data-view="list">
        <div class="inner">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"><defs><clipPath id="gdxma"><path fill="#fff" d="M0 7.5v-7h7v7z"/></clipPath><clipPath id="gdxmb"><path fill="#fff" d="M0 16.5v-7h7v7z"/></clipPath></defs><g><g><g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M0 7.5v0-7 0h7v7z" clip-path="url(&quot;#gdxma&quot;)"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M0 16.5v0-7 0h7v7z" clip-path="url(&quot;#gdxmb&quot;)"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M10 2.5h8"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M10 11.5h8"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M10 5.5h8"/></g><g><path fill="none" stroke="#cd0f43" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M10 14.5h8"/></g></g></g></g></svg>
        </div>
    </div>
{% endblock %}