{% sw_extends '@Storefront/storefront/component/pagination.html.twig' %}
{% block component_pagination %}
    <ul class="pagination">
        <li class="page-item page-prev{% if currentPage == 1 %} disabled{% endif %}">
            <input type="radio"
                   {% if currentPage == 1 %}disabled="disabled"{% endif %}
                   name="p"
                   id="p-prev"
                   value="{{ currentPage - 1 }}"
                   class="d-none"
                   title="pagination">

            <label class="pagination-link" for="p-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><g><g transform="rotate(-90 5.5 10)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M14.939 5.313v0l-9.626 9.626v0l-9.626-9.626v0"/></g></g></svg>
            </label>
        </li>
        <li class="page-item">
            {{ currentPage }}/{{ totalPages }}
        </li>
        <li class="page-item page-next{% if currentPage == totalPages %} disabled{% endif %}">
            <input type="radio"
                   {% if currentPage == totalPages %}disabled="disabled"{% endif %}
                   name="p"
                   id="p-next"
                   value="{{ currentPage + 1 }}"
                   class="d-none"
                   title="pagination">

            <label class="pagination-link" for="p-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20"><g><g transform="rotate(-90 5.5 10)"><path fill="none" stroke="#cd0f43" stroke-linecap="square" stroke-miterlimit="20" d="M14.939 5.313v0l-9.626 9.626v0l-9.626-9.626v0"/></g></g></svg>
            </label>
        </li>
    </ul>
{% endblock %}
