{% block sw_cms_block_breadcrumb %}
<div class="sw-cms-block-breadcrumb">
    <slot name="breadcrumb">
        {% block sw_cms_block_text_slot_breadcrumb_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
