{% block block_product_slider %}
    {% set element = block.slots.getSlot('productgrid') %}
    {% set columns = 1 %}
    {% set products = searchProducts(context.context) %}
    {% set medias = searchProductsMedia(context.context) %}



    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_product_slider_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
