{% block block_breadcrumb %}
    {% set element = block.slots.getSlot('breadcrumb') %}
    {% set columns = 1 %}
    <div class="col-12 p-0" data-cms-element-id="{{ element.id }}">
        {% block block_breadcrumb_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}