{% block block_newsletter %}
    {% set element = block.slots.getSlot('newsletter') %}
    {% set columns = 1 %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_newsletter_inner %}
            <div class="cms-block  cms-block-form">
                <div class="cms-element-form">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}



