{% block sw_cms_element_dual_text_image_preview %}
    <div class="sw-cms-el-preview-dual-text-image">
        <img :src="'/spstheme/img/custom-elements/imageWideText.png' | asset">
    </div>
{% endblock %}
