{% block sw_cms_block_text_bullets %}
<div class="sw-cms-block-text-bullets">
    <slot name="textbullets">
        {% block sw_cms_block_text_slot_text_bullets_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
