{% sw_extends '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
{% block layout_header_actions_account_widget_dropdown_button %}
    <button class="btn account-menu-btn header-actions-btn"
            type="button"
            id="accountWidget"
            data-offcanvas-account-menu="true"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="{{ "account.myAccount"|trans|striptags }}"
            title="{{ "account.myAccount"|trans|striptags }}">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="SVGDoc" width="19" height="17" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 19 17"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Gruppe 166</title><g><title>account</title><g><title>Pfad 44</title><path d="M17.44702,16.47086c-0.41421,0 -0.75,-0.33578 -0.75,-0.75c0,-1.14965 -0.66424,-2.24885 -1.87037,-3.09511c-1.28695,-0.90297 -3.01135,-1.40025 -4.85555,-1.40025h-1.49518c-1.8442,0 -3.5686,0.49728 -4.85555,1.40025c-1.20613,0.84626 -1.87037,1.94546 -1.87037,3.09511c0,0.41422 -0.33579,0.75 -0.75,0.75c-0.41422,0 -0.75,-0.33578 -0.75,-0.75c0,-1.6526 0.89099,-3.18788 2.50883,-4.32301c1.53703,-1.07843 3.56739,-1.67235 5.71709,-1.67235h1.49518c2.14969,0 4.18006,0.59392 5.71709,1.67235c1.61784,1.13513 2.50883,2.67041 2.50883,4.32301c0,0.41422 -0.33578,0.75 -0.75,0.75z" fill="#5b6e74" fill-opacity="1"></path></g><g><title>Ellipse 6</title><path d="M5.75,5.5c0,-2.06776 1.68224,-3.75 3.75,-3.75c2.06776,0 3.75,1.68224 3.75,3.75c0,2.06776 -1.68224,3.75 -3.75,3.75c-2.06776,0 -3.75,-1.68224 -3.75,-3.75zM4.25,5.5c0,2.89486 2.35514,5.25 5.25,5.25c2.89486,0 5.25,-2.35514 5.25,-5.25c0,-2.89486 -2.35514,-5.25 -5.25,-5.25c-2.89486,0 -5.25,2.35514 -5.25,5.25z" fill="#5b6e74" fill-opacity="1"></path></g></g></g></g></svg>
    </button>
{% endblock %}