{% sw_extends '@storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
    <span class="header-cart-icon">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="SVGDoc" width="18" height="18" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 18 18"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Gruppe 169</title><g><title>Gruppe 168</title><g><title>shopping-cart</title><g><title>Ellipse 7</title><path d="M3.5127,16c0,-0.55228 0.44772,-1 1,-1c0.55228,0 1,0.44772 1,1c0,0.55228 -0.44772,1 -1,1c-0.55228,0 -1,-0.44772 -1,-1z" fill="#5b6e74" fill-opacity="1"></path></g><g><title>Pfad 50</title><path d="M15.5127,15c0.55228,0 1,0.44772 1,1c0,0.55228 -0.44772,1 -1,1c-0.55228,0 -1,-0.44772 -1,-1c0,-0.55228 0.44772,-1 1,-1z" fill="#5b6e74" fill-opacity="1"></path></g><g><title>Ellipse 9</title><path d="M4.2627,16c0,-0.13785 0.11215,-0.25 0.25,-0.25c0.13785,0 0.25,0.11215 0.25,0.25c0,0.13785 -0.11215,0.25 -0.25,0.25c-0.13785,0 -0.25,-0.11215 -0.25,-0.25zM2.7627,16c0,0.96495 0.78505,1.75 1.75,1.75c0.96495,0 1.75,-0.78505 1.75,-1.75c0,-0.96495 -0.78505,-1.75 -1.75,-1.75c-0.96495,0 -1.75,0.78505 -1.75,1.75z" fill="#5b6e74" fill-opacity="1"></path></g><g><title>Ellipse 10</title><path d="M15.2627,16c0,-0.13785 0.11215,-0.25 0.25,-0.25c0.13785,0 0.25,0.11215 0.25,0.25c0,0.13785 -0.11215,0.25 -0.25,0.25c-0.13785,0 -0.25,-0.11215 -0.25,-0.25zM13.7627,16c0,0.96495 0.78505,1.75 1.75,1.75c0.96495,0 1.75,-0.78505 1.75,-1.75c0,-0.96495 -0.78505,-1.75 -1.75,-1.75c-0.96495,0 -1.75,0.78505 -1.75,1.75z" fill="#5b6e74" fill-opacity="1"></path></g><g><title>Pfad 48</title><path d="M4.59781,5.48796h11.18677l-1.19518,5.97592h-9.19481zM15.93969,12.36097l1.49518,-7.47592c0.04407,-0.22033 -0.01297,-0.44882 -0.15543,-0.62258c-0.14245,-0.17377 -0.35531,-0.27451 -0.58,-0.27451h-12.30163l-0.41161,-3.08708c-0.04968,-0.37261 -0.36752,-0.65088 -0.74342,-0.65088h-2.24277c-0.41422,0 -0.75,0.33579 -0.75,0.75c0,0.41421 0.33578,0.75 0.75,0.75h1.58613l1.4084,10.563c0.04968,0.37261 0.36752,0.65088 0.74342,0.65088h10.46629c0.35751,0 0.66532,-0.25235 0.73544,-0.60291z" fill="#5b6e74" fill-opacity="1"></path></g></g></g></g></g></svg>
    </span>
    {% if page.cart.lineItems|length > 0 %}
        <span class="badge badge-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
    {% endif %}

{% endblock %}