{% block layout_header_custom_service_menu_widget %}

    {% if page.header.serviceMenu|length > 0 %}
        <div class="top-bar-nav-item service-nav-block top-bar-menu">
            {% block layout_header_actions_service_menu_list %}
                <div class="service-menu dropdown">
                    <button class="btn  "
                            type="button"
                            id="serviceMenuDropdown-header"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="top-bar-nav-text">
                            {{ "spsTheme.header.serviceMenuLabel"|trans|sw_sanitize }}
                        </span>
                    </button>
                    <div class="dropdown-menu "
                         aria-labelledby="serviceMenuDropdown-header">
                        {% for category in page.header.serviceMenu %}
                            {% set externalLink = category.translated.externalLink %}
                            <a class="top-bar-list-item dropdown-item"
                               href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}"
                               title="{{ category.translated.name }}">{{ category.translated.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}