{% sw_extends '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}

{% block layout_header_actions_wishlist_widget %}
    <span class="header-wishlist-icon">
        <?xml version="1.0" encoding="UTF-8"?>
    <svg id="SVGDoc" width="19" height="17" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 19 17"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>Gruppe 167</title><g><title>favorite</title><g><title>Pfad 47</title><path d="M9.84787,3.42143c0.13883,-0.20921 0.29741,-0.40346 0.47134,-0.57739c0.7055,-0.7055 1.64354,-1.09404 2.64132,-1.09404c0.99779,0 1.93583,0.38854 2.64133,1.09404c1.45643,1.45643 1.45643,3.82623 0,5.28266l-6.3796,6.3796l-6.37822,-6.3796c-1.45643,-1.45643 -1.45643,-3.82623 0,-5.28266c0.7055,-0.7055 1.64354,-1.09404 2.64132,-1.09404c0.99779,0 1.93583,0.38854 2.64133,1.09404c0.17395,0.17395 0.33253,0.36821 0.47134,0.57739c0.13897,0.20941 0.37359,0.3353 0.62492,0.3353c0.25133,0 0.48595,-0.12589 0.62492,-0.3353zM5.48536,0.25001c-1.39845,0 -2.71317,0.54457 -3.70198,1.53338c-2.04128,2.04128 -2.04128,5.3627 -0.00006,7.40392l6.90849,6.90999c0.14065,0.14068 0.33142,0.21972 0.53035,0.21973c0.00003,0 0.00002,0 0.00004,0c0.1989,0 0.38969,-0.07903 0.53033,-0.21967l6.90999,-6.90999c2.04128,-2.04128 2.04128,-5.3627 0,-7.40398c-0.98881,-0.98881 -2.30353,-1.53338 -3.70199,-1.53338c-1.39845,0 -2.71317,0.54457 -3.70197,1.53337c-0.01192,0.01191 -0.0238,0.02391 -0.03561,0.03596c-0.01181,-0.01205 -0.02368,-0.02404 -0.0356,-0.03596c-0.98881,-0.98881 -2.30353,-1.53338 -3.70199,-1.53338z" fill="#5b6e74" fill-opacity="1"></path></g></g></g></g></svg>
    </span>
    {% set wishlistStorageOptions = {
        listPath: path('frontend.wishlist.product.list'),
        mergePath: path('frontend.wishlist.product.merge'),
        tokenMergePath: sw_csrf('frontend.wishlist.product.merge', {'mode': 'token'}),
        pageletPath: path('frontend.wishlist.product.merge.pagelet'),
        tokenPageletPath: sw_csrf('frontend.wishlist.product.merge.pagelet', {'mode': 'token'}),
    } %}
    <span class="badge badge-primary header-wishlist-badge"
          id="wishlist-basket"
          data-wishlist-storage="true"
          data-wishlist-storage-options="{{ wishlistStorageOptions|json_encode }}"
          data-wishlist-widget="true"
    ></span>
{% endblock %}