.sw-cms-el-config-info-circles {

    .sw-cms-mapping-field .sw-cms-mapping-field__info{
        height: 40px;
    }
    .sw-cms-mapping-field .sw-cms-mapping-field__label{
        font-size: 29px;
        line-height: 40px;
    }
    .info-circles-remove-entry{
        border: none;
        background: transparent;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        path{
            color: red;
        }
    }
    .info-circles-add-entry{
        margin-top: 20px;
        border: none;
        background: transparent;
        cursor: pointer;
        .sw-icon{
            height: 35px;
            width: 35px;
        }
        path{
            color: #1a9efe;
        }
    }
    .info-circle-box    {
        margin-bottom: 20px;
        position: relative;
    }

}
