{% block sw_cms_element_info_circles_config %}
    <div class="sw-cms-el-config-info-circles">

        <h2> Circles </h2>
        <div v-for="(item, index) in element.config.circles.value" :class="[`info-circle-box  is-index--${index}`]">

            <h4 v-html="`Circle ${index+1}`"></h4>
            <div class="item-bullet">

                <sw-text-field label="Gray text"
                               v-model="element.config.circles.value[index].grayText.value">
                </sw-text-field>

                <sw-text-field label="Red text"
                               v-model="element.config.circles.value[index].redText.value">
                </sw-text-field>

                <sw-field class="sw-cms-el-config-has-smt"
                      v-model="element.config.circles.value[index].hasSub.value"
                      type="switch"
                      label="has small sub text">
                </sw-field>

                <sw-text-field
                        v-if="element.config.circles.value[index].hasSub.value"
                        label="Subtext"
                        v-model="element.config.circles.value[index].subText.value">
                </sw-text-field>

            </div>

            <button class="info-circles-remove-entry">
                <sw-icon name="default-action-trash"
                         class="sw-remove-icon"
                         @click="removeElement(index)">
                </sw-icon>
            </button>

            <br>
        </div>
        <hr>
        <button class="info-circles-add-entry">

            <sw-icon name="default-basic-plus-circle"
                     class="sw-first-run-wizard-mailer-selection__selection-icon"
                     @click="addElement()">
                Add new item
            </sw-icon>
        </button>
    </div>
{% endblock %}
