{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_col %}
    {% for product in searchResult %}
        <div class="cms-listing-col col-auto">
            {% block element_product_listing_box %}
                {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                    'layout': boxLayout,
                    'displayMode': displayMode
                } %}
            {% endblock %}
        </div>
    {% endfor %}
{% endblock %}

{% block element_product_listing_pagination_nav_top %}{% endblock %}